{% from 'macros/mirc/form_macros.html' import render_input %}

<h4>
    <button type="button"
        class="btn btn-lg btn-block px-0 text-primary text-left border-light border-top-0 border-left-0 border-right-0 rounded-0"
        data-toggle="collapse" aria-expanded="true"
        data-target="#acp-collapse" aria-controls="acp-collapse"
        style="font-weight: 500;"
    >
        {{ form.animal_chemical_parameters.label.text }}&nbsp;
        <small class="text-muted">
            <i class="fa fa-eye-slash"></i>
        </small>
    </button>
</h4>

<div id="acp-collapse" class="collapse show">
    <div class="form-row mb-3">
        <div class="col-sm-auto">
            <label for="ca-chemical-filter">
                Chemical
            </label>
            <select id="ca-chemical-filter"
                class="ca-filter form-control form-control-sm"
            >
                {% for c in chemicals %}
                    <option value="{{ c.id }}">{{ c.name|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <label for="ca-animal-filter">
                Animal Product
            </label>
            <select id="ca-animal-filter"
                class="ca-filter form-control form-control-sm"
            >
                {% for p in products|selectattr('is_food') %}
                    {% if p.is_a('animal') %}
                        <option value="{{ p.id }}">{{ p.name|title }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="table-responsive">
    <table id="animal-chemical-parameters" class="table table-sm table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col"
                    class="border-top-0 border-left-0 border-primary align-middle"
                >
                    Parameter
                </th>
                <th scope="col" class="table-primary border-primary align-middle">
                    Value
                </th>
                <th scope="col" class="table-primary border-primary align-middle">
                    Unit
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="3" class="table-light align-middle text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var tbl = $('#animal-chemical-parameters tbody');
        var cFilter = $('#ca-chemical-filter');
        var pFilter = $('#ca-animal-filter');
        $('.ca-filter').change(function() {
            var c = cFilter.val();
            var p = pFilter.val();

            var filter = '.chemical-' + c + '.animal-' + p;

            var rows = tbl.find('tr');
            var relevant = rows.filter(filter);

            if (!relevant.length) {
                if (rows.length > 1) {
                    LoadingScreen.show('ac_params');
                }
                $.ajax({
                    url: '{{ url_for("mirc_scenario.get_form_fragment") }}',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: 'animal_chemical_parameter',
                        product: p,
                        chemical: c,
                        parent: '{{ form.parent.data or "" }}',
                        scenario_id: '{{ form.scenario_id.data or "" }}',
                        i: rows.length
                    })
                }).then(function(data) {
                    tbl.append(data);
                    rows = tbl.find('tr').hide();
                    rows.filter(filter).show();
                    if (pFilter.find(':selected').text() != 'Fish') {
                        // Hide Cooking Adjustment Factor for non-Fish
                        tbl.find('[id$="cooking_adjustment"]').closest('tr').hide();
                    }
                    // Enable popups
                    $('[data-toggle="popover"]').popover();
                }).always(function() {
                    LoadingScreen.hide('ac_params');
                });
            }
            else {
                rows.hide();
                relevant.show();
            }
        });
        cFilter.change();
    });
    </script>
</div>

<hr />
