
<h4>
    <button type="button"
        class="btn btn-lg btn-block px-0 text-primary text-left border-light border-top-0 border-left-0 border-right-0 rounded-0"
        data-toggle="collapse" aria-expanded="true"
        data-target="#hir-collapse" aria-controls="hir-collapse"
        style="font-weight: 500;"
    >
        {{ form.human_ingestion_parameters.label.text }}&nbsp;
        <small class="text-muted">
            <i class="fa fa-eye-slash"></i>
        </small>
    </button>
</h4>

<div id="hir-collapse" class="collapse show">
    <div class="form-row mb-3">
        <div class="col-sm-2">
            <label for="human-ir-age-filter">
                Life Stage
            </label>
            <select id="human-ir-age-filter"
                class="human-ir-filter form-control form-control-sm"
            >
                {% for age in ages|selectattr('name', '!=', 'Pregnant Mother') %}
                    <option value="{{ age.id }}">{{ age.name|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <label for="human-ir-percentile-filter">
                Percentile
            </label>
            <select id="human-ir-percentile-filter"
                class="human-ir-filter form-control form-control-sm"
            >
                {% for pct in percentiles|selectattr('name', '!=', 'None') %}
                    <option value="{{ pct.id }}">{{ pct.name|title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="table-responsive">
    <table id="human-ingestion-parameters" class="table table-sm table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col" class="table-primary border-primary">Product</th>
                <th scope="col" class="table-primary border-primary">Quantity</th>
                <th scope="col" class="table-primary border-primary">Units</th>
                <th scope="col" class="table-primary border-primary">
                    Fraction Contaminated
                </th>
                <th scope="col" class="table-primary border-primary">Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="6" class="table-light align-middle text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
    </div>
    <small class="form-text text-muted">
        All ingestion rates less than or equal to 0 will be ignored.
    </small>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var tbl = $('#human-ingestion-parameters tbody');
        var ageFilter = $('#human-ir-age-filter');
        var pctFilter = $('#human-ir-percentile-filter');
        $('.human-ir-filter').change(function() {
            var age = ageFilter.val();
            var pct = pctFilter.val();

            var filter = '.age-' + age + '.percentile-' + pct;
            
            var rows = tbl.find('tr');
            var relevant = rows.filter(filter);

            if (!relevant.length) {
                if (rows.length > 1) {
                    LoadingScreen.show('hir_params');
                }
                $.ajax({
                    url: '{{ url_for("mirc_scenario.get_form_fragment") }}',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: 'human_ingestion',
                        age: age,
                        percentile: pct,
                        parent: '{{ form.parent.data or "" }}',
                        scenario_id: '{{ form.scenario_id.data or "" }}',
                        i: rows.length
                    })
                }).then(function(data) {
                    tbl.append(data);
                    rows = tbl.find('tr').hide();
                    rows.filter(filter).show();
                    // Enable popups
                    $('[data-toggle="popover"]').popover();
                }).always(function() {
                    LoadingScreen.hide('hir_params');
                });
            }
            else {
                rows.hide();
                relevant.show();
            }
        });
        pctFilter.val(7).change(); // Default to Pmean

        tbl.on('click', 'td', function() {
            var check = $(this).find('[type="checkbox"]');
            check.prop('checked', !check.prop('checked')).change();
        });
        tbl.on('change', '[name$="-body_weight_adjusted"]', function() {
            var row = $(this.closest('tr'));
            var w = row.find('[name$="-weight_unit"]');
            var u = w.prev();
            if (this.checked) {
                w.show();
                u.addClass('input-group-prepend');
                u.find('.input-group-text')
                    .text('/ day /')
                    .removeClass('rounded-right');
            }
            else {
                w.hide();
                u.removeClass('input-group-prepend');
                u.find('.input-group-text')
                    .text('/ day')
                    .addClass('rounded-right');
            }
        });
        tbl.find('[name$="-body_weight_adjusted"]').change();
    });
    </script>
</div>

<hr />
