
<script>

window.TRIM = (function(trim) {
    var api = trim.api || {};

    var urls = {
        'chemicals_api.get_chemicals': '{{ url_for("chemicals_api.get_chemicals") }}',
        'scenario_api.get_scenario': '{{ url_for("scenario_api.get_scenario", id=0) }}',
        'scenario_api.update_scenario': '{{ url_for("scenario_api.update_scenario") }}',
        'scenario_api.copy_scenario': '{{ url_for("scenario_api.copy_scenario") }}',
        'scenario_api.delete_scenario': '{{ url_for("scenario_api.delete_scenario") }}',
        'scenario_api.export_for_mirc': '{{ url_for("scenario_api.export_for_mirc", scenario_id=0) }}',
        'scenario_api.get_parameters': '{{ url_for("scenario_api.get_parameters", scenario_id=0) }}',
        'scenario_api.get_scenario_met_data': '{{ url_for("scenario_api.get_scenario_met_data", scenario_id=0) }}',
        'scenario_api.get_scenario_seasonal_dynamics': '{{ url_for("scenario_api.get_scenario_seasonal_dynamics", scenario_id=0) }}',
        'scenario_api.get_scenario_runoff_matrix': '{{ url_for("scenario_api.get_scenario_runoff_matrix", scenario_id=0) }}',
        'scenario_api.get_scenario_chemicals': '{{ url_for("scenario_api.get_scenario_chemicals", scenario_id=0) }}',
        'scenario_api.get_last_results': '{{ url_for("scenario_api.get_last_results", scenario_id=0) }}',
        'scenario_api.run_result_scenario': '{{ url_for("scenario_api.run_result_scenario") }}',
        'scenario_api.run_getflow': '{{ url_for("scenario_api.run_getflow", scenario_id=0) }}',
        'general_api.stepfxn_check': '{{ url_for("scenario_api.check_stepfunction_status") }}',
        'scenario_api.clear_old_result': '{{ url_for("scenario_api.clear_old_result") }}',
        'scenario_api.get_result_scenario': '{{ url_for("scenario_api.get_result_scenario") }}',
        'scenario_api.poll_model_run_scenario': '{{ url_for("scenario_api.poll_model_run_scenario", id=0) }}',
        'scenario_api.reset_poll_model_run_scenario': '{{ url_for("scenario_api.reset_poll_model_run_scenario") }}',
        'scenario_api.check_execution_completion': '{{ url_for("scenario_api.check_execution_completion") }}',
        'scenario_api.fetch_run_results': '{{ url_for("scenario_api.fetch_run_results") }}',
        'parcels_api.create':'{{ url_for("parcels_api.create_parcel", scenario_id=0) }}',
        'parcels_api.get':'{{ url_for("parcels_api.get_parcels", scenario_id=0) }}',
        'parcels_api.update': '{{ url_for("parcels_api.update_parcel", scenario_id=0, id=-1) }}',
        'parcels_api.delete':'{{ url_for("parcels_api.delete_parcel", scenario_id=0, id=-1) }}',
        'file_api.parse': '{{ url_for("file_api.parse") }}',
        'file_api.parse_aermod': '{{ url_for("file_api.parse_aermod") }}',
        'file_api.upload_background_conc': '{{ url_for("file_api.upload_background_conc") }}',
        'file_api.load_json_form': '{{ url_for("file_api.load_json_form") }}',
        'file_api.parse_parcel': '{{ url_for("file_api.parse_parcel_upload") }}',
        'file_api.manage_misc_scen_file': '{{ url_for("file_api.manage_misc_scenario_file") }}',
        'file_api.parse_runoff_matrix': '{{ url_for("file_api.parse_runoff_matrix_upload") }}',
        'external_api.get_soil_data' : '{{ url_for("external_api_soil.get_soil_data", tillage="both") }}',
        'static': '{{ url_for("static", filename='/') }}'.replace('//', '/')
    };

    api.getUrl = function(name) {
        return urls[name];
    };

    api.getCSRF = function() {
        return '{{ csrf_token() }}';
    };


    trim.api = api;

	trim.trim_env_profile = '{{ config["TRIM_ENV_PROFILE"] }}';

    return trim;
})(window.TRIM || {});
</script>
