{% from 'macros/nav_macros.html' import render_nav_env_banner,
                                        render_nav_home,
                                        render_nav_item,
                                        render_nav_toggle %}

{{ render_nav_env_banner(config["TRIM_ENV_PROFILE"]) }}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">

        {{ render_nav_home(site_name) }}

        <ul class="navbar-nav navbar-right ml-auto">
            {% if current_user.is_authenticated %}
                {{ render_nav_item(
                    'Logout', url_for('security.logout'), icon='user-circle',
                    title=("Logout " + current_user.get_preferred_name())
                ) }}
            {% else %}
                {% if config['OAUTH2_PROVIDERS']['login_gov']['client_id'] %}
                    {{ render_nav_item(
                        'Login.gov', url_for('oauth2_login', provider_name='login_gov'), icon='user-circle'
                    ) }}
                {% else %}
                    {{ render_nav_item(
                        'Login', url_for('security.login'), icon='user-circle'
                    ) }}
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>