{% extends 'layout.html' %}

{% block content %}
<h1 class="text-center">Built-in Exposure Profiles</h1>

{% set create_modal_id = 'create-scenario-modal' %}

{% set builtin_scenarios = mirc_scenarios|selectattr('is_builtin', 'true')|list %}

<div class="row">
    {% for scenario in builtin_scenarios|sort(attribute='name') %}
        <div class="col-lg-3 col-md-4 col-sm-6 py-2">
            <div class="card border-secondary rounded-0 scenario-card">
                <div class="card-header p-0 border-secondary">
                    <a href="{{ url_for('mirc_scenario.view_risk_scenario', id=scenario.id) }}" title="View {{ scenario.name }}"
                        class="d-block btn btn-lg btn-outline-secondary text-left rounded-0 border-0" style="color: #212529;"
                    > {# We make this btn-outline-secondary so it shows a nice border when tabbing onto it; we want a light bg on hover though, so see the css below... #}
                        <i class="fa fa-eye float-right ml-1 py-2" style="font-size: 1rem;"></i>
                        <span>{{ scenario.name }}</span>
                    </a>
                </div>
                {% if scenario.notes or scenario.parent %}
                    <div class="card-body small">
                        {% if scenario.parent %}
                            <p class="card-text mb-1">
                                Inherits From: <span class="text-secondary font-weight-bold">{{ scenario.parent.name }}</span>
                            </p>
                        {% endif %}
                        {% if scenario.notes %}
                            <small class="card-text">
                                {{ scenario.notes|abbrev }}
                            </small>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<h1 class="text-center pt-3">Custom Exposure Profiles</h1>

{% set custom_scenarios = mirc_scenarios|selectattr('is_builtin', 'false')|list %}

{% if custom_scenarios|length %}
    <div class="text-right pb-2">
        <button type="button"
            class="btn btn-primary btn-sm"
            data-toggle="modal"
            data-target="#{{ create_modal_id }}"
        >
            <i class="fa fa-plus"></i>&nbsp;
            New<span class="d-none d-sm-inline"> Profile</span>
        </button>
    </div>
{% endif %}

<div class="row">
    {% for scenario in custom_scenarios|sort(attribute='updated', reverse=True) %}
        <div class="col-lg-3 col-md-4 col-sm-6 py-2">
            <div class="card border-secondary rounded-0 scenario-card custom-scenario-card">
                <div class="card-header p-0 border-secondary">
                    <a href="{{ url_for('mirc_scenario.view_risk_scenario', id=scenario.id) }}" title="View {{ scenario.name }}"
                        class="d-block btn btn-lg btn-outline-secondary text-left rounded-0 border-0" style="color: #212529;"
                    > {# We make this btn-outline-secondary so it shows a nice border when tabbing onto it; we want a light bg on hover though, so see the css below... #}

                        {% if not current_user.can('edit', scenario) %}
                            <i class="fa fa-eye float-right ml-1 py-2" style="font-size: 1rem;"></i>
                        {% else %}
                            <i class="fa fa-edit float-right ml-1 py-2" style="font-size: 1rem;"></i>
                        {% endif %}
                        <span>{{ scenario.name }}</span>
                    </a>
                </div>
                {% if scenario.notes or scenario.parent %}
                    <div class="card-body small">
                        {% if scenario.parent %}
                            <p class="card-text mb-1">
                                Inherits From: <span class="text-secondary font-weight-bold">{{ scenario.parent.name }}</span>
                            </p>
                        {% endif %}
                        {% if scenario.notes %}
                            <small class="card-text">
                                {{ scenario.notes|abbrev }}
                            </small>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="col-sm-12 text-center no-scenarios" style="display: none;">
        You don't have any custom exposure profiles. Would you like to
        <button type="button"
            class="btn btn-link p-0"
            data-toggle="modal"
            data-target="#{{ create_modal_id }}"
        >
            make one now
        </button>?
    </div>
</div>

{% include 'components/mirc/exposure_profiles/create_modal.html' %}

<style>
    /* Even though we use btn-outline-primary (for tabbing), on hover we want the bg-light color */
    .scenario-card .card-header a:hover {
        background-color: #d8e0e3 !important;
    }
</style>

{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (!$('.custom-scenario-card').length) {
            $('.no-scenarios').show();
        }
    });
</script>

{% endblock scripts %}
