{% extends 'layout.html' %}

{% block content %}

    <div class="d-flex pb-1">
        <h1>{{ mirc_scenario.name }}</h1>
        {% if not mirc_scenario.is_builtin %}
            <div class="ml-auto mt-2">
                <button type="button" class="btn btn-primary btn-sm px-3 save-scenario-btn">
                    <i class="fa fa-save mr-1"></i>&nbsp;Save
                </button>
            </div>
        {% endif %}
    </div>

    {% with update_url = url_for('mirc_scenario_api.update_risk_scenario_permissions', id=mirc_scenario.id) %}
        {% with access_object = mirc_scenario %}
            {% include 'components/mirc/access_models/permissions.html' %}
        {% endwith %}
    {% endwith %}

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var form = $('#permissions-form');
        $('.save-scenario-btn').hide();

        $('#add-mirc-user-btn').click(function(e) {
            e.preventDefault();
            // Forward this click to the ACTUAL submit button for the form
            // (This lets us get nice browser-handled validation 
            // for our required fields)
            form.find('[type="submit"]').click();
        });
    });
    </script>

{% endblock content %}

