# Ignore Office temp files
**/~$*.*

# Ignore outputs
**/Output_Files/*

# Ignore executables
**/*.exe

# Ignore .env file
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

iac/output/*
__pycache__
.DS_Store

unsynced/
