[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.11"

[dev-packages]
pipenv = "*"

[packages]
alembic = "*"
appnope = "*"
boto = "*"
boto3 = "*"
cryptography = "*"
cssmin = "*"
docutils = "*"
email-validator = "*"
exceptiongroup = "*"
flask = "*"
flask-admin = "*"
flask-api = {ref = "d9b75a51b2eb24f334d6ec136c3f3512e010cf45", git = "git+https://github.com/berkbiryol/flask-api"}
flask-assets = "*"
flask-babelex = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-mail = "*"
flask-security = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
geopandas = "*"
ipdb = "*"
jenkspy = "*"
libsass = "*"
numpy = "*"
pandas = "*"
pexpect = "*"
pint = "*"
psycopg2-binary = "*"
pymysql = "*"
pyscss = "*"
pyshp = "*"
python-dotenv = "*"
requests = "*"
scipy = "*"
shapely = "*"
simpleeval = "*"
sqlalchemy = "*"
tomli = "*"
typing-extensions = "*"
utm = "*"
webassets = "*"
wtforms-sqlalchemy = "*"
xlsxwriter = "*"
xmltodict = "*"
zipp = "*"
matplotlib = "*"
