{% extends 'layout.html' %}

{% block content %}

<div class="d-flex pb-1">
    <h1>{{ scenario.name }}</h1>
    <div class="ml-auto mt-2">
        <a href="{{ url_for('scenario.edit_scenario', id=scenario.id) }}"
            class="btn btn-secondary"
        >
            <i class="fa fa-pen"></i>&nbsp;
            Edit<span class="d-none d-sm-inline"> Scenario</span>
        </a>
    </div>
</div>

<div class="text-muted mb-1">
    Created: {{ scenario.created.strftime('%Y-%m-%d %I:%M %p') }}
</div>
<div class="text-muted mb-1">
    Last Updated: {{ scenario.updated.strftime('%Y-%m-%d %I:%M %p') }}
</div>

<p class="lead">
    {{ scenario.description }}
</p>

<div class="container text-center">
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-6 col-lg-4 p-0">
            <a id="MIRC-export" href="#" class="btn btn-primary btn-lg btn-block">
                <i class="fa fa-file-download"></i>&nbsp;
                Export TRIM.FaTE for MIRC
            </a>
        </div>
        <div class="col-md"></div>
    </div>
</div>

<script>
    onDomLoad(function() {
        LoadingScreen.show("export_mirc");
        TRIM.api.exportScenarioForMirc("{{scenario.id}}").on('load', (rsp)=>{
            LoadingScreen.hide("export_mirc");

            let responseJSON = JSON.stringify(rsp.target.responseJSON);
            jsonData = 'data:application/json;charset=utf-8,' + encodeURIComponent(responseJSON);

            let filename = "{{scenario.name}}_MIRC Export_" + moment(new Date()).format('YYYY_MM_DD-HH_MM') + ".json";
            if (window.navigator.msSaveBlob) { // IE 10+
                window.navigator.msSaveOrOpenBlob(new Blob([json], {type: "text/plain;charset=utf-8;"}), filename);
            } 
            else {
                let ele = $("#MIRC-export");
                $(ele).attr("download", filename);
                $(ele).attr("href", jsonData);
                $(ele).attr("target", "_blank");
            }
        });
    });
</script>

{% endblock content %}
