<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <link rel="shortcut icon"
        href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
	<script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.2/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
    <title>
        {% if title %}
            {{ title }} | {{ site_name }}
        {% else %}
            {{ site_name }}
        {% endif %}
    </title>

    {% assets "site_theme" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>

<body>
    <script>
        function onDomLoad(func) {
            document.addEventListener("DOMContentLoaded", func);
        }
    </script>

    {% include 'components/header.html' %}

    <div id="root">
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% include 'components/flashed_messages.html' %}
    </div>

    {% include 'components/footer.html' %}

    <script src="{{url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='js/lib/popper.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='js/lib/bootstrap/bootstrap.min.js')}}">
    </script>
    <script src="{{url_for('static', filename='js/lib/moment.min.js')}}">
    </script>

    <script src="{{url_for('static', filename='js/main.js')}}">
    </script>
    <script src="{{url_for('static', filename='js/api.js')}}">
    </script>
    <script src="{{url_for('static', filename='js/table_builder.js')}}">
    </script>
    <script src="{{url_for('static', filename='js/table_to_csv.js')}}">
    </script>
    <script src="{{ url_for('static', filename='js/lib/dataTables/jquery.dataTables.min.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/lib/dataTables/dataTables.bootstrap4.min.js') }}">
    </script>

    {% include 'components/api_scripts.html' %}

    {% block scripts %}{% endblock %}
</body>
</html>
