{% from 'macros/mirc/form_macros.html' import
    render_form_group, render_label, render_input, render_feedback
%}
{% from 'macros/mirc/chemical_selector.html' import
    render_chemical_picker
%}
{% from 'macros/mirc/scenario_selector.html' import
    render_scenario_picker
%}

<form id="simulation-form"
    action="{{ url_for('mirc_simulation_api.create_simulation', trim_scenario_id=scenario.id) }}"
    method="POST"
>
    <div class="form-row">
        <div class="col-sm">
            {{ render_form_group(form.description) }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm">
            {{ render_label(form.mirc_scenario) }}
            {{ render_scenario_picker(
                mirc_scenarios,
                id=form.mirc_scenario.id, name=form.mirc_scenario.name,
                default=form.mirc_scenario.data, allow_none=False
            ) }}
            {{ render_feedback(form.mirc_scenario) }}
            <div class="form-text">
                <small>
                    <a href="{{ url_for('mirc_scenario.view_risk_scenarios') }}" target="_blank" tabindex="0">
                        <i class="fa fa-edit mr-1"></i>
                        Create or Edit Exposure Profiles
                    </a>
                </small>
            </div>
        </div>
    </div>

    <div class="form-row mt-2">
        <div class="col-sm">
            {{ render_label(form.chemical) }}
            {{ render_chemical_picker(
                scenario.chemicals,
                id=form.chemical.id,
                name=form.chemical.name,
                default=form.chemical.data,
                priority=(
                    [] if 'assessment' not in kwargs
                    else kwargs['assessment'].scenario.priority_chemicals
                )
            ) }}
            {{ render_feedback(form.chemical) }}
        </div>
    </div>

    <div class="form-row mt-2">
        <div class="col-sm">
            {{ render_form_group(form.human_body_weight_percentile) }}
        </div>
    </div>

    <div class="form-row">
        <div class="col-sm">
            {{ render_form_group(form.ingestion_percentile_preset) }}
        </div>
    </div>

    <div class="form-row ingestion-rates">
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.beef_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.dairy_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.eggs_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.pork_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.poultry_percentile, class="mb-0") }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ render_input(form.beef_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.dairy_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.eggs_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.pork_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.poultry_percentile) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-row ingestion-rates">
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.exposed_fruit_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.protected_fruit_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.exposed_vegetable_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.protected_vegetable_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.root_percentile, class="mb-0") }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ render_input(form.exposed_fruit_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.protected_fruit_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.exposed_vegetable_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.protected_vegetable_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.root_percentile) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-row ingestion-rates">
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.fish_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.soil_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.water_percentile, class="mb-0") }}
                        </th>
                        <th scope="col" class="font-weight-normal">
                            {{ render_label(form.breast_milk_percentile, class="mb-0") }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ render_input(form.fish_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.soil_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.water_percentile) }}
                        </td>
                        <td>
                            {{ render_input(form.breast_milk_percentile) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <hr class="pb-2" />

    <div class="form-row">
        <div class="col-sm">
            {{ render_form_group(form.trim_timestamp) }}
        </div>
    </div>

    <section id="mirc-input-fields">
        <div id="air-fields" class="form-row" style="display: none;">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_air_compartment,
                    input_class="air-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.Ca_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.Ca, append=append, class="mb-1") }}
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.Fv_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.Fv, append=append, class="mb-1") }}
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.rho_a_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.rho_a, append=append, class="mb-1") }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_water_compartment,
                    input_class="water-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.C_water_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.C_water, append=append, class="mb-1") }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_soil_human_compartment,
                    input_class="surf-soil-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.C_soil_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.C_soil, append=append, class="mb-1") }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_soil_garden_compartment,
                    input_class="root-soil-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.C_root_veg_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.C_root_veg, append=append, class="mb-1") }}
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.Kd_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.Kd, append=append, class="mb-1") }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_soil_livestock_compartment,
                    input_class="surf-soil-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.Cs_s_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.Cs_s, append=append, class="mb-1") }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_soil_root_compartment,
                    input_class="root-soil-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.Cs_root_zone_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.Cs_root_zone, append=append, class="mb-1") }}
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.Kd_feed_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.Kd_feed, append=append, class="mb-1") }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_soil_drdp_compartment,
                    input_class="dep-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.Drdp_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.Drdp, append=append, class="mb-1") }}
            </div>
        </div>

        <div class="form-row mb-2">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_soil_drwp_compartment,
                    input_class="dep-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.Drwp_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.Drwp, append=append, class="mb-1") }}
            </div>
        </div>

        {{ render_form_group(form.fish_factor) }}

        <div class="form-row">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_fish_tl35_compartment,
                    input_class="fish-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                <div class="tl-concentrations">
                    {% set append %}
                        <small class="form-text">
                            {{ render_input(
                                form.C_tl35_src,
                                class="form-control-plaintext text-muted p-0 src-info"
                            ) }}
                        </small>
                    {% endset %}
                    {{ render_form_group(form.C_tl35, append=append, class="mb-1") }}
                </div>
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.f_tl35_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.f_tl35, append=append, class="mb-1") }}
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm">
                {{ render_form_group(
                    form.trim_fish_tl4_compartment,
                    input_class="fish-compartment-field"
                ) }}
            </div>
            <div class="col-sm">
                <div class="tl-concentrations">
                    {% set append %}
                        <small class="form-text">
                            {{ render_input(
                                form.C_tl4_src,
                                class="form-control-plaintext text-muted p-0 src-info"
                            ) }}
                        </small>
                    {% endset %}
                    {{ render_form_group(form.C_tl4, append=append, class="mb-1") }}
                </div>
                {% set append %}
                    <small class="form-text">
                        {{ render_input(
                            form.f_tl4_src,
                            class="form-control-plaintext text-muted p-0 src-info"
                        ) }}
                    </small>
                {% endset %}
                {{ render_form_group(form.f_tl4, append=append, class="mb-1") }}
            </div>
        </div>

        <div class="baf-concentrations" style="display: none;">
            <div class="form-row">
                <div class="col-sm">
                    {{ render_form_group(
                        form.trim_sed_compartment,
                        input_class="sed-compartment-field"
                    ) }}
                </div>
                <div class="col-sm">
                    {% set append %}
                        <small class="form-text">
                            {{ render_input(
                                form.C_sed_src,
                                class="form-control-plaintext text-muted p-0 src-info"
                            ) }}
                        </small>
                    {% endset %}
                    {{ render_form_group(form.C_sed, append=append, class="mb-1") }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm">
                    {{ render_form_group(
                        form.trim_surf_compartment,
                        input_class="water-compartment-field"
                    ) }}
                </div>
                <div class="col-sm">
                    {% set append %}
                        <small class="form-text">
                            {{ render_input(
                                form.C_surf_water_src,
                                class="form-control-plaintext text-muted p-0 src-info"
                            ) }}
                        </small>
                    {% endset %}
                    {{ render_form_group(form.C_surf_water, append=append, class="mb-1") }}
                    {% set append %}
                        <small class="form-text">
                            {{ render_input(
                                form.FMD_src,
                                class="form-control-plaintext text-muted p-0 src-info"
                            ) }}
                        </small>
                    {% endset %}
                    {{ render_form_group(form.FMD, append=append, class="mb-1") }}
                </div>
            </div>
        </div>
    </section>
</form>


<script>
onDomLoad(function() {
    window.MIRC = (function(mirc) {
        return mirc;
    })(window.MIRC || {});

    function initFormEvents(form) {
        var getParamsUrl = '{{ url_for("mirc_scenario_api.get_risk_scenario_parameters", id=0) }}';

        // Filter valid BW by Exposure Profile
        $('#mirc_scenario').on('change', function(e) {
            var id = $(this).val();
            $.ajax({
                url: getParamsUrl.replace('/0', '/' + id) + '?variable=BW'
            }).then(function(data) {
                var bwpField = $('#human_body_weight_percentile');
                var currentBWP = bwpField.val();
                bwpField.find('option').prop('selected', false).hide();
                validBWPs = Array.from(new Set(data.filter(x => x.value != 0).map(x => x.percentile)));
                bwpField.find('option').each(function(i, el) {
                    el = $(el);
                    if (validBWPs.indexOf(el.text()) > -1) {
                        el.show();
                        if (el.attr('value') == currentBWP) {
                            el.prop('selected', true);
                        }
                    }
                });
            });
        }).change();

        // Handle change to numeric inputs
        form.on('change', 'input', function(e) {
            var me = $(this);
            var g = me.closest('.form-group');
            g.find('.src-info').val('custom');
        });

        // Handle change to fish concentration calculation method
        form.on('change', '[type="radio"]', function(e) {
            if (this.name.indexOf('fish_factor') < 0) {
                return;
            }
            var me = $(this);

            var nm = this.name;
            var val = $('[name="' + nm + '"]:checked').val();

            if (val == 'baf') {
                form.find('.tl-concentrations').hide();
                form.find('.baf-concentrations').show();
            }
            else {
                form.find('.baf-concentrations').hide();
                form.find('.tl-concentrations').show();
            }
        });
        form.find('[type="radio"]').change();

        // Handle updating ingestion rate percentiles
        var irs = $('.ingestion-rates select');
        function setPercentile(select, preset, opts) {
            select = $(select);
            var defaultVal = opts.default || 7; // Pmean
            select.val(defaultVal); // Pmean

            $.each(opts, function(key, value) {
                if (preset == key) {
                    select.val(value);
                    return false;
                }
            });
        }
        form.on('change', '[type="radio"]', function(e) { 
            if (this.name.indexOf('ingestion_percentile_preset') < 0) {
                return;
            }

            var nm = this.name;
            var val = $('[name="' + nm + '"]:checked').val();

            var irs = form.find('.ingestion-rates select');
            if (val == 'custom') {
                irs.prop('disabled', false);
            }
            else {
                irs.prop('disabled', true);
                irs.each(function() {
                    var nm = this.name;
                    if (nm.indexOf('breast_milk_percentile') > -1) {
                        setPercentile(this, val, {
                            default: 4 // P90
                        });
                    }
                    else if (nm.indexOf('beef_percentile') > -1) {
                        setPercentile(this, val, {
                            farmer: 4, // P90
                            farmer_fisher: 4, // P90
                            default: 8 // None
                        });
                    }
                    else if (nm.indexOf('dairy_percentile') > -1) {
                        setPercentile(this, val, {
                            farmer: 4, // P90
                            farmer_fisher: 4, // P90
                            default: 8 // None
                        });
                    }
                    else if (nm.indexOf('eggs_percentile') > -1) {
                        setPercentile(this, val, {
                            fisher: 8, // None
                            urban_gardener: 7, // Pmean
                            default: 4 // P90
                        });
                    }
                    else if (nm.indexOf('pork_percentile') > -1) {
                        setPercentile(this, val, {
                            farmer: 4, // P90
                            farmer_fisher: 4, // P90
                            default: 8 // None
                        });
                    }
                    else if (nm.indexOf('poultry_percentile') > -1) {
                        setPercentile(this, val, {
                            farmer: 4, // P90
                            farmer_fisher: 4, // P90
                            default: 8 // None
                        });
                    }
                    else if (nm.indexOf('_fruit_percentile') > -1) {
                        setPercentile(this, val, {
                            fisher: 8, // None
                            urban_gardener: 7, // Pmean
                            default: 4 // P90
                        });
                    }
                    else if (nm.indexOf('_vegetable_percentile') > -1) {
                        setPercentile(this, val, {
                            fisher: 8, // None
                            urban_gardener: 7, // Pmean
                            default: 4 // P90
                        });
                    }
                    else if (nm.indexOf('root_percentile') > -1) {
                        setPercentile(this, val, {
                            fisher: 8, // None
                            urban_gardener: 7, // Pmean
                            default: 4 // P90
                        });
                    }
                    else if (nm.indexOf('soil_percentile') > -1) {
                        setPercentile(this, val, {
                            fisher: 8, // None
                            default: 4 // P90
                        });
                    }
                    else if (nm.indexOf('water_percentile') > -1) {
                        setPercentile(this, val, {
                            default: 8 // None
                        });
                    }
                    else if (nm.indexOf('fish_percentile') > -1) {
                        setPercentile(this, val, {
                            fisher: 6, // P99
                            farmer_fisher: 6, // P99
                            default: 8 // None
                        });
                    }
                });
            }
        });
        var currentPreset = $('[name$="ingestion_percentile_preset"]:checked').val();
        if (currentPreset != 'custom') {
            form.find('[type="radio"]').change();
        }
        
        // Handle change to compartment select
        form.on('change', 'select, [type="radio"]', function() {
            if (this.id.indexOf('trim_fish_tl35_compartment') > -1) {
                form.find('[name$="C_tl35"]').val('').change();
            }
            else if (this.id.indexOf('trim_fish_tl4_compartment') > -1) {
                form.find('[name$="C_tl4"]').val('').change();
            }

            var fromElement = undefined;
            if ($(this).closest('#mirc-input-fields').length > 0) {
                // if this was an input selector (e.g., not timestamp, chemical, etc.),
                // only update that input
                fromElement = $(this).closest('.form-row')[0];
            }

            window.MIRC.updateSimulationMircFields(fromElement);
        });
    }

    var form = $('#simulation-form');
    initFormEvents(form);

    window.MIRC.submitSimulationForm = function() {
        form.find('input, textarea').removeClass('is-invalid');
        form.find('.invalid-feedback').html('');

        var irs = $('.ingestion-rates select');
        irs.prop('disabled', false); // need to enable these so they are submitted correctly

        function handleErrors(errors, pref) {
            pref = pref || '';
            $.each(errors, function(name, err) {
                if (Array.isArray(err) && typeof err[0] == typeof {}) {
                    $.each(err, function(i, subErrors) {
                        handleErrors(subErrors, name + '-' + i + '-');
                    });
                }
                else {
                    form.find('[name="' + pref + name + '"]')
                        .addClass('is-invalid')
                        .next('.invalid-feedback').html(
                            err.join('<br />')
                        );
                }
            });
        }

        LoadingScreen.show('submitSimulationForm');
        var loading = $.Deferred();
        $.ajax({
            url: form.attr('action'),
            method: form.attr('method'),
            processData: false,
            contentType: false,
            dataType: 'json',
            data: new FormData(form[0])
        }).done(function(data) {
            // console.log(data);
            loading.resolve(data);
        }).fail(function(data) {
            var error = data.responseJSON;
            form_errs = error.message.form_errors;
            if (form_errs) {
                handleErrors(form_errs);
            }
            loading.reject(data);
        }).always(function() {
            irs.each(function() {
                var me = $(this);
                var controller = form.find('[name$="ingestion_percentile_preset"]:checked');
                if (controller.val() != 'custom') {
                    me.prop('disabled', true);
                }
            });
            LoadingScreen.hide('submitSimulationForm');
        });
        return loading.promise();
    }

    form.submit(function(e) {
        e.preventDefault();
        window.MIRC.submitSimulationForm();
    });

    form.on('blur', 'input, textarea', function(e) {
        // automatically trigger validation
        if (!form[0].checkValidity()) {
            form[0].reportValidity();
        }
    });
});

</script>
