-- Running upgrade 7e30a24a8831 -> 3981a8f1cf7d

CREATE TABLE scenario (
    created DATETIME NOT NULL, 
    updated DATETIME, 
    name VARCHAR(120) NOT NULL, 
    description VARCHAR(255), 
    creator_id INTEGER NOT NULL, 
    id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(creator_id) REFERENCES user (id)
);

CREATE TABLE team (
    scenario_id INTEGER NOT NULL, 
    member_id INTEGER NOT NULL, 
    id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(member_id) REFERENCES user (id), 
    FOREIGN KEY(scenario_id) REFERENCES scenario (id), 
    UNIQUE (scenario_id, member_id)
);

UPDATE alembic_version SET version_num='3981a8f1cf7d' WHERE alembic_version.version_num = '7e30a24a8831';

