CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 7e30a24a8831

CREATE TABLE role (
    id INTEGER NOT NULL, 
    name VARCHAR(80), 
    description VARCHAR(255), 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE user (
    active BOOLEAN NOT NULL, 
    id INTEGER NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    first_name VARCHAR(255), 
    last_name VARCHAR(255), 
    company_name VARCHAR(255), 
    password_hash VARCHAR(128), 
    confirmed_at DATETIME, 
    last_login_at DATETIME, 
    current_login_at DATETIME, 
    last_login_ip VARCHAR(40), 
    current_login_ip VARCHAR(40), 
    login_count INTEGER, 
    PRIMARY KEY (id), 
    UNIQUE (email), 
    CHECK (active IN (0, 1))
);

CREATE TABLE roles_users (
    user_id INTEGER, 
    role_id INTEGER, 
    FOREIGN KEY(role_id) REFERENCES role (id), 
    FOREIGN KEY(user_id) REFERENCES user (id)
);

INSERT INTO alembic_version (version_num) VALUES ('7e30a24a8831');

