
CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 7e30a24a8831

CREATE TABLE role (
    id INTEGER NOT NULL, 
    name VARCHAR(80), 
    description VARCHAR(255), 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE user (
    active BOOLEAN NOT NULL, 
    id INTEGER NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    first_name VARCHAR(255), 
    last_name VARCHAR(255), 
    company_name VARCHAR(255), 
    password_hash VARCHAR(128), 
    confirmed_at DATETIME, 
    last_login_at DATETIME, 
    current_login_at DATETIME, 
    last_login_ip VARCHAR(40), 
    current_login_ip VARCHAR(40), 
    login_count INTEGER, 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

CREATE TABLE roles_users (
    user_id INTEGER, 
    role_id INTEGER, 
    FOREIGN KEY(role_id) REFERENCES role (id), 
    FOREIGN KEY(user_id) REFERENCES user (id)
);

INSERT INTO alembic_version (version_num) VALUES ('7e30a24a8831');

-- Running upgrade 7e30a24a8831 -> 3981a8f1cf7d

CREATE TABLE scenario (
    created DATETIME NOT NULL, 
    updated DATETIME, 
    name VARCHAR(120) NOT NULL, 
    description VARCHAR(255), 
    creator_id INTEGER NOT NULL, 
    id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(creator_id) REFERENCES user (id)
);

CREATE TABLE team (
    scenario_id INTEGER NOT NULL, 
    member_id INTEGER NOT NULL, 
    id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(member_id) REFERENCES user (id), 
    FOREIGN KEY(scenario_id) REFERENCES scenario (id), 
    UNIQUE (scenario_id, member_id)
);

UPDATE alembic_version SET version_num='3981a8f1cf7d' WHERE alembic_version.version_num = '7e30a24a8831';

-- Running upgrade 3981a8f1cf7d -> 9cb7ef60fdb6

CREATE TABLE parcel (
    name VARCHAR(120) NOT NULL, 
    scenario_id INTEGER NOT NULL, 
    vertices VARCHAR NOT NULL, 
    id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(scenario_id) REFERENCES scenario (id), 
    UNIQUE (scenario_id, name)
);

CREATE TABLE volume_element (
    name VARCHAR(120) NOT NULL, 
    parcel_id INTEGER NOT NULL, 
    top FLOAT NOT NULL, 
    bottom FLOAT NOT NULL, 
    id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(parcel_id) REFERENCES parcel (id), 
    UNIQUE (parcel_id, name)
);

CREATE TABLE compartment (
    name VARCHAR(120) NOT NULL, 
    volume_element_id INTEGER NOT NULL, 
    id INTEGER NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(volume_element_id) REFERENCES volume_element (id), 
    UNIQUE (volume_element_id, name)
);

UPDATE alembic_version SET version_num='9cb7ef60fdb6' WHERE alembic_version.version_num = '3981a8f1cf7d';

