<div class="row" style="min-height: 50vh;">
    <div class="col">
        <div class="text-center">
            <h1 class="page-title">TRIM</h1>
            <p>
                <a href="{{url_for('oauth2_login', provider_name='login_gov')}}"
                    class="usa-button usa-button--outline">Sign in with Login.gov</a>
            </p>

            <!-- ? -->
            <p>or</p>

            <p>
                Please <a class="usa-link" rel="noreferrer"
                    href="{{ url_for('security.login') }}">log in with TRIM</a> to continue.
            </p>
        </div>
    </div>
</div>