*
!.gitignore

# keep
!base.py
!compare_tm.py
!console_example.py
!example_algorithm_debugging.py
!generate_tm.py
!import_new_chemicals.py
!model_patch_1.py
!update_emissions_values.py

!archive/
!archive/**