{% from 'macros/modal_macros.html' import render_modal %}
{% from 'macros/form_macros.html' import render_field %}

<h1 class="text-center">Scenarios</h1>

{% set create_modal_id = 'create-scenario-modal' %}

<div class="text-right pb-2">
    {% if current_user.is_admin %}
    <div class="float-left">
        <div class="mb-0">
            <div class="custom-control custom-switch">
                <input type="checkbox" id="toggle-admin-view-off" class="custom-control-input" checked>
                <label for="toggle-admin-view-off" class="mb-0 custom-control-label">
                    Show only my personal scenarios
                </label>
            </div>         
        </div>
    </div>
    {% endif %}
    <button type="button"
        class="btn btn-primary py-1"
        data-toggle="modal"
        data-target="#{{ create_modal_id }}"
    >
        <i class="fa fa-plus"></i>&nbsp;
        New<span class="d-none d-sm-inline"> Scenario</span>
    </button>
</div>
<div class="container-fluid content-row">
    <div class="row">
        {% for scenario in scenarios|sort(attribute='updated', reverse = True) %}
            <div class="scenario-col col-lg-4 col-md-6 py-2">
                <div class="card h-100 rounded-0 border-primary shadow">
                    <div class="card-header p-0 bg-transparent border-primary">
                        <a href="{{ url_for('scenario.edit_scenario', id=scenario.id) }}" title="View Scenario"
                            class="d-block btn btn-lg btn-outline-primary text-left rounded-0 border-0" style="color: #212529;"
                        > {# We make this btn-outline-primary so it shows a nice border when tabbing onto it; we want a light bg on hover though, so see the css below... #}
                            <i class="fa fa-eye float-right ml-1 py-2" style="font-size: 1rem;"></i>
                            <span>{{ scenario.name }}</span>
                        </a>
                    </div>
                    <div class="card-body py-2">
                        {% if not current_user.has_access(scenario, ignore_admin=True) %}
                            <div class="row p-0">
                                <div class="col">
                                    <small class="admin-access-only mb-1 font-italic"
                                        title="You have administrator access, but are not directly assigned to this scenario."
                                        style="cursor: default;"
                                    >
                                        <i class="fa fa-lock mr-1"></i> Admin Access
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row p-0">
                            <div class="col">
                                <small class="mb-1">
                                    Modified: {{ scenario.updated.strftime('%b %d, %Y') }}
                                </small>
                            </div>
                        </div>
                        <div class="row p-0">
                            <div class="col">
                                <small class="mb-1">
                                    {% if scenario.geographic_centroid is not none %}
                                        Location: {{scenario.geographic_centroid|lat_lon}}
                                    {% else %}
                                        Location: Unknown
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                        <div class="row p-0">
                            <div class="col">
                                <small class="mb-1">
                                    {% if scenario.latest_proc_status is not none %}
                                        Last Model Run: {{scenario.latest_proc_status.run_datetime.strftime('%b %d, %Y')}}
                                    {% else %}
                                        Last Model Run: None
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                        <!-- <div class="row p-0">
                            <div class="col">
                                <small class="mb-1">
                                    Parcels: {{ scenario.parcels|length }}
                                </small>
                            </div>
                        </div>
                        <div class="row p-0">
                            <div class="col">
                                <small class="mb-1">
                                    Chemicals: {{ scenario.chemicals|length }}
                                </small>
                            </div>
                        </div> -->
                        {% if scenario.short_description %}
                            <div class="row p-0">
                                <div class="col">
                                    <small class="mb-1">
                                        Notes: <span class="text-muted">{{ scenario.short_description }}</span>
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer p-0 bg-transparent">
                        <div class="container">
                            <div class="row">
                                <div class="col p-0">
                                    <form action="{{ url_for('scenario_api.copy_scenario') }}" id="copy-scenario-form" method="POST">
                                        <input name="user_id" value="{{logged_in_user.id}}" type="hidden" />
                                        <input name="scenario_id" value="{{scenario.id}}" type="hidden" />
                                        <input name="scenario_name" value="{{scenario.name}}" type="hidden" />
                                        <button type="submit" class="btn btn-block btn-sm py-2 btn-outline-secondary border-0 rounded-0 text-dark"
                                            title="Copy Scenario"
                                        >
                                            <i class="fa fa-copy mr-1"></i>Copy
                                        </button>
                                        {{ scenario_form.csrf_token }}
                                    </form>
                                </div>
                                {% if current_user.can('manage', scenario) and scenario.id != 1 %} {# Not allowed to delete base scenario #}
                                    <div class="col p-0">
                                        <form action="{{ url_for('scenario_api.delete_scenario') }}" id="delete-scenario-form" method="POST">
                                            <input name="scenario_id" value="{{scenario.id}}" type="hidden" />
                                            <input name="scenario_name" value="{{scenario.name}}" type="hidden" />
                                            <button type="submit" class="btn btn-block btn-sm py-2 btn-outline-danger border-0 rounded-0"
                                                title="Delete Scenario"
                                            >
                                                <i class="fa fa-trash mr-1"></i>Delete
                                            </button>
                                            {{ scenario_form.csrf_token }}
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-12 text-center">
                You haven't started working on any scenarios yet.
                <button type="button"
                    class="btn btn-link p-0"
                    data-toggle="modal"
                    data-target="#{{ create_modal_id }}"
                >
                    Start one now!
                </button>
            </div>
        {% endfor %}
    </div>
    {% if current_user.is_admin %}
    <div class="row mt-2 mx-1 card border-info text-info" style="display: none;">
        <div class="card-header font-weight-bold p-2">Admin Note</div>
        <div class="card-body p-2">
            An asterisk (*) before a Scenario name means that you have access
            to that Scenario as an admin, but do not have explicit permissions to it.
        </div>
    </div>
    {% endif %}
</div>

{% set modal_body %}
<form id="create-scenario-form"
    method="POST"
    action="{{ url_for('scenario.create_scenario') }}"
>
    {{ scenario_form.csrf_token }}
    {{ render_field(scenario_form.name) }}
    {{ render_field(scenario_form.description) }}
    <button type="submit" style="display: none;">Submit</button>
</form>
{% endset %}
{% set modal_footer %}
    <button type="button" class="btn btn-light" data-dismiss="modal">
        Cancel
    </button>
    <button type="button" id="create-scenario-btn" class="btn btn-primary">
        Create
    </button>
    <script>
        onDomLoad(function(e) {
            $('#create-scenario-btn').click(function(e) {
                e.preventDefault();
                // Forward this click to the ACTUAL submit button for the form
                // (This lets us get nice browser-handled validation 
                // for our required fields)
                var scenario_name = $("input#name");
                if (scenario_name.val().length > 120) {
                    alert("Enter a short name for your scenario (120 characters or less)");
                    return;
                }
                $('#create-scenario-form [type="submit"]').click();
            });

            $("#copy-scenario-form, #delete-scenario-form").on("submit", function(e){
                var scenario_name = $(e.target).find('input[name="scenario_name"]').val();
                var opt = (e.target.id == 'copy-scenario-form') ? "copy" : "delete";
                var msg = `Are you sure you want to ${opt} Scenario "${scenario_name}"?`;
                if (opt == 'copy') {
                    msg += ' This operation may take a few minutes to complete.';
                }
                else if (opt == 'delete') {
                    msg += ' This operation cannot be undone!';
                }
                if (!confirm(msg)) {
                    e.stopPropagation();
                    e.preventDefault();
                    return;
                }

                var loadingRequest = 'load_' + this.id;
                LoadingScreen.show(loadingRequest);
            });
        });
    </script>
{% endset %}
{{ render_modal(
    id=create_modal_id, title='New Scenario',
    body=modal_body, footer=modal_footer
) }}

{% if current_user.is_admin %}
<style>
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 17px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 17px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    /* Even though we use btn-outline-primary (for tabbing), on hover we want the bg-light color */
    .scenario-col .card-header a:hover {
        background-color: #d8e0e3 !important;
    }

</style>

<script>
    onDomLoad(function() {
        $('.admin-access-only').closest('div.scenario-col').hide(); // hide by default

        $('#toggle-admin-view-off').on('change', function() {
            var onlyMine = $(this).prop('checked');
            if (onlyMine) {
                $('.admin-access-only').closest('div.scenario-col').hide();
            }
            else {
                $('.admin-access-only').closest('div.scenario-col').show();
            }
        });
    });
</script>
{% endif %}