{% from 'macros/modal_macros.html' import render_modal %}
{% from 'macros/form_macros.html' import render_field %}

<h1 class="text-center">Scenarios</h1>

{% set create_modal_id = 'create-scenario-modal' %}

<div class="text-right pb-2">
    {% if current_user.is_admin %}
    <div class="float-left">
        <div class="mb-0">
            <div class="custom-control custom-switch">
                <input type="checkbox" id="toggle-admin-view-off" class="custom-control-input" checked>
                <label for="toggle-admin-view-off" class="mb-0 custom-control-label">
                    Show only my personal scenarios
                </label>
            </div>         
        </div>
    </div>
    {% endif %}
    <button type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#{{ create_modal_id }}"
    >
        <i class="fa fa-plus"></i>&nbsp;
        New<span class="d-none d-sm-inline"> Scenario</span>
    </button>
</div>
<div class="container-fluid content-row">
    <div class="row">
        {% for scenario in scenarios|sort(attribute='updated', reverse = True) %}
            <div class="col-lg-3 col-md-4 col-sm-6 py-2">
                <div class="card border-primary h-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            {% if not current_user.has_access(scenario, ignore_admin=True) %}
                                <span class="admin-access-only">*</span>
                            {% endif %}
                            {{ scenario.name }}
                        </h5>
                        <small>
                            {{ scenario.updated.strftime('%Y-%m-%d %I:%M %p') }}
                        </small>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ scenario.short_description }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('scenario.edit_scenario', id=scenario.id) }}"
                            class="btn btn-block btn-outline-primary"
                            title="View {{ scenario.name }}"
                        >
                            View
                        </a>
                         <div class="row">
                            <div class="col-md">
                                <div class="text-center">
                                    <div class="btn-group">
                                        <form action="{{ url_for('scenario_api.copy_scenario') }}" id="copy-scenario-form" method="POST">
                                            <input name="user_id" value="{{logged_in_user.id}}" type=hidden>
                                            <input name="scenario_id" value="{{scenario.id}}" type=hidden>
                                            <input name="scenario_name" value="{{scenario.name}}" type=hidden>
                                            <button type="submit" class="btn btn-outline-primary m-1">
                                            Copy
                                            {{ scenario_form.csrf_token }}</button>
                                        </form>
                                        {% if current_user.can('manage', scenario) %}
                                        <form action="{{ url_for('scenario_api.delete_scenario') }}" id="delete-scenario-form" method="POST">
                                            <input name="scenario_id" value="{{scenario.id}}" type=hidden>
                                            <input name="scenario_name" value="{{scenario.name}}" type=hidden>
                                            <button type="submit" class="btn btn-outline-primary m-1">
                                            Delete
                                            {{ scenario_form.csrf_token }}</button>
                                        </form>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-sm-12 text-center">
                You haven't started working on any scenarios yet.
                <button type="button"
                    class="btn btn-link p-0"
                    data-toggle="modal"
                    data-target="#{{ create_modal_id }}"
                >
                    Start one now!
                </button>
            </div>
        {% endfor %}
    </div>
    {% if current_user.is_admin %}
    <div class="row mt-2 mx-1 card border-info text-info">
        <div class="card-header font-weight-bold p-2">Admin Note</div>
        <div class="card-body p-2">
            An asterisk (*) before a Scenario name means that you have access
            to that Scenario as an admin, but do not have explicit permissions to it.
        </div>
    </div>
    {% endif %}
</div>

{% set modal_body %}
<form id="create-scenario-form"
    method="POST"
    action="{{ url_for('scenario.create_scenario') }}"
>
    {{ scenario_form.csrf_token }}
    {{ render_field(scenario_form.name) }}
    {{ render_field(scenario_form.description) }}
    <button type="submit" style="display: none;">Submit</button>
</form>
{% endset %}
{% set modal_footer %}
    <button type="button" class="btn btn-light" data-dismiss="modal">
        Cancel
    </button>
    <button type="button" id="create-scenario-btn" class="btn btn-primary">
        Create
    </button>
    <script>
        onDomLoad(function(e) {
            $('#create-scenario-btn').click(function(e) {
                e.preventDefault();
                // Forward this click to the ACTUAL submit button for the form
                // (This lets us get nice browser-handled validation 
                // for our required fields)
                let scenario_name = $("input#name");
                if (scenario_name.val().length > 120) {
                    alert("Enter a short name for your scenario (120 characters or less)");
                    return;
                }
                $('#create-scenario-form [type="submit"]').click();
            });
            
            $("#copy-scenario-form, #delete-scenario-form").on("submit", function(e){
                let scenario_name = $(e.target).find('input[name="scenario_name"]').val();
                let opt = (e.target.id == 'copy-scenario-form') ? "copy" : "delete";
                let msg = `Are you sure you want to ${opt} scenario ${scenario_name}?`
                if (!confirm(msg)) {
                    e.preventDefault();
                    return;
                }

                var loadingRequest = 'load_' + this.id;
                LoadingScreen.show(loadingRequest);
            })
        });
    </script>
{% endset %}
{{ render_modal(
    id=create_modal_id, title='New Scenario',
    body=modal_body, footer=modal_footer
) }}

{% if current_user.is_admin %}
<style>
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 17px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 17px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

</style>

<script>
    onDomLoad(function() {
        $('.admin-access-only').closest('div.col-lg-3').hide(); // hide by default

        $('#toggle-admin-view-off').on('change', function() {
            var onlyMine = $(this).prop('checked');
            if (onlyMine) {
                $('.admin-access-only').closest('div.col-lg-3').hide();
            }
            else {
                $('.admin-access-only').closest('div.col-lg-3').show();
            }
        });
    });
</script>
{% endif %}