
<form id="scenario-info-gui"
    data-async-form="true"
    data-form-src="scenario_info_form"
>
    <section class="container px-0">
        <div class="row mb-1">
            <div class="col-md">
                <div class="row-fluid">
                    <div data-slot="true" data-target="name"></div>
                </div>
                <div class="row-fluid">
                    <div data-slot="true" data-target="description"></div>
                </div>
            </div>
            <div class="col-md">
                <div class="row-fluid">
                    <div data-slot="true" data-target="time_zone"></div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <!-- <input id="simStartDate" type="date" name="startDate"> -->
                        <div data-slot="true" data-target="simulation_start_date"></div>
                    </div>
                    <div class="col-md">
                            <!-- <input id="simEndDate" type="date" name="endDate"> -->
                        <div data-slot="true" data-target="simulation_end_date"></div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div data-slot="true" data-target="simulation_duration"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div data-slot="true" data-target="fraction_concentrations_included"></div>
                <div data-slot="true" data-target="time_step_duration"></div>
            </div>
            <div class="col-md">
                <div data-slot="true" data-target="use_steady_state"></div>
                <div data-slot="true" data-target="enable_air_contributions"></div>
            </div>
        </div>
    </section>
</form>
<script>
    onDomLoad(function() {
        var form = document.getElementById('scenario-info-gui');

        form.addEventListener('form:visible', function() {
            LoadingScreen.show('scenario_info_loading');
            console.log('scenario form visible')
            populateScenarioInfoForm();
        });

        function populateScenarioInfoForm() {
            if ($(form).filter(':not(.form-loaded)').length) {
                // Form hasn't loaded yet; wait a bit and try again
                setTimeout(function() { populateScenarioInfoForm(); }, 1000);
                return;
            }
            // console.log(form)
            // console.log(TRIM.store.currentScenario)
            TRIM.forms.populate(form, TRIM.store.currentScenario);
            console.log('populated scenario form!')
            LoadingScreen.hide('scenario_info_loading');
        }

        var ENABLED_FORM = false;

        form.addEventListener('form:populated', function() {
            if (ENABLED_FORM) {
                return;
            }
            var startDate = $('#simulation_start_date');
            var endDate = $('#simulation_end_date');
            var scenarioName = $('#scenario-info-gui').find("input#name")
            var scenarioDesc = $('#scenario-info-gui').find("textarea#description")
            startDate.on('change', calculateDateRange);
            endDate.on('change', calculateDateRange);
            startDate.change();
            startDate.on('blur', submit_scenario_value);
            endDate.on('blur', submit_scenario_value);
            scenarioName.on('blur', submit_scenario_value)
            scenarioDesc.on('blur', submit_scenario_value)

            ENABLED_FORM = true;
        });

        function get_form_data(elem) {
            let param_name = $(elem).attr("name")
            let param_info = [
                {
                    'type': 'data',
                    'name': 'id',
                    'value': TRIM.store.currentScenario.id
                }, {
                    'type': 'data',
                    'name': 'field',
                    'value': param_name
                }, {
                    'type': 'input',
                    'name': param_name,
                    'value': ''
                }
            ]
            let param_data = ""
            if ($(elem).attr('type') == "date" || $(elem).attr('name') == "name" || $(elem).attr('name') == "description") {
                param_data = $(elem).val()
            }
            param_info[param_info.findIndex(e => e.type == 'input')].value = param_data;
            return param_info
        }

        function submit_scenario_value(elem) {
            let form_field = elem.target
            let param_info = get_form_data(form_field)
            let resp = TRIM.api.updateScenario(param_info).on('load',function(){
                let val_resp = this.responseJSON
                if (this.responseText == 'success') {
                    if ($(form_field).attr("name") == 'name') {
                        $('#root').find('h1.text-center.pb-2').text($(form_field).val())
                    }
                }
            })
        }

        function calculateDateRange() {
            var startDate = $('#simulation_start_date');
            var endDate = $('#simulation_end_date');

            var start = startDate.val();
            var end = endDate.val();

            var exportDate = $('#html_export_date');
            if (exportDate.length) {
                exportDate.attr('min', start + 'T00:00');
                exportDate.attr('max', end + 'T12:00');
            }

            var simulationDuration = $('#simulation_duration')

            var disp = calculateDateDistance(start, end);

            if (!disp.length) {
                simulationDuration.addClass('is-invalid pl-5').val(
                    'Invalid date range'
                );
            }
            else {
                simulationDuration.removeClass('is-invalid pl-5').val(
                    disp.join(', ')
                );
            }
        }
    });
</script>
