<form id="parcels-gui" data-async-form="true" data-form-src="scenario_parcels_form">
    <section class="container px-0">
        <div class="accordion mb-3">
            <div id="parcelUploadHeading" class="border-bottom">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-right text-decoration-none" type="button"
                        data-toggle="collapse" data-target="#parcelUploadForm" aria-expanded="false"
                        aria-controls="parcelUploadForm">
                        <i class="fa fa-chevron-down mr-2"></i>Load Parcels from File
                    </button>
                </h2>
            </div>

            <div id="parcelUploadForm" class="collapse" aria-labelledby="parcelUploadHeading">
                <div class="row mt-3">
                    <div class="col-sm">
                        <div data-slot="true" data-target="parcels_file"></div>
                        <div class="form-text mb-2">
                            <small class="text-muted">
                                <a href="{{ url_for(
                                    'static', filename='templates/parcels.csv'
                                ) }}" title="Click here to download template">
                                    Click here
                                </a>
                                to download the template for creating a CSV parcels file.
                                X/Y coordinates must be provided as WGS84 Longitude/Latitude
                                in decimal degrees.
                            </small>
                        </div>

                        <div class="row mb-1 subform" style="display: none;">
                            <div class="col-md">
                                <div data-slot="true" data-target="upload_coordinates_system"></div>
                            </div>
                            <div class="col-md" style="opacity:0">
                                <div data-slot="true" data-target="upload_utm_zone"></div>
                            </div>
                        </div>

                        <!-- <div data-slot="true" data-target="parcel_coordinates_description"></div> -->
                        <a id="upload-btn" href="#" class="btn btn-secondary"><i
                                class="fas fa-upload mr-1"></i>Upload</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion mb-3">
            <div id="depositionOverlayHeading" class="border-bottom">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-right text-decoration-none" type="button"
                        data-toggle="collapse" data-target="#depositionOverlayForm" aria-expanded="false"
                        aria-controls="depositionOverlayForm">
                        <i class="fa fa-chevron-down mr-2"></i>Deposition Overlay
                    </button>
                </h2>
            </div>

            <div id="depositionOverlayForm" class="collapse" aria-labelledby="depositionOverlayHeading">
                <div class="row mt-3">
                    <div class="col-sm">
                        <div data-slot="true" data-target="deposition_overlay_file"></div>

                        <div class="row mb-1 subform">
                            <div class="col-md" style="display: none;">
                                <div data-slot="true" data-target="deposition_overlay_upload_coordinates_system"></div>
                            </div>
                            <div class="col-md" style="opacity:0">
                                <div data-slot="true" data-target="deposition_overlay_upload_utm_zone"></div>
                            </div>
                            <div class="col-md">
                                <div data-slot="true" data-target="deposition_overlay_zflag_restriction"></div>
                            </div>
                        </div>

                        <!-- <div data-slot="true" data-target="parcel_coordinates_description"></div> -->
                        <a id="deposition-overlay-upload-btn" href="#" class="btn btn-secondary"><i
                                class="fas fa-upload mr-1"></i>Upload</a>
                    </div>
                </div>
                <div class="row mt-2" id="deposition-overlay-current-file" style="display:none; margin-top: 20px">
                    <div class="errors">
                    </div>

                    <div class="col-sm">
                        <a id="deposition-overlay-delete-btn" href="#" class="btn btn-secondary"><i
                                class="fas fa-trash mr-1"></i>Delete <span
                                id="deposition-overlay-current-filename"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="parcel_file_fields_div">
            <div class="row">
                <div class="col-sm">
                    <h5 class="text-center">Parcel Definitions</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div data-slot="true" data-target="parcel_names_field"></div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-sm">
                    <div data-slot="true" data-target="parcel_coordinates_field"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div data-slot="true" data-target="parcel_type_field"></div>
                    <div data-slot="true" data-target="parcel_land_use_field"></div>
                    <div data-slot="true" data-target="parcel_farm_food_field"></div>
                    <div data-slot="true" data-target="parcel_fish_food_field"></div>
                    <div data-slot="true" data-target="parcel_wetland_field"></div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm">
                    <button class="btn btn-warning" id="crate_parcels_from_csv">Create Parcels</button>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm">
                <div class="text-center" id="mapid" style="width: 100%; height: 600px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="pill pill-alert col-sm">
                    <small>
                        <strong>
                            <u>Click on the table cells to edit properties</u>.
                        </strong>
                    </small>
                </div>
                <table data-slot="true" data-target="mapTable" class="hover wrap-text" id="mapTable"></table>
            </div>
        </div>
        <div class="row">
            <fieldset class="mt-2">
                <legend>AERMOD Receptors</legend>
                <div class="row mb-1">
                    <div class="col-sm">
                        <p>
                            Generate grids of AERMOD receptors using the Receptor Spacing you entered in the editable
                            table above.
                        </p>
                        <p>
                            Once receptors have been generated, select one of the Download buttons
                            to download a GeoJSON or AERMOD input file of the receptor grids.
                            You can view the generated receptors in the map by turning on the display in the map’s
                            basemap selection box.
                            If you subsequently change receptor spacing, you must again select Generate AERMOD
                            Receptors.
                            If the display in the map does not refresh, select the Recalculate button at the bottom
                            right of the page
                            and again turn on the display in the map’s basemap selection box.
                        </p>
                        <a id="generate_aermod_receptors_btn" role="link" style="cursor:pointer" tabindex="0"
                            class="btn btn-secondary">Generate AERMOD Receptors</a>
                    </div>
                </div>
                <div class="row mb-1 mt-3" id="aermod-receptors-current-file" style="display: none;">
                    <div class="errors">
                    </div>
                    <div class="col-sm">
                        <a id="aermod-receptors-download-geojson-btn" target="_blank" href="#" class="btn btn-dark">
                            <i class="fas fa-download mr-1"></i>Download geojson
                        </a>
                        <a id="aermod-receptors-download-aermod-btn" target="_blank" href="#" class="btn btn-dark">
                            <i class="fas fa-download mr-1"></i>Download AERMOD input
                        </a>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
</form>
<link rel="stylesheet" href="{{url_for('static', filename='css/form_styles.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/custom_icons.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/lib/leaflet.measurecontrol.css')}}" />
<script src="{{url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/jquery.dataTables.min.js') }}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/dataTables.bootstrap4.min.js') }}">
</script>
<script src="{{ url_for('static', filename='js/lib/FileSaver.min.js') }}">
</script>
<script src="{{ url_for('static', filename='js/lib/leaflet.shpfile.js') }}">
</script>
<script src="{{ url_for('static', filename='js/lib/shp.js') }}">
</script>
<script src="{{ url_for('static', filename='js/lib/leaflet.measurecontrol.min.js') }}">
</script>
<script src="{{url_for('static', filename='js/parcels_leaflet.js')}}">
</script>
<script>
    TRIM.leaflet.initMap('mapid');
    var observer = new MutationObserver(function (mutations) {
        TRIM.leaflet.map.invalidateSize(true)
    });
    var target = document.querySelector('#parcels-tab-pill');
    observer.observe(target, {
        attributes: true
    });
    onDomLoad(function () {
        $('.accordion h2 button').on('click', function () {
            $(this).find('i.fa').toggleClass('fa-chevron-up fa-chevron-down')
        });

        // FIXME hacky way to refresh all parcels when leaving the parcels tab
        let requires_reload = false;
        $('a[href$="-tab"]').on('click', (e) => {
            if ($("#parcels-tab-pill").hasClass("active")) {
                if (requires_reload) {
                    e.target.click();
                    $('#save-btn').click();
                }
            }
        });

        var DREW_MAP = false;

        var parcelsReadyEvent = document.createEvent('Event');
        parcelsReadyEvent.initEvent('parcels:ready', true, true);
        TRIM.refreshParcels = function (force) {
            force = force || false;
            if (TRIM.store.currentScenario.parcels && !force) {
                document.body.dispatchEvent(parcelsReadyEvent);
                return
            }
            LoadingScreen.show('refreshing_parcels');
            DREW_MAP = false;
            TRIM.api.getParcels('{{ scenario.id }}').on('load', function () {
                var parcelData = JSON.parse(this.responseText);
                TRIM.store.currentScenario.parcels = parcelData.parcels;
                TRIM.store.currentScenario.standardMedia = parcelData.media;
                document.body.dispatchEvent(parcelsReadyEvent);
                LoadingScreen.hide('refreshing_parcels');
            });
        }

        document.body.addEventListener('parcels:ready', function () {
            try {
                TRIM.forms.populate(form, TRIM.store.currentScenario);
                if (DREW_MAP == false) {
                    TRIM.leaflet.drawParcels();
                    TRIM.leaflet.initServices();
                    mapTableRedraw();
                    DREW_MAP = true;
                }
            }
            catch (err) {
                console.log(TRIM.store.currentScenario.parcels, err);
            }
            console.log('populated parcels gui!')
            LoadingScreen.hide('parcel_gui_loading');
        });

        // CREATING A NEW PARCEL //
        var shapes = L.geoJSON()

        TRIM.leaflet.map.on('pm:create', ({ layer }) => {
            TRIM.leaflet.map.pm.setGlobalOptions({ snapSegment: TRIM.leaflet.getSmartSnapSetting("segments") });
            newLayer(layer);
        });

        // Map and Parcel Table Functions
        function newLayer(l) {
            var idIW = L.popup();
            parcel = l;
            var feature = parcel.feature = parcel.feature || {};
            feature.type = "Feature";
            feature.properties = feature.properties || {};
            let parcelDrawHelpText = "Enter an arbitrary but unique name for the parcel. Names should not begin with Air, SW, Sed, SurfSoil, RootSoil, VadoseSoil, or GW. Names should not contain spaces. We recommend short names (e.g., less than about 15 characters) because they will be displayed on other pages of this user interface.<br/><br/>Also enter an arbitrary description of the parcel. It will not be used within the modeling.";
            var content = '<span>' + parcelDrawHelpText + '<br/><br/><b>Parcel Name</b></span><br/><input id="shapeName" type="text"/><br/><br/><span><b>Parcel Description<b/></span><br/><textarea id="shapeDesc" cols="25" rows="5"></textarea><br/><br/><input type="button" id="okBtn" value="Save"/>';
            idIW.setContent(content);
            idIW.setLatLng(l.getBounds().getCenter());
            idIW.openOn(TRIM.leaflet.map);
            $('#okBtn').on('click', null, { parcel: parcel }, saveIdIW)
        };

        function saveIdIW(event) {
            let parcel = event.data.parcel
            var sName = $('#shapeName').val();

            // validation
            let parcelList = TRIM.store.currentScenario.parcels;
            let invalid_starts = [
                "air",
                "sw",
                "sed",
                "surfsoil",
                "rootsoil",
                "vadosesoil",
                "gw"
            ];
            for (let substr of invalid_starts) {
                if (sName.toLowerCase().startsWith(substr)) {
                    return;
                }
            }
            if (sName.indexOf(' ') >= 0) {
                return; // contain spaces
            }
            else if (parcelList.filter(p => p.name.toLowerCase() == sName.toLowerCase()).length > 0) {
                return; // dupe parcel name
            }

            var sDesc = $('#shapeDesc').val();
            var Area = L.GeometryUtil.geodesicArea(parcel.getLatLngs()[0]);
            var sArea = Area.toString() //L.GeometryUtil.readableArea(Area, isMetric = 'km')
            parcel.feature.properties.name = sName;
            parcel.feature.properties.desc = sDesc;
            parcel.feature.properties.area = sArea;
            parcel.feature.properties.parceltype = "Land & Air"
            parcel.feature.properties.air = "No";
            parcel.feature.properties.landuse = "Nozq   "; // we will need NLCD data here?
            parcel.feature.properties.farmfoodchain = "No";
            parcel.feature.properties.fishfoodweb = "No";
            parcel.feature.properties.wetland = "No";
            TRIM.leaflet.map.closePopup();
            LoadingScreen.show('create_parcel');
            TRIM.leaflet.parcels.addLayer(parcel);
            parcel.bindTooltip(parcel.feature.properties.name, { permanent: false }).addTo(TRIM.leaflet.map);
            mapTableRedraw()

            // WRITE TO DATABASE
            TRIM.api.createParcels('{{ scenario.id }}', parcel.toGeoJSON()).on('load', function () {
                let resp = JSON.parse(this.responseText)
                if (resp) {
                    let new_parcel = resp['parcel']
                    parcel.feature.properties.parcelid = new_parcel["id"]
                    parcel.feature.properties.area = new_parcel["area"]
                    parcel.feature.properties.air = new_parcel["hasAir"]
                    parcel.feature.properties.parceltype = new_parcel["parcelType"]
                    parcel.feature.properties.landuse = { 'lu': new_parcel["landUse"], 'list': resp.media }
                    parcel.feature.properties.farmfoodchain = new_parcel["hasFarmFoodChain"]
                    parcel.feature.properties.fishfoodweb = new_parcel["hasFishFoodWeb"]
                    parcel.feature.properties.wetland = new_parcel["hasWetland"]
                    parcel.feature.properties.wetland = new_parcel["hasWetland"]
                    parcel.feature.properties.receptor_spacing = new_parcel["receptor_spacing"];

                    TRIM.leaflet.parcels.addLayer(parcel);
                    parcel.bindTooltip(parcel.feature.properties.name, { permanent: false }).addTo(TRIM.leaflet.map);
                    mapTableRedraw()
                    // add new parcel to TRIM.store to prevent dupes
                    if (parcelList.length > 0) {
                        TRIM.store.currentScenario.parcels.push(new_parcel);
                    }
                }
                // TRIM.refreshParcels();
                requires_reload = true;
                LoadingScreen.hide('create_parcel');
            })
        };

        // REMOVE A PARCEL//
        window.deleteParcelFromServer = function (parcelObj) {
            LoadingScreen.show('delete_parcel');
            TRIM.api.deleteParcels(TRIM.store.currentScenario.id, parcelObj).on('load', function () {
                // delete parcel from TRIM.store
                const idx = TRIM.store.currentScenario.parcels.findIndex(p => p.id == parcelObj.properties.parcelid);
                if (idx > -1) {
                    TRIM.store.currentScenario.parcels.splice(idx, 1);
                }
                requires_reload = true;
                TRIM.leaflet.refreshParcels()
                mapTableRedraw()
                LoadingScreen.hide('delete_parcel');
            })
        };

        TRIM.leaflet.map.on('pm:remove', ({ layer }) => {
            TRIM.leaflet.parcels.removeLayer(layer._leaflet_id)
            deleteParcelFromServer(layer.toGeoJSON());
        });

        var form = document.getElementById('parcels-gui');

        form.addEventListener('form:visible', function () {
            if (!TRIM.store.currentScenario.parcels) {
                LoadingScreen.show('parcel_gui_loading');
            }
            console.log('parcels gui visible')
            populateParcelsGui();
        });

        function populateParcelsGui() {
            if ($(form).filter(':not(.form-loaded)').length) {
                // Form hasn't loaded yet; wait a bit and try again
                setTimeout(function () { populateParcelsGui(); }, 1000);
                return;
            }
            TRIM.refreshParcels();
            enableParcelFileUploadUi();
        }

        function onUploadCoordinateSystemChanged() {
            let parcelGui = $("#parcels-gui");
            let uploadPrefixes = [
                "",					    // parcel upload
                "deposition_overlay_"   // depo overlay upload
            ];
            for (let i = 0; i < uploadPrefixes.length; i++) {
                let prefix = uploadPrefixes[i];
                let coordsSystem = parcelGui.find("#" + prefix + "upload_coordinates_system");
                let utmZone = parcelGui.find("#" + prefix + "upload_utm_zone");
                // show/hide the div containing the UTM zone widget
                utmZone.parents("div[class='col-md']").css("opacity", (coordsSystem.val() == "UTM" ? 1 : 0));
            }
        }

        // zones are 1A-60Z with no A/B/I/O/Y/Z. case/whitespace insensitive.
        function isValidUtmZone(z) {
            let cleanedZone = z.trim().replaceAll(" ", "").toUpperCase();
            const regex = /^([1-9]|[1-5][0-9]|60)([C-HJ-NP-X])$/gm;
            return (regex.exec(cleanedZone) != null);
        }

        function enableParcelFileUploadUi() {
            let parcelGui = $("#parcels-gui");

            let parcelFile = parcelGui.find("#parcels_file");
            let coordsSystem = parcelGui.find("#upload_coordinates_system");
            let utmZone = parcelGui.find("#upload_utm_zone");
            let parcelUploader = parcelGui.find("#upload-btn");

            let depoOverlayFile = parcelGui.find("#deposition_overlay_file");
            let depoOverlayCoordsSystem = parcelGui.find("#deposition_overlay_upload_coordinates_system");
            let depoOverlayUtmZone = parcelGui.find("#deposition_overlay_upload_utm_zone");
            let depoOverlayZFlagRestriction = parcelGui.find("#deposition_overlay_zflag_restriction");
            let overlayUploader = parcelGui.find("#deposition-overlay-upload-btn");
            let overlayDeleter = parcelGui.find("#deposition-overlay-delete-btn");

            coordsSystem.on('change', onUploadCoordinateSystemChanged);
            depoOverlayCoordsSystem.on('change', onUploadCoordinateSystemChanged);
            onUploadCoordinateSystemChanged();

            parcelUploader.on('click', function () {
                let parcelFileData = parcelFile.prop('files')[0];

                if (parcelFileData == undefined) {
                    alert('Please select a file to upload.');
                    return false;
                } else if (coordsSystem.val() == "UTM") {
                    if (!isValidUtmZone(utmZone.val())) {
                        alert('Please enter a valid UTM zone (e.g. 16T, 13R, etc.).');
                        return false;
                    }
                }

                // if we made it here, we're good to submit to server
                let fieldData = [parcelFile.get(0)];

                fieldData.push({
                    "type": "input",
                    "name": "scenario_id",
                    "value": TRIM.store.currentScenario.id
                });

                fieldData.push({
                    "type": "input",
                    "name": "coord_system",
                    "value": coordsSystem.val()
                });

                fieldData.push({
                    "type": "input",
                    "name": "utm_zone",
                    "value": coordsSystem.val() == "UTM" ? utmZone.val() : "n/a"
                });

                LoadingScreen.show('upload_parcel_csv');
                TRIM.api.uploadParcelFile(fieldData, function (success, responseData, c) {
                    LoadingScreen.hide('upload_parcel_csv');

                    if (!success) {
                        alert('An error occurred during upload.');
                        console.log(responseData)
                        console.log(c)
                    } else {
                        console.log("reload...");
                        window.location.reload();
                    }
                });
                return false;
            });

            overlayDeleter.on('click', function () {
                LoadingScreen.show('delete_depo_overlay_plt');
                TRIM.api.deleteMiscScenarioFile(TRIM.store.currentScenario.id, "deposition_overlay", function (success, responseData, c) {
                    if (!success) {
                        alert('An error occurred during deletion.');
                    } else {
                        TRIM.leaflet.removeDepositionOverlayFromMap();
                    }
                    LoadingScreen.hide('delete_depo_overlay_plt');
                });

                return false;
            });

            overlayUploader.on('click', function () {
                let overlayFileData = depoOverlayFile.prop('files')[0];

                if (overlayFileData == undefined) {
                    alert('Please select a file to upload.');
                    return false;
                } else if (depoOverlayCoordsSystem.val() == "UTM") {
                    if (!isValidUtmZone(depoOverlayUtmZone.val())) {
                        alert('Please enter a valid UTM zone (e.g. 16T, 13R, etc.).');
                        return false;
                    }
                }

                // if we made it here, we're good to submit to server
                let fieldData = [depoOverlayFile.get(0)];

                fieldData.push({
                    "type": "input",
                    "name": "scenario_id",
                    "value": TRIM.store.currentScenario.id
                });

                fieldData.push({
                    "type": "input",
                    "name": "misc_file_type",
                    "value": "deposition_overlay"
                });

                fieldData.push({
                    "type": "input",
                    "name": "coord_system",
                    "value": depoOverlayCoordsSystem.val()
                });

                fieldData.push({
                    "type": "input",
                    "name": "utm_zone",
                    "value": depoOverlayCoordsSystem.val() == "UTM" ? depoOverlayUtmZone.val() : "n/a"
                });

                fieldData.push({
                    "type": "input",
                    "name": "zflag_restriction",
                    "value": depoOverlayZFlagRestriction.val()
                });

                LoadingScreen.show('upload_depo_overlay_plt');
                TRIM.api.uploadMiscScenarioFile(fieldData, function (success, responseData, c) {
                    TRIM.leaflet.removeDepositionOverlayFromMap();
                    LoadingScreen.hide('upload_depo_overlay_plt');

                    if (!success) {
                        if ("message" in responseData && responseData.message != "generic_error") {
                            alert("An error occurred during upload: " + responseData.message);
                        } else {
                            alert('An error occurred during upload.');
                        }
                    } else {
                        TRIM.leaflet.installDepositionOverlayOntoMap(responseData)
                    }
                });

                return false;
            });
        }

        let mapTable = null;
        function mapTableRedraw() {
            let tblId = "#mapTable"
            mapTable = $(tblId).removeAttr('width').DataTable();
            shapes = TRIM.leaflet.parcels.toGeoJSON();
            // console.log(shapes.features)

            map_cols = [
                {
                    data: "properties.name",
                    render: function (data, type, row) {
                        return "<input class='editableCell form-control form-control-sm' type='text' value='" + data + "' style='display:none'>" +
                            "<label>" + data + "</label>"
                    },
                    className: 'font-weight-bold rightBorder freeze-column'
                },
                {
                    data: "properties.desc",
                    render: function (data, type, row) {
                        let parcel_info = [{
                            'type': 'data',
                            'name': 'id',
                            'value': row.properties.parcelid,
                        }, {
                            'type': 'data',
                            'name': 'field',
                            'value': 'description'
                        }, {
                            'type': 'input',
                            'name': 'description',
                            'value': data
                        }]
                        parcel_info = JSON.stringify(parcel_info)
                        return "<input class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info + "' type='text' value='" + data + "' style='display:none'>" +
                            "<label class='editableCell badge badge-light'>" + data + "</label>"
                    }
                },
                {
                    data: "properties.area",
                    render: function (data, type, row) {
                        return "<label>" + (data / 1E6).toFixed(5) + "</label>"
                    }
                },
                {
                    data: "properties.parceltype",
                    render: function (data, type, row) {
                        let parcel_info = [{
                            'type': 'data',
                            'name': 'id',
                            'value': row.properties.parcelid,
                        }, {
                            'type': 'data',
                            'name': 'field',
                            'value': 'parcelType'
                        }, {
                            'type': 'input',
                            'name': 'parcelType',
                            'value': data
                        }]
                        parcel_info = JSON.stringify(parcel_info)
                        var parcel_types = ["Air Only", "Water Only", "Land Only", "Land & Air", "Water & Air"]
                        var $select = $("<select class='editableCell form-control form-control-sm parceltype_ddl' name='select' style='display:none'></select>", {})
                        $.each(parcel_types, function (k, v) {
                            var $option = $("<option></option>",
                                {
                                    text: v,
                                    value: v
                                });
                            if (row.properties.parceltype == v) {
                                $option.attr("selected", "selected")
                            }
                            $select.append($option)
                        })
                        $select.attr("data-parcelinfo", parcel_info)
                        return $select.prop("outerHTML") +
                            "<label class='editableCell badge badge-light badge badge-light'>" + data + "</label>"
                    }
                },
                {
                    data: "properties.landuse",
                    render: function (data, type, row) {
                        let parcel_info = [{
                            'type': 'data',
                            'name': 'id',
                            'value': row.properties.parcelid,
                        }, {
                            'type': 'data',
                            'name': 'field',
                            'value': 'landUse'
                        }, {
                            'type': 'input',
                            'name': 'landUse',
                            'value': data.lu
                        }]
                        parcel_info = JSON.stringify(parcel_info)
                        var $select = $("<select class='editableCell form-control form-control-sm landuse_ddl' name='select' style='display:none'></select>", {})
                        $.each(data.list, function (k, v) {
                            var $option = $("<option></option>",
                                {
                                    text: v,
                                    value: v
                                });
                            if (row.properties.landuse.lu == v) {
                                $option.attr("selected", "selected")
                            }
                            if (v == "Impervious") { // removing Impervous as a UI option only
                                $option.attr("hidden", "");
                            }
                            $select.append($option)
                        })
                        let editFlag = (row.properties.landuse.lu != "N/A") ? "editableCell badge badge-light" : "text-muted"
                        $select.attr("data-parcelinfo", parcel_info)
                        return $select.prop("outerHTML") +
                            "<label class='" + editFlag + " landuse_lb'>" + data.lu + "</label>"
                    }
                },
                {
                    data: "properties.farmfoodchain",
                    render: function (data, type, row) {
                        let parcel_info = [{
                            'type': 'data',
                            'name': 'id',
                            'value': row.properties.parcelid,
                        }, {
                            'type': 'data',
                            'name': 'field',
                            'value': 'hasFarmFoodChain'
                        }, {
                            'type': 'input',
                            'name': 'hasFarmFoodChain',
                            'value': data
                        }]
                        let editFlag = (row.properties.landuse.lu == "Tilled Soil" || row.properties.landuse.lu == "Untilled Soil") ? "editableCell badge badge-light" : "text-muted"
                        parcel_info = JSON.stringify(parcel_info)
                        return "<select class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info + "' name='select' style='display:none'>" +
                            "<option value='Yes'>Yes</option>" +
                            "<option value='No'>No</option>" +
                            "</select>" +
                            "<label class='" + editFlag + " farmfoodchain'>" + data + "</label>"
                    }
                },
                {
                    data: "properties.fishfoodweb",
                    render: function (data, type, row) {
                        let parcel_info = [{
                            'type': 'data',
                            'name': 'id',
                            'value': row.properties.parcelid,
                        }, {
                            'type': 'data',
                            'name': 'field',
                            'value': 'hasFishFoodWeb'
                        }, {
                            'type': 'input',
                            'name': 'hasFishFoodWeb',
                            'value': data
                        }]
                        let editFlag = (row.properties.parceltype.includes("Water")) ? "editableCell badge badge-light" : "text-muted"
                        parcel_info = JSON.stringify(parcel_info)
                        return "<select class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info + "' name='select' style='display:none'>" +
                            "<option value='Yes'>Yes</option>" +
                            "<option value='No'>No</option>" +
                            "</select>" +
                            "<label class='" + editFlag + " fishfoodweb'>" + data + "</label>"
                    }
                },
                {
                    data: "properties.wetland",
                    render: function (data, type, row) {
                        let parcel_info = [{
                            'type': 'data',
                            'name': 'id',
                            'value': row.properties.parcelid,
                        }, {
                            'type': 'data',
                            'name': 'field',
                            'value': 'hasWetland'
                        }, {
                            'type': 'input',
                            'name': 'hasWetland',
                            'value': data
                        }]
                        let editFlag = (row.properties.parceltype.includes("Water")
                            || row.properties.parceltype.includes("Air Only")
                            || row.properties.landuse.lu == "Impervious") ? "text-muted" : "editableCell badge badge-light"
                        parcel_info = JSON.stringify(parcel_info)
                        return "<select class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info + "' name='select' style='display:none'>" +
                            "<option value='Yes'>Yes</option>" +
                            "<option value='No'>No</option>" +
                            "</select>" +
                            "<label class='" + editFlag + " wetland'>" + data + "</label>"
                    }
                },
                {
                    data: "properties.receptor_spacing",
                    render: function (data, type, row) {
                        let parcel_info = [{
                            'type': 'data',
                            'name': 'id',
                            'value': row.properties.parcelid,
                        }, {
                            'type': 'data',
                            'name': 'field',
                            'value': 'receptor_spacing'
                        }, {
                            'type': 'input',
                            'name': 'receptor_spacing',
                            'value': data
                        }]
                        parcel_info = JSON.stringify(parcel_info)
                        return "<input class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info + "' type='text' value='" + data + "' style='display:none'>" +
                            "<label class='editableCell badge badge-light'>" + data + "</label>"
                    }
                }
            ];
            mapTable.clear().draw();
            mapTable.destroy()
            mapTable = $('#mapTable').DataTable({
                data: shapes.features,
                paging: false,
                bFilter: false,
                info: false,
                scrollX: true,
                scrollY: 500,
                bAutoWidth: false,
                ordering: false,
                fnCreatedRow: function (row, data, index) {
                    $(row).find("td.rightBorder").addClass("freeze-column")
                },
                columns: setDynamicColumnWidths(tblId, map_cols, shapes.features),
                initComplete: function (settings, json) {
                    // $("#mapTable").wrap("<div style='overflow:auto; width: 100%; position:relative;'></div>");
                    $(".dataTables_scrollBody").css({ "max-height": "500px", "height": "100%" });
                    $(".dataTables_scrollBody").addClass('wrap-text-scrollbody');
                    $(".dataTables_scrollHead").addClass('wrap-text-scrollhead');

                    $('table[aria-describedby="mapTable_info"]').removeAttr("aria-describedby");
                    this.api().columns().header().to$().attr('scope', 'col');

                    $("[data-toggle=popover]").popover();
                    $('[data-toggle="tooltip"]').tooltip();
                    $('#mapTable tbody').on('change', 'select.landuse_ddl', function () {
                        //get selected value
                        var changed = $(this).find(":selected").val();
                        //get cell being changed
                        //var cell = mapTable.cell($(this).closest('td'));
                        //get row being changed
                        var row = mapTable.row($(this).closest('tr'));
                        var data = row.data();
                        if (changed == "Water" || changed == "Impervious" || changed == "Air Only") {
                            $(this).closest('tr').find("label.wetland").text("No")
                        }
                        if (changed != "Tilled Soil" || changed != "Untilled Soil") {
                            $(this).closest('tr').find("label.farmfoodchain").text("No")
                        }
                        if (changed != "Water") {
                            $(this).closest('tr').find("label.fishfoodweb").text("No")
                        }
                        //invalidate the data and redraw
                        //row.invalidate().draw(false);
                    });
                    $('#mapTable tbody').on('change', 'select.parceltype_ddl', function () {
                        //get selected value
                        var changed = $(this).find(":selected").val();
                        //get cell being changed
                        //var cell = mapTable.cell($(this).closest('td'));
                        //get row being changed
                        var row = mapTable.row($(this).closest('tr'));
                        var data = row.data();
                        if (changed.includes("Water") || changed.includes("Air Only")) {
                            $(this).closest('tr').find("label.wetland").text("No")
                        }
                        if (!changed.includes("Water")) {
                            $(this).closest('tr').find("label.fishfoodweb").text("No")
                        }
                        if (changed != "Water Only" && changed != "Air Only" && changed != "Water & Air") {
                            $(this).closest('tr').find("select.landuse_ddl option").filter(function () {
                                return $(this).text() == "Grasses/Herbs"
                            }).attr('selected', true)
                            $(this).closest('tr').find('label.landuse_lb').text("Grasses/Herbs")
                        }
                        if (changed == "Water Only" || changed == "Air Only" || changed == "Water & Air") {
                            $(this).closest('tr').find('label.landuse_lb').text("N/A").attr("class", "text-muted")
                        }
                        //invalidate the data and redraw
                        //row.invalidate().draw(false);
                    });
                }
            });

            $('label.editableCell').click(function () {
                $(this).prev("input").show()
                $(this).prev("select").show()
                $(this).prev("input").focus()
                $(this).prev("select").focus()
                $(this).hide();
            });

            $('input.editableCell,select.editableCell').blur(function () {
                let focusTblId = $(this).closest(`table`).attr('id');
                if (`#${focusTblId}` !== tblId) {
                    return;
                }

                let data = $(this).val()
                $(this).hide()
                $(this).next("label").show().text(data)
                let this_table_id = "#" + $(this).closest("table").attr("id")
                update_data(this_table_id)
                let parcel_info = $(this).data('parcelinfo')
                if (parcel_info) {
                    previous_data = parcel_info[parcel_info.findIndex(e => e.type == 'input')];
                    if (previous_data.value === data) {
                        return;
                    }
                    console.log(parcel_info);
                    previous_data.value = data;
                    LoadingScreen.show('loading_results');
                    TRIM.api.updateParcel('{{ scenario.id }}', parcel_info).on('load', function () {
                        TRIM.refreshParcels();
                        requires_reload = true;
                        LoadingScreen.hide('loading_results');
                    });
                    mapTableRedraw()
                }
            })

            // AERMOD Receptor UI setup -- start
            $("a#generate_aermod_receptors_btn").click(function () {
                console.log("do something!");

                LoadingScreen.show('generating_aermod_receptors');
                TRIM.api.runReceptorGeneration('{{ scenario.id }}', function (success, responseData) {
                    if (success) {
                        TRIM.leaflet.renderAermodDownloadUi(responseData);
                    }
                    LoadingScreen.hide('generating_aermod_receptors');
                });
            });

            // AERMOD Receptor UI setup -- end
        }

        $('#parcel_file_fields_div').hide()
        enableFieldUpdates();

        function update_data(this_table_id) {
            let new_table_data = get_Data_from_table(this_table_id)
            new_table_data.forEach(function (e) {
                let i = 0, ii = shapes.features.length;
                for (i; i < ii; i++) if (shapes.features[i].properties.name === e["Parcel Name"]) { break };
                shapes.features[i].properties.desc = e["Description"]
                shapes.features[i].properties.air = e["Air"]
                shapes.features[i].properties.parceltype = e["Parcel Type"]
                shapes.features[i].properties.landuse = { 'lu': e["Land Use"], 'list': shapes.features[i].properties.landuse.list }
                shapes.features[i].properties.farmfoodchain = e["Farm Food Chain"]
                shapes.features[i].properties.fishfoodweb = e["Fish Food Web"]
                shapes.features[i].properties.wetland = e["Wetland"]
                shapes.features[i].properties.receptor_spacing = e["Receptor Spacing (m)"]
            })
        }

        function get_Data_from_table(thisTableID) {
            let myRows = [];
            let headersText = [];
            let head_section = thisTableID + ' thead th'
            let $headers = $(head_section);

            // Loop through grabbing everything
            let thisRows = thisTableID + ' tbody tr'
            let $rows = $(thisRows).each(function (index) {
                $cells = $(this).find("td");
                myRows[index] = {};
                $cells.each(function (cellIndex) {
                    // Set the header text
                    if (headersText[cellIndex] === undefined) {
                        headersText[cellIndex] = $($headers[cellIndex]).text();
                    }
                    // Update the row object with the header/cell combo
                    myRows[index][headersText[cellIndex]] = $(this).find('label').text();
                });
            });
            return myRows
        }

        $(window).on('load', function () {
            setTimeout(function () { TRIM.leaflet.refreshMap() }, 2000)
        })

        function enableFieldUpdates() {
            var gui = $('#parcels-gui');
            var fileField = gui.find('[type="file"]');
            var desc = gui.find('[type="text"]');
            var selects = gui.find('select');

            desc.attr('disabled', 'disabled');
            selects.attr('disabled', 'disabled');

            var coords = selects
                .filter('#parcel_x_coordinates_field').add(
                    selects.filter('#parcel_y_coordinates_field'))
                .closest('.form-group').hide();

            function updateFields() {
                var data = TRIM.store.fileData.fromField(fileField, 'name', 'parcels') || null;

                desc.attr('disabled', 'disabled');
                selects.html('');
                coords.hide();
                if (data) {
                    var filename = data.filename;
                    var ext = filename.split('.').slice(-1)[0];
                    if (ext === 'csv') {
                        desc.removeAttr('disabled');
                        coords.show();
                    }
                    var fields = data.fields;
                    selects.each(function () {
                        var me = $(this);
                        TRIM.forms.updateSelect(this, fields, true);
                        this.removeAttribute('disabled');
                    });
                }
                else {
                    selects.attr('disabled', 'disabled');
                }
            }

            fileField.change(function (e) {
                var me = $(this);
                var loadingRequest = 'load_' + this.id;
                LoadingScreen.show(loadingRequest);

                var myName = me.attr('name');
                var fileKey = `parcels_${myName}`;
                TRIM.store.fileData.remove(fileKey);
                TRIM.api.parseFiles(this).on('load', function () {
                    try {
                        var data = JSON.parse(this.responseText);
                        if (data) {
                            if (!$('#parcel_file_fields_div').is(":visible")) {
                                $('#parcel_file_fields_div').show();
                            }
                            var myData = data.files[myName];
                            TRIM.store.fileData.add(fileKey, myData);
                        }
                        updateFields();
                    }
                    finally {
                        TRIM.refreshParcels();
                        requires_reload = true;
                        LoadingScreen.hide(loadingRequest);
                    }
                });
            });
        }
    });
</script>