{% from 'macros/scenarios/erosion/erosion_macros.html' import conditional_erosion_subform %}

{% block content %}
<form id="erosion-settings-gui"
    data-async-form="true"
    data-form-src="scenario_erosion_form"
>
    <section class="container px-0">
        <div class="row mb-1">
            <div class="col-sm">
                <div data-slot="true" data-target="erosion_input_options"></div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm">
                <section id="opt1_section" class="erosion-subform">
                    <div id="option_1_form" data-slot="true" data-target="erosion_inputs_opt1">
                         {{ conditional_erosion_subform(
                        file_input='erosion_params_file_opt1',
                        have_user_file=['have_user_file_opt1_PN','have_user_file_opt1_ER'],
                        optionNum = 1
                        ) }}
                    </div>
                </section>
                <section id="opt2_section" class="erosion-subform">
                    <div id="option_2_form" data-slot="true" data-target="erosion_inputs_opt2">
                         {{ conditional_erosion_subform(
                        file_input='erosion_params_file_opt2',
                        have_user_file=['have_user_file_opt2_PN','have_user_file_opt2_USL','have_user_file_opt2_SDR'],
                        optionNum = 2
                        ) }}
                    </div>
                </section>
                <section id="opt3_section" class="erosion-subform">
                    <div id="option_3_form" data-slot="true" data-target="erosion_inputs_opt3">
                         {{ conditional_erosion_subform(
                        file_input='erosion_params_file_opt3',
                        have_user_file=['have_user_file_opt3_PN','have_user_file_opt3_R','have_user_file_opt3_K','have_user_file_opt3_S','have_user_file_opt3_L','have_user_file_opt3_LS','have_user_file_opt3_C','have_user_file_opt3_P','have_user_file_opt3_USL','have_user_file_opt3_SDR'],
                        optionNum = 3
                        ) }}
                    </div>
                </section>
            </div>
        </div>
    </section>
</form>
<link rel="stylesheet" href="{{url_for('static', filename='css/form_styles.css')}}"/>
<script src="{{url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/jquery.dataTables.min.js') }}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/dataTables.bootstrap4.min.js') }}">
</script>
<script>
    onDomLoad(function (e) {
        $('[data-toggle="tooltip"]').tooltip()

        var form = document.getElementById('erosion-settings-gui');

        form.addEventListener('form:visible', function() {
            console.log('erosion settings form visible');
            ErosionForm.init();
            document.body.addEventListener('parcels:ready', ErosionForm.refresh());
        });
    });

    window.ErosionForm = ((erosion) => {
        let initializedForms = false;
        let initializingForms = false;

        const fieldAbbrToName = {
            'PN': 'Surface Parcel',
            'ER': 'Total Effective Erosion Rate',
            'USL': 'A',
            'SDR': 'SD',
            'R': 'R',
            'K': 'K',
            'S': 'S',
            'L': 'L',
            'LS': 'LS',
            'C': 'C',
            'P': 'P'
        }

        erosion.init = () => {
            if (initializedForms || initializingForms) {
                return;
            }
            initializingForms = true;
            TRIM.refreshParcels();
            initFormFields();
            initializedForms = true;
            initializingForms = false;
        };

        function initFormFields() {
            LoadingScreen.show('erosion_settings_init');
            const dataSourceSelect = $('#erosion_input_options');
            const dssOpts = dataSourceSelect.find('option').removeAttr('selected');
            if (!dssOpts.length) {
                // Form isn't populated yet
                setTimeout(initFormFields, 500);
                return;
            }

            $('.input_file_options').hide();

            /////////////////////////////////////////////
            // Initialize Source Select
            /////////////////////////////////////////////

            dataSourceSelect.on('change', (e) => updateFormDisplay(true));
            if (TRIM.store.currentScenario.erosionRateSource) {
                // select the saved erosionRateSource
                dssOpts[TRIM.store.currentScenario.erosionRateSource - 1]
                    .setAttribute('selected', 'selected');
            }
            updateFormDisplay();

            function updateFormDisplay(saveData) {
                const optionNum = dataSourceSelect.children("option:selected").index() + 1;
                // Update local store
                TRIM.store.currentScenario.erosionRateSource = optionNum;
                // Show the correct display
                $('section.erosion-subform').hide();
                var mySect = $(`section#opt${optionNum}_section`).show();
                // Optionally, update the erosionRateCalcSource parameter in the DB
                if (saveData === true) {
                    TRIM.api.updateParameter(
                        'scenario', {'erosionRateCalcSource': optionNum}
                    ).on('load', () => {
                        const activeTbl = $(`#erosionTable_opt${optionNum}`)
                        saveErosionRates(activeTbl);
                    });
                }

                // Force table to resort to fix horizontal scroll issues:
                // Double-clicking is a hacky but workable way to do this
                // and make sure we maintain some semblance of sort order
                mySect.find(`table[data-target^="erosionTable_opt"] th:first`).click().click();
            }

            /////////////////////////////////////////////
            // Initialize Field Name Selects
            /////////////////////////////////////////////

            const fieldNameSelects = $('select[id^="erosion_inputs_"]');
            fieldNameSelects.attr('disabled', 'disabled'); // disable all by default
            fieldNameSelects.on('change', (e) => updateFieldNameSelect($(e.target)));

            function updateFieldNameSelect(el) {
                const elId = el.attr('id');
                const optionNum = elId.split('_')[2].replace('opt', '');
                const inputFieldName = el.find('option:selected').text();

                const isPclNameSelect = elId.endsWith('_PN');
                if (isPclNameSelect && inputFieldName != '') {
                    // enable related options
                    $(`select[id^="erosion_inputs_opt${optionNum}_"]`).removeAttr('disabled');
                }
                else {
                    // Load the current data and format by parcel
                    const activeTbl = $(`#erosionTable_opt${optionNum}`);
                    const currentData = parseErosionData(activeTbl);
                    const currentDataByPcl = Object.fromEntries(
                        currentData.map(x => [x[fieldAbbrToName.PN], x])
                    );

                    // Get the input file data and parcel names in the input file data
                    const inputFileData = $(
                        `#erosion_inputs_opt${optionNum}_erosion_params_file_opt${optionNum}`
                    ).data('filedata')['file_data'];

                    // Find the field for parcel names in the input file
                    const pclNameSelect = $(
                        `select#erosion_inputs_opt${optionNum}_field_name_opt${optionNum}_PN`
                    );
                    const pclNameField = pclNameSelect.find('option:selected').text();

                    // Get the name of the target field to update
                    const dataFieldName = fieldAbbrToName[elId.split('_').pop()];

                    // Update the table data for the target field from the input data
                    for (const pclData of inputFileData) {
                        const pclName = pclData[pclNameField];
                        currentDataByPcl[pclName][dataFieldName] = pclData[inputFieldName];
                    }

                    updateAllErosionData(activeTbl, currentData, dataFieldName);
                }
            }

            /////////////////////////////////////////////
            // Initialize File Inputs
            /////////////////////////////////////////////

            const fileFields = $('#erosion-settings-gui input[type="file"]');
            fileFields.on('change', (e) => updateFileData($(e.target)));

            function updateFileData(el) {
                const elId = el.attr('id');

                const loadingRequest = `load_${elId}`;
                LoadingScreen.show(loadingRequest);

                el.removeAttr('data-filedata'); // Remove existing data

                const elName = el.attr('name');
                const optionNum = elId.split('_').pop().replace('opt', '');

                // Call API to parse data
                TRIM.api.parseFiles(el[0]).on('load', function() {
                    try {
                        const data = JSON.parse(this.responseText).files[elName];
                        if (data) {
                            el.attr('data-filedata', JSON.stringify(data));
                        }
                        updateFileDataSelects(optionNum, data || null);
                    } finally {
                        LoadingScreen.hide(loadingRequest);
                    }
                });
            }

            function updateFileDataSelects(optionNum, fileData) {
                const selects = $(`section#opt${optionNum}_section`) // only in the current section
                    .find(`select[id^="erosion_inputs_"]`)
                    .html('').attr('disabled', 'disabled'); // clear and disable all by default
                selects.closest('.input_file_options').hide(); // hide by default
                if (!fileData) {
                    return;
                }
                const dataFields = fileData.fields;
                for (const x of selects) {
                    TRIM.forms.updateSelect(x, dataFields, true);
                    const select = $(x);
                    // Make sure the parent container is visible
                    const opts = select.closest('.input_file_options')
                    if (!opts.is(':visible')) {
                        opts.show()
                    }
                    // Only enable the PN field by default; others are enabled when PN is selected
                    if (select.attr('id').endsWith('_PN')) {
                        select.removeAttr('disabled');
                    }
                }
            }

            /////////////////////////////////////////////
            // Initialize Get USDA Soil Data Button
            /////////////////////////////////////////////

            const usdaBtn = $('#SoilData_btn_opt3');
            usdaBtn.on('click', (e) => getUsdaSoilData());

            function getUsdaSoilData() {
                usdaBtn.append("<span class='lds-dual-ring mx-2'>");
                usdaBtn.prop('disabled', true);
                TRIM.api.getSoilData('notill').on('load', function() {
                    updateUsdaSoilData(JSON.parse(this.responseText));
                    usdaBtn.find('.lds-dual-ring').remove();
                    usdaBtn.attr('disabled', false);
                });
            }

            function updateUsdaSoilData(soilData) {
                usdaBtn.data('soil', soilData);
                const tbl = $('#erosionTable_opt3');

                // Load the current data and format by parcel
                const currentData = parseErosionData(tbl);
                const currentDataByPcl = Object.fromEntries(
                    currentData.map(x => [x[fieldAbbrToName.PN], x])
                );

                const targetFieldMappers = { // to extract the correct value from the USDA data
                    R: (data) => data.R,
                    K: (data) => data.kwfact['0'],
                    S: (data) => data.slope_r['0'].toFixed(2),
                    L: (data) => data.slopelenusle_r['0'].toFixed(2)
                };

                // Update the table data from the USDA soil data
                for (const k in soilData) {
                    if (k === 'success') {
                        continue;
                    }
                    try {
                        const pclData = JSON.parse(soilData[k]);
                        for (const field in targetFieldMappers) {
                            const fieldMapper = targetFieldMappers[field];
                            currentDataByPcl[k][field] = fieldMapper(pclData);
                        }
                    }
                    catch (err) {
                        console.log(err)
                    }
                }

                // tell the update function that field 'S' triggered this
                // -- that will cascade updates that will catch R, K, and L,
                // since they're all in calculations that depend on S
                updateAllErosionData(tbl, currentData, 'S', ['R', 'K', 'L']);
            }

            LoadingScreen.hide('erosion_settings_init');
        }

        function parseErosionData(tbl) {
            return Array.from($(tbl).DataTable().data());
        }

        const DEFAULT_VALS = {
            R: 300,
            K: 0.36,
            LS: 1.5,
            P: 1,
            b: 0.125
        };

        const VAL_FUNCS = {
            SD: (a, b, area) => {
                return a * (area ** (-b));
            },
            LS: (L, S) => {
                if (L == undefined || S == undefined) {
                    return undefined;
                }
                const Y = S < 1 ? 0.2 : (S < 3 ? 0.3 : (S < 5 ? 0.4 : 0.5));
                return ((0.065 + 0.0456 * S + 0.006541 * (S ** 2)) * ((L / 72.5) ** Y));
            },
            A: (R, K, LS, C, P) => {
                return (
                    (R * K * LS * C * P)
                    / 365 // 1/y to 1/d
                    * 2.47105E-04 // 1/acre to 1/m^2
                    * 907.183 // US ton to kg
                );
            },
            ER: (A, SD) => {
                return A * SD;
            }
        };

        const ABBR_TO_PARAM = {
            R: 'rainfall_erosivity_index',
            K: 'erodibility_index',
            S: 'slope_gradient',
            L: 'slope_length',
            LS: 'topographical_length-slope_factor',
            C: 'cover_management_factor',
            P: 'supporting_practices_factor',
            A: 'unit_soil_loss',
            a: 'empirical_intercept_coefficient',
            b: 'empirical_slope_coefficient',
            'SD': 'sediment_delivery_ratio',
            'Total Effective Erosion Rate': 'total_effective_erosion_rate'
        }

        erosion.refresh = () => {
            LoadingScreen.show('erosion_settings_refresh');
            if (!initializedForms) {
                // Forms haven't initialized yet
                setTimeout(erosion.refresh, 500);
                return;
            }
            if (!TRIM.store.currentScenario?.parcels) {
                // Parcels haven't loaded yet; wait a bit and try again
                setTimeout(erosion.refresh, 1000);
                return;
            }

            renderErosionData();

            LoadingScreen.hide('erosion_settings_refresh');
        };

        function getParcelErosionData(parcels) {

            function standardizeVal(val) {
                let ret = val;
                if (typeof(ret) == typeof('')) {
                    try {
                        ret = JSON.parse(ret);
                        ret = ret.value || ret;
                    }
                    catch (err) {
                        // console.log(err);
                    }
                }
                return ret;
            }

            function getForOpt(pcl, optionNum, param, defaultVal) {
                const paramName = `erosion${optionNum}-${param}`;
                if (Object.keys(pcl).indexOf(paramName) > -1) {
                    return standardizeVal(pcl[paramName]);
                }
                return defaultVal;
            }

            const data1 = [];
            const data2 = [];
            const data3 = [];
            for (const pcl of parcels) {
                if (pcl.landUse === "Impervious" || pcl.landUse === "N/A") {
                    continue;
                }

                const baseData = {
                    parcel_id: pcl.id,
                    'Surface Parcel': pcl.name,
                    'Area': pcl.area / 1E6,
                    'Land Use': pcl.landUse
                };

                ////////////////////////
                // Data for Option 1
                ////////////////////////

                // Calculate "Total Effective Erosion Rate"
                const ter1 = getForOpt(
                    pcl, 1, 'total_effective_erosion_rate', pcl.totalErosionRate || 0
                );

                // Add option 1 data
                data1.push({
                    ...baseData,
                    'Total Effective Erosion Rate': ter1,
                    active: {
                        'Total Effective Erosion Rate': 1
                    }
                });

                ////////////////////////
                // Data for Option 2
                ////////////////////////

                // Get "C"-factor
                const CFactor = (
                    ['Agriculture (General)', 'Tilled Soil'].indexOf(pcl.landUse) > -1 ? 0.5 : (
                        pcl.landUse === 'Soil' ? 1.0 : (
                            pcl.landUse === 'Impervious' ? 0 : 0.1
                        )
                    )
                );

                // Calculate "A"
                const AVal2 = getForOpt(
                    pcl, 2, 'unit_soil_loss',
                    VAL_FUNCS.A(DEFAULT_VALS.R, DEFAULT_VALS.K, DEFAULT_VALS.LS, CFactor, DEFAULT_VALS.P)
                );

                // Calculate "a"
                const areaInSqMile = (pcl.area / 1E6).toFixed(5) / 2.58998811;
                const aVal = (
                    areaInSqMile <= 0.1 ? 2.1 : (
                        areaInSqMile <= 1 ? 1.9 : (
                            areaInSqMile <= 10 ? 1.4 : (
                                areaInSqMile <= 100 ? 1.2 : 0.6
                            )
                        )
                    )
                );
                const aVal2 = getForOpt(pcl, 2, 'empirical_intercept_coefficient', aVal);

                // Calculate "b"
                const bVal2 = getForOpt(pcl, 2, 'empirical_slope_coefficient', DEFAULT_VALS.b);

                // Calculate "SD"
                const SDVal2 = getForOpt(
                    pcl, 2, 'sediment_delivery_ratio', VAL_FUNCS.SD(aVal2, bVal2, pcl.area)
                );

                // Calculate "Total Effective Erosion Rate"
                const ter2 = ['Water','Impervious'].indexOf(pcl.landUse) > -1 ? 0 : (getForOpt(
                    pcl, 2, 'total_effective_erosion_rate',
                    pcl.totalErosionRate == undefined ? VAL_FUNCS.ER(AVal2, SDVal2) : pcl.totalErosionRate || 0
                ));

                // Get active erosion field
                const activeField2 = pcl['erosion2-active'] || null;

                // Add option 2 data
                const pclOpt2Data = {
                    ...baseData,
                    A: AVal2,
                    a: aVal2,
                    b: bVal2,
                    SD: SDVal2,
                    'Total Effective Erosion Rate': ter2,
                    active: calculateActiveValues(2, activeField2)
                };
                // check if displayed values are correct and update NaNs if not
                // (can get unsynced if an equation is partially filled in -- e.g., a=# but b=NaN)
                recalculateErosionRate(2, pclOpt2Data, activeField2, false);
                data2.push(pclOpt2Data);

                ////////////////////////
                // Data for Option 3
                ////////////////////////

                // Calculate "R"
                const RVal = getForOpt(pcl, 3, 'rainfall_erosivity_index', DEFAULT_VALS.R);

                // Calculate "K"
                const KVal = getForOpt(pcl, 3, 'erodibility_index', DEFAULT_VALS.K);

                // Calculate "S"
                const SVal = getForOpt(pcl, 3, 'slope_gradient');

                // Calculate "L"
                const LVal = getForOpt(pcl, 3, 'slope_length');

                // Calculate "LS"
                const LSVal = getForOpt(
                    pcl, 3, 'topographical_length-slope_factor',
                    (LVal == undefined || SVal == undefined) ? DEFAULT_VALS.LS : VAL_FUNCS.LS(LVal, SVal)
                );

                // Calculate "C"
                const CVal = getForOpt(pcl, 3, 'cover_management_factor', CFactor);

                // Calculate "P"
                const PVal = getForOpt(pcl, 3, 'supporting_practices_factor', DEFAULT_VALS.P);

                // Calculate "A"
                const AVal3 = getForOpt(
                    pcl, 3, 'unit_soil_loss', VAL_FUNCS.A(RVal, KVal, LSVal, CVal, PVal)
                );

                // Calculate "a"
                const aVal3 = getForOpt(pcl, 3, 'empirical_intercept_coefficient', aVal);

                // Calculate "b"
                const bVal3 = getForOpt(pcl, 3, 'empirical_slope_coefficient', DEFAULT_VALS.b);

                // Calculate "SD"
                const SDVal3 = getForOpt(
                    pcl, 3, 'sediment_delivery_ratio', VAL_FUNCS.SD(aVal3, bVal3, pcl.area)
                );

                // Calculate "Total Effective Erosion Rate"
                const ter3 = ['Water','Impervious'].indexOf(pcl.landUse) > -1 ? 0 : (getForOpt(
                    pcl, 3, 'total_effective_erosion_rate',
                    pcl.totalErosionRate == undefined ? VAL_FUNCS.ER(AVal3, SDVal3) : pcl.totalErosionRate || 0
                ));

                // Get active erosion field
                const activeField3 = pcl['erosion3-active'] || null;

                // Add option 3 data
                const pclOpt3Data = {
                    ...baseData,
                    R: RVal,
                    K: KVal,
                    S: SVal,
                    L: LVal,
                    LS: LSVal,
                    C: CVal,
                    P: PVal,
                    A: AVal3,
                    a: aVal3,
                    b: bVal3,
                    SD: SDVal3,
                    'Total Effective Erosion Rate': ter3,
                    active: calculateActiveValues(3, activeField3)
                };
                // check if displayed values are correct and update NaNs if not
                // (can get unsynced if an equation is partially filled in -- e.g., S=# but L=NaN)
                recalculateErosionRate(3, pclOpt3Data, activeField3, false);
                data3.push(pclOpt3Data);
            }

            return {
                opt1: data1,
                opt2: data2,
                opt3: data3
            }
        }

        function renderErosionData() {
            const tblsData = getParcelErosionData(
                TRIM.store.currentScenario.parcels || []
            );

            function makeEditableCell(fieldName, paramName, inputType, row, renderer) {
                let data = row[fieldName];
                if (data == undefined || data.toString().trim() == '') {
                    if (fieldName == 'Total Effective Erosion Rate') {
                        data = 0;
                    }
                    else {
                        data = NaN;
                    }
                }
                const td = $('<td />');
                const step = inputType == 'number' ? 'step="any"' : '';
                const isActive = !isNaN(data) && (row.active[fieldName] || 0);
                $(`<input type="${inputType}" ${step} />`)
                    .attr({
                        'value': data,
                        'data-param-name': paramName,
                        'data-active': isActive ? 1 : 0
                    })
                    .addClass('editableCell form-control form-control-sm')
                    .css('display', 'none')
                    .appendTo(td);
                const lbl = $('<label />')
                    .text(renderer(data))
                    .addClass('editableCell badge badge-light')
                    .appendTo(td);
                if (!isActive) {
                    lbl.css({
                        color: 'gray',
                        'text-decoration': 'line-through'
                    });
                }
                return td;
            }

            const tblColDefs = {
                opt1: [
                    {
                        data: 'Surface Parcel',
                        className: 'font-weight-bold rightBorder freeze-column'
                    },
                    {
                        data: 'Land Use',
                        className: 'text-muted'
                    },
                    {
                        data: 'Area',
                        className: 'text-muted',
                        render: function(data, type, row, meta) {
                            return data.toFixed(5)
                        }
                    },
                    {
                        data: 'Total Effective Erosion Rate',
                        className: 'td_ER',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'Total Effective Erosion Rate',
                                'erosion1-' + ABBR_TO_PARAM['Total Effective Erosion Rate'],
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    }
                ],
                opt2: [
                    {
                        data: 'Surface Parcel',
                        className: 'font-weight-bold rightBorder freeze-column'
                    },
                    {
                        data: 'Land Use',
                        className: 'text-muted'
                    },
                    {
                        data: 'Area',
                        className: 'text-muted',
                        render: function(data, type, row, meta) {
                            return data.toFixed(5)
                        }
                    },
                    {
                        data: 'A',
                        className: 'td_ASD',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'A', 'erosion2-' + ABBR_TO_PARAM.A,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'a',
                        className: 'td_ASD',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'a', 'erosion2-' + ABBR_TO_PARAM.a,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'b',
                        className: 'td_ASD',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'b', 'erosion2-' + ABBR_TO_PARAM.b,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'SD',
                        className: 'td_ASD',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'SD', 'erosion2-' + ABBR_TO_PARAM.SD,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'Total Effective Erosion Rate',
                        className: 'td_ER',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'Total Effective Erosion Rate',
                                'erosion2-' + ABBR_TO_PARAM['Total Effective Erosion Rate'],
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    }
                ],
                opt3: [
                    {
                        data: 'Surface Parcel',
                        className: 'font-weight-bold rightBorder freeze-column'
                    },
                    {
                        data: 'Land Use',
                        className: 'text-muted'
                    },
                    {
                        data: 'Area',
                        className: 'text-muted',
                        render: function(data, type, row, meta) {
                            return data.toFixed(5)
                        }
                    },
                    {
                        data: 'R',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'R', 'erosion3-' + ABBR_TO_PARAM.R,
                                'number', row, (x) => x
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'K',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'K', 'erosion3-' + ABBR_TO_PARAM.K,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'S',
                        className: 'td_LS',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'S', 'erosion3-' + ABBR_TO_PARAM.S,
                                'number', row, (x) => x
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'L',
                        className: 'td_LS',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'L', 'erosion3-' + ABBR_TO_PARAM.L,
                                'number', row, (x) => x
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'LS',
                        className: 'td_LS',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'LS', 'erosion3-' + ABBR_TO_PARAM.LS,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'C',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'C', 'erosion3-' + ABBR_TO_PARAM.C,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'P',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'P', 'erosion3-' + ABBR_TO_PARAM.P,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'A',
                        className: 'td_ASD',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'A', 'erosion3-' + ABBR_TO_PARAM.A,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'a',
                        className: 'td_ASD',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'a', 'erosion3-' + ABBR_TO_PARAM.a,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'b',
                        className: 'td_ASD',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'b', 'erosion3-' + ABBR_TO_PARAM.b,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'SD',
                        className: 'td_ASD',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'SD', 'erosion3-' + ABBR_TO_PARAM.SD,
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    },
                    {
                        data: 'Total Effective Erosion Rate',
                        className: 'td_ER',
                        render: function(data, type, row, meta) {
                            const td = makeEditableCell(
                                'Total Effective Erosion Rate',
                                'erosion3-' + ABBR_TO_PARAM['Total Effective Erosion Rate'],
                                'number', row, (x) => scientific(x)
                            )
                            return td.html();
                        }
                    }
                ]
            };
            // Add names to colDefs for easy access later;
            // doing it now makes sure col.name == col.data w/o retyping it each time
            for (const k in tblColDefs) {
                for (const colDef of tblColDefs[k]) {
                    colDef.name = colDef.name || colDef.data;
                }
            }

            function globalDrawCallback(tbl) {
                // General table formatting / features
                tbl.find(".dataTables_scrollBody").css({"max-height": "500px", "height": "100%"});
                tbl.find("[data-toggle=popover]").popover();
                tbl.find('[data-toggle="tooltip"]').tooltip();

                const dt = tbl.DataTable();

                // Editable cell handlers
                tbl.find('label.editableCell').on('click', (e) => {
                    const me = $(e.target);
                    me.prev('input').show().focus();
                    me.hide();
                });
                tbl.find('input.editableCell').on('blur', (e) => {
                    const me = $(e.target);
                    if (!me.parent()) {
                        return; // something went wrong, I'm not in the DOM!
                    }
                    const myVal = me.val();
                    const myRow = dt.row(me.closest('tr'));
                    const rowData = myRow.data();
                    // Update the table data
                    const fieldName = dt.column(me.closest('td')).dataSrc();
                    rowData[fieldName] = myVal;
                    // Update active fields
                    const optionNum = tbl[0].id.split('_opt').pop();
                    rowData.active = calculateActiveValues(optionNum, fieldName);
                    // Check if the new value is valid
                    if (validateField(tbl, fieldName, me[0])) {
                        // If valid, recalculate the row ER ...
                        recalculateErosionRate(optionNum, rowData, fieldName);
                        // ... then submit to the DB
                        updateDB(rowData, fieldName, optionNum);
                    }
                    // Always save total erosion
                    saveErosionRates(tbl);
                    // Redraw the table
                    myRow.data(rowData);
                    dt.draw(false);
                });

                if (tbl[0].getBoundingClientRect().height < 500) {
                    tbl.closest('.dataTables_scrollBody')[0].style.height = null;
                }
                else {
                    tbl.closest('.dataTables_scrollBody')[0].style.height = '500px';
                }
            }

            const tbls = $('table[id^="erosionTable_opt"]');
            for (const x of tbls) {
                const optionNum = x.id.split('_opt').pop();
                const tbl = $(x);
                const tblData = tblsData[`opt${optionNum}`];

                tbl.DataTable({
                    destroy: true,
                    data: tblData,
                    paging: false,
                    bFilter: false,
                    info: false,
                    bAutoWidth: false,
                    scrollX: true,
                    scrollY: 500,
                    columns: tblColDefs[`opt${optionNum}`],
                    fnCreatedRow: function (row, data, index) {
                        $(row).attr('data-parcel-id', data.parcel_id);
                    },
                    drawCallback: (settings) => {
                        globalDrawCallback(tbl);
                    }
                });
            }
        }

        function validateField(tbl, fieldName, rowIndexOrInput) {
            function getInputEl(rowIndex) {
                const dt = tbl.DataTable();
                return $(dt.cell(rowIndex, fieldName + ':name').node()).find('input')[0];
            }

            const el = typeof(rowIndexOrInput) == 'number' ? getInputEl(rowIndexOrInput) : rowIndexOrInput;
            if (el === undefined) {
                return false;
            }

            ErrorValidation.isValidNumber(el);
            if (elementIsValid(el.parentElement)) {
                ErrorValidation.isPositiveValue(el);
            }
            return elementIsValid(el.parentElement);
        }

        function calculateActiveValues(optionNum, fromField) {
            const active = {};
            let allFields = [];
            let deactivateFields = [];
            if (optionNum == 2) {
                allFields = [
                    'A', 'a', 'b', 'SD'
                ];
                if (fromField == 'SD') {
                    deactivateFields = ['a', 'b'];
                }
                else if (fromField == 'Total Effective Erosion Rate') {
                    deactivateFields = allFields;
                }

            }
            else if (optionNum == 3) {
                allFields = [
                    'R', 'K', 'S', 'L', 'LS', 'C', 'P',
                    'A', 'a', 'b', 'SD'
                ];
                if (fromField == 'A') {
                    deactivateFields = ['R', 'K', 'S', 'L', 'LS', 'C', 'P'];
                }
                else if (fromField == 'LS') {
                    deactivateFields = ['S', 'L'];
                }
                else if (fromField == 'SD') {
                    deactivateFields = ['a', 'b'];
                }
                else if (fromField == 'Total Effective Erosion Rate') {
                    deactivateFields = allFields;
                }
            }
            for (field of allFields) {
                active[field] = deactivateFields.indexOf(field) < 0 ? 1 : 0
            }
            if (fromField != null) {
                active[fromField] = 1;
            }
            return active;
        }

        function updateDB(data, fieldName, optionNum, markActive) {
            const paramName = `erosion${optionNum}-` + ABBR_TO_PARAM[fieldName];
            const valPostData = {id: data.parcel_id};
            valPostData[paramName] = data[fieldName] == null ? '' : data[fieldName];
            valPostData['is_active'] = markActive == undefined ? true : markActive === true;
            TRIM.api.updateParameter('parcel', valPostData);
        }

        function recalculateErosionRate(optionNum, data, fromField, saveData) {
            function recalculateSD() {
                console.log('auto-recalculating SD')
                const sd = VAL_FUNCS.SD(data.a, data.b, data.Area);
                data.SD = isNaN(sd) ? undefined : sd;
                if (saveData !== false) {
                    updateDB(data, 'SD', optionNum, false);
                }
                recalculateER();
            }

            function recalculateLS() {
                console.log('auto-recalculating LS')
                const ls = VAL_FUNCS.LS(data.L, data.S);
                data.LS = isNaN(ls) ? undefined : ls;
                if (saveData !== false) {
                    updateDB(data, 'LS', optionNum, false);
                }
                recalculateA();
            }

            function recalculateA() {
                console.log('auto-recalculating A')
                const a = VAL_FUNCS.A(data.R, data.K, data.LS, data.C, data.P);
                data.A = isNaN(a) ? undefined : a;
                if (saveData !== false) {
                    updateDB(data, 'A', optionNum, false);
                }
                recalculateER();
            }

            function recalculateER() {
                console.log('auto-recalculating ER')
                fieldName = 'Total Effective Erosion Rate'
                if (data['Land Use'] == 'Water' || data['Land Use'] == 'Impervious') {
                    data[fieldName] = 0;
                }
                else {
                    const er = VAL_FUNCS.ER(data.A, data.SD);
                    data[fieldName] = isNaN(er) ? undefined : er;
                }
                if (saveData !== false) {
                    updateDB(data, fieldName, optionNum, false);
                }
            }

            if (optionNum == 2) {
                if (fromField == 'a' || fromField == 'b') {
                    recalculateSD();
                }
                else if (fromField == 'A' || fromField == 'SD') {
                    recalculateER();
                }
            }
            else if (optionNum == 3) {
                if (['L', 'S'].indexOf(fromField) > -1) {
                    recalculateLS();
                }
                else if (['R', 'K', 'LS', 'C', 'P'].indexOf(fromField) > -1) {
                    recalculateA();
                }
                else if (fromField == 'a' || fromField == 'b') {
                    recalculateSD();
                }
                else if (fromField == 'A' || fromField == 'SD') {
                    recalculateER();
                }
            }
        }

        function updateAllErosionData(tbl, data, fromField, alsoSaveFields) {
            const optionNum = tbl[0].id.split('_opt').pop();
            for (let i = 0; i < data.length; i++) {
                const rowData = data[i];
                rowData.active = calculateActiveValues(optionNum, fromField);

                if (validateField(tbl, fromField, i)) {
                    // If valid, recalculate the row ER ...
                    recalculateErosionRate(optionNum, rowData, fromField);
                    // ... then submit to the DB
                    updateDB(rowData, fromField, optionNum);
                }
                if (alsoSaveFields !== undefined) {
                    for (fieldName of alsoSaveFields) {
                        if (validateField(tbl, fieldName, i)) {
                            // If valid, submit to the DB
                            updateDB(rowData, fieldName, optionNum);
                        }
                    }
                }
            }

            const dt = tbl.DataTable();
            dt.rows().remove();
            dt.rows.add(data).draw(false);

            // Update the saved total effective erosion rates
            saveErosionRates(tbl);
        }

        function saveErosionRates(tbl) { // updates the saved totalErosionRate
            LoadingScreen.show('saving_erosion_rates');
            const updates = [];
            const data = parseErosionData(tbl);
            for (let i = 0; i < data.length; i++) {
                const rowData = data[i];
                const effectiveErosionRate = rowData[fieldAbbrToName.ER];
                if (!validateField(tbl, fieldAbbrToName.ER, i)) {
                    // mark the error (done by validateField) and move on
                    continue;
                }
                const update = TRIM.api.updateParameter('parcel', { // post update to API
                    id: rowData.parcel_id,
                    totalErosionRate: effectiveErosionRate == undefined ? 0 : effectiveErosionRate
                });
                updates.push(update);
            }
            // When all updates report back, hide loading screen
            $.when.apply($, updates).done(() => LoadingScreen.hide('saving_erosion_rates'));
        }

        return erosion;
    })(window.ErosionForm || {});
</script>
<style>
    table { 
        white-space: nowrap;
    }
    .td_ER {
        background-color: #f8caca80;
    }
    td.td_ASD {
        background-color: #e9ecef80;
    }
    td.td_LS {
        background-color: #fcf8e380;
    }
    .lds-dual-ring {
        display: inline-block;
        width: 12px;
        height: 12px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 16px;
        height: 16px;
        margin: 4px;
        border-radius: 50%;
        border: 2px solid #fd0000;
        border-color: #fd0000 transparent #fd0000 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

</style>
{% endblock content %}