
<div id="mirc-results-gui">
    <section id="simulations-overview-display">
        {% include 'components/mirc/simulations/overview.html' %}
    </section>

    <section id="single-simulation-details" style="display: none;">
        {% include 'components/mirc/simulations/results.html' %}
    </section>

    <div id="simulation-form-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Simulation Inputs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">   
                    <div class="mb-3">
                        {% call data_preamble('mirc_inputs') %}
                        <p>
                            The following fields are required for all ingested products you intend to use in your simulation:
                            <ul>
                                <li>Exposure Profile</li>
                                <li>Chemical</li>
                                <li>Body Weight Percentile</li>
                                <li>Ingestion Rate Percentiles</li>
                                <li>Target Date/Time</li>
                                <li>The choice of setting or calculating fish concentrations</li>
                                <li>The numeric values on the right side of the form (starting with Average Vapor-phase Concentration in Air)</li>
                            </ul>
                        </p>
                        <p>
                            Recommended to receive site-specific values, if available:
                            <ul>
                                <li>The numeric values on the right side of the form (starting with Average Vapor-phase Concentration in Air) for all ingested products you intend to use in your simulation, <i>except for:</i></li>
                                <ul>
                                    <li>Fraction of Airborne Chemical in Vapor Phase</li>
                                    <li>Density of Air</li>
                                    <li>Kd for Garden Produce</li>
                                    <li>Kd for Livestock Feed</li>
                                    <li>Fraction of Fish Consumption from Trophic Level 3.5</li>
                                    <li>Fraction of Fish Consumption from Trophic Level 4</li>
                                    <li>Fraction of Total Chemical Mass That Is Dissolved in Liquid Phase</li>
                                </ul>
                                <li>Note that most of the numeric values will auto-populate based on selections for corresponding compartments and trophic levels, based on other data you enter on other pages and based on outputs from the transport model</li>
                            </ul>
                        </p>
                        {% endcall %}
                    </div>    
                    
                    {% with form = simulation_form %}
                        {% include 'components/mirc/simulations/create_form.html' %}
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-secondary" id="submit-simulation-form">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
onDomLoad(function() {
    window.MIRC = (function(mirc) {
        var simOverview = $('#simulations-overview-display');
        var simDetails = $('#single-simulation-details');

        mirc.showScreen = function(name) {
            if (name == 'details') {
                simOverview.hide();
                simDetails.show();
            }
            else {
                simDetails.hide();
                simOverview.show();
            }
        };

        return mirc;
    })(window.MIRC || {});
    
    var initialLoad = false;
    $('#risk-calc-tab-pill').on('shown.bs.tab', function() {
        if (!initialLoad) {
            initialLoad = true;
            console.log('mirc gui visible')
            MIRC.refreshSimulations();
        }
    });
});
</script>