
<form id="abiotic-props-gui"
    data-async-form="true"
    data-form-src="scenario_abiotic_props_form"
>
    <section class="container px-0">
        <div class="row">
            <div class="col-md">
                <div class="pill pill-alert col-sm">
                    <small>
                        <strong>
                            <u>Click on the table cells to edit properties.</u>Please note that the values displayed in the table at the time of the "Save" operation are the values that will be incorporated into the calculations
                        </strong>
                    </small>
                </div>
                <table data-slot="true" class="hover" id="AbioticTable">
                </table>
            </div>
        </div>
    </section>
</form>
<script src="{{url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/jquery.dataTables.min.js') }}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/dataTables.bootstrap4.min.js') }}">
</script>
<script>
    onDomLoad(function() {
        let apTable = null;
        function TableRedraw(table_data) {
            let tblId = "#AbioticTable";
            /*
            if (apTable) {
                $('#AbioticTable').dataTable().fnClearTable();
                $('#AbioticTable').dataTable().fnDraw();
                $('#AbioticTable').dataTable().fnDestroy();
            }*/
            apTable =  $(tblId).removeAttr('width').dataTable({
                data : table_data,
                paging: false,
                bFilter: false,
                info: false,
                bAutoWidth: false,
                columns: [
                    {
                        'data': "Surface Parcel",
                    },
                    {
                        'data': "DustParticleConcentration",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('dustLoad', row, data);
                            let this_cell_data = row.hasAir == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasAir == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="ErrorValidation.isPositiveValue(this)"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                    },
                    {
                        'data': "DustParticleDensity",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('dustDensity', row, data);
                            let this_cell_data = row.hasAir == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasAir == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="ErrorValidation.isPositiveValue(this)"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                    },
                    {
                        'data': "AirDensity",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('airDensity', row, data);
                            let this_cell_data = row.hasAir == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasAir == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="ErrorValidation.isPositiveValue(this)"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                    },
                    {
                        'data': "DustParticleOrganicMatter",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('fractionOrganicMatterOnParticulates', row, data);
                            let this_cell_data = row.hasAir == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasAir == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="ErrorValidation.isValidFraction(this)"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                    },
                    {
                        'data': "AirHeight",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('airHeight', row, data);
                            let this_cell_data = row.hasAir == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasAir == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="ErrorValidation.isPositiveValue(this)"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                    },
                    {
                        data: "Tillage",
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('tillage', row, data);
                            let this_cell_data = row.hasLand == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasLand == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            return "<select class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info +"' name='select_tillage' style='display:none'>" +
                                        "<option value='Yes'>Yes</option>" +
                                        "<option value='No'>No</option>" +
                                    "</select>" +
                                   "<label class='" + this_cell_prop +" fishfoodweb'>" + this_cell_data + "</label>"
                        }
                    },
                    {
                        'data': "SurfaceSoilThick",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('surfaceSoilThickness', row, data);
                            let this_cell_data = row.hasLand == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasLand == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="ErrorValidation.isPositiveValue(this)"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                    },
                    {
                        'data': "RootSoilThick",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('rootSoilThickness', row, data);
                            let this_cell_data = row.hasLand == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasLand == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="ErrorValidation.isPositiveValue(this)"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                    },
                    {
                        'data': "VadoseZoneSoilThick",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('vadoseZoneSoilThick', row, data);
                            let this_cell_data = row.hasLand == "Yes" ? Number.parseFloat(data).toFixed(5) : "N/A"
                            let this_cell_prop = row.hasLand == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="ErrorValidation.isPositiveValue(this)"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                    },
                    {
                        'data': "GroundwaterZoneSoilThick",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let parcel_info = create_parcel_object('groundwaterZoneSoilThick', row, data);
                            let this_cell_data = row.hasLand == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasLand == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="ErrorValidation.isPositiveValue(this)"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                    }
                ],
                initComplete: function (settings, json) {
                    $(tblId).wrap("<div style='overflow:auto; width: 100%; position:relative;'></div>");
                    $('[data-toggle="tooltip"]').tooltip()
                    $('[data-toggle="popover"]').popover()
                }
            });

            let sort_order = "asc"
            $('.sortClass').click(function(e){
                e.preventDefault();
                let Table = $(tblId).dataTable()
                let cellIndex = $(this).closest("th").index()
                Table.fnSort([[cellIndex,sort_order]]);//use asc/desc as you want
                sort_order= sort_order == "desc" ? "asc" : "desc"
            });

            $('label.editableCell').click(function () {
                $(this).siblings("input").show()
                $(this).siblings("select").show()
                $(this).prev("input").focus()
                $(this).prev("select").focus()
                $(this).hide();
            });

            // save modified cell
            $(`input.editableCell, select.editableCell`).blur(function () {
                let focusTblId = $(this).closest(`table`).attr('id');
                if (`#${focusTblId}` !== tblId) {
                    return;
                }

                let is_valid = elementIsValid($(this).parent());
                if (is_valid) {
                    let data = $(this).val()
                    let $label = $(this).next("label")
                    $label.siblings().hide()
                    $label.show().text(data)

                    let parcel_info = $(this).data('parcelinfo')
                    if (parcel_info) {
                        parcel_info[parcel_info.findIndex(e => e.type == 'input')].value = data
                        console.log(parcel_info)
                        TRIM.api.updateParcel('{{ scenario.id }}', parcel_info)
                        table_data = get_Data_from_table(tblId)
                        //TableRedraw(table_data)
                    }
                }
            })
        }

        var form = document.getElementById('abiotic-props-gui');
        form.addEventListener('form:loaded', function() {
        });

        function create_parcel_object(id, row, data){
            let parcel_info = [{
                                'type': 'data',
                                'name': 'id',
                                'value': row.parcelid,
                            },{
                                'type': 'data',
                                'name': 'field',
                                'value': id
                            },{
                                'type': 'input',
                                'name': id,
                                'value': data
                            }]
            return JSON.stringify(parcel_info)
        }

        function create_cell_html(parcel_info, data, cell_prop, cell_data, err_html=""){
            return "<input "+err_html+" class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info +"' type='text' value='" +  data + "' style='display:none'>" +
                    "<label "+err_html+" class='" + cell_prop + "'>" + cell_data + "</label>"
        }

        function get_Data_from_table(thisTableID){
            var myRows = [];
            var headersText = [];
            var head_section = thisTableID + ' thead th'
            var $headers = $(head_section);

            // Loop through grabbing everything
            thisRows = thisTableID + ' tbody tr'
            var $rows = $(thisRows).each(function(index) {
                $cells = $(this).find("td");
                myRows[index] = {};
                $cells.each(function(cellIndex) {
                    // Set the header text
                    if(headersText[cellIndex] === undefined) {
                        headersText[cellIndex] = $($headers[cellIndex]).text();
                    }
                    // Update the row object with the header/cell combo
                    myRows[index][headersText[cellIndex]] = $(this).text();
                });
            });
            return myRows
        }

        document.body.addEventListener('parcels:loaded', function() {
            let loadedData = $('#root').data('loadedParcels')
            let abiotic_data = []
            if (loadedData.scenario.length > 0) {
                loadedData['scenario'].forEach(function (e, i) {
                    let till_val = e.tillage == "Yes" ? "tilled" : "untilled";
                    abiotic_data.push(
                        {
                            'parcelid': e.id,
                            'Surface Parcel': e.name,
                            'hasAir': e.hasAir,
                            'hasLand': e.hasLand,
                            'parcelType': e.parcelType,
                            'DustParticleConcentration': (e.dustLoad ? e.dustLoad : TRIM.forms.fetchDefault('DustParticleConcentration')),
                            'DustParticleDensity': (e.dustDensity ? e.dustDensity : TRIM.forms.fetchDefault('DustParticleDensity')),
                            'AirDensity': (e.airDensity ? e.airDensity : TRIM.forms.fetchDefault('AirDensity')),
                            'DustParticleOrganicMatter': (e.fractionOrganicMatterOnParticulates ? e.fractionOrganicMatterOnParticulates : TRIM.forms.fetchDefault('DustParticleOrganicMatter')),
                            'AirHeight': (e.airHeight ? e.airHeight : TRIM.forms.fetchDefault('AirHeight')),
                            'Tillage': (e.soilTillage ? e.soilTillage : TRIM.forms.fetchDefault('Tillage')),
                            'SurfaceSoilThick': (e.surfaceSoilThickness ? e.surfaceSoilThickness : TRIM.forms.fetchDefault('SurfaceSoilThick')[till_val]),
                            'RootSoilThick': (e.rootSoilThickness ? e.rootSoilThickness : TRIM.forms.fetchDefault('RootSoilThick')[till_val]),
                            'VadoseZoneSoilThick': (e.vadoseSoilThickness ? e.vadoseSoilThickness : TRIM.forms.fetchDefault('VadoseZoneSoilThick')),
                            'GroundwaterZoneSoilThick': (e.groundwaterZoneThickness ? e.groundwaterZoneThickness : TRIM.forms.fetchDefault('GroundwaterZoneSoilThick'))
                        }
                    )
                })
            }
            TableRedraw(abiotic_data)
        });
    })

</script>