{% from 'macros/scenarios/custom_form_macros.html' import dimensionally_varying_subform %}

<form id="met-settings-gui"
    data-async-form="true"
    data-form-src="scenario_meteorology_form"
>
    <section id="time-varying-values" class="container px-0">
        <div class="row">
            <div class="col-sm">
                <h5 class="text-center">Time-Varying Values</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div data-slot="true" data-target="default_time_varying_file"></div>
                <div class="form-text mb-2">
                    <small class="text-muted">
                        <a href="{{ url_for(
                            'static',
                            filename='templates/meteorology_time_varying_inputs.csv'
                        ) }}">Click here</a> to download the template for creating a time-varying inputs file.
                    </small>
                </div>
            </div>
        </div>
        
        <div data-slot="true" data-target="ambient_air">
            {{ dimensionally_varying_subform(
                is_varying_field='time_varying',
                use_custom_field='use_custom_file',
                custom_file_field='custom_file',
                var_name_fields=['field_name'],
                static_value_fields=['static_value']
            ) }}
        </div>
        
        <div data-slot="true" data-target="wind_speed">
            {{ dimensionally_varying_subform(
                is_varying_field='time_varying',
                use_custom_field='use_custom_file',
                custom_file_field='custom_file',
                var_name_fields=['field_name'],
                static_value_fields=['static_value']
            ) }}
        </div>
        
        <div data-slot="true" data-target="wind_direction">
            {{ dimensionally_varying_subform(
                is_varying_field='time_varying',
                use_custom_field='use_custom_file',
                custom_file_field='custom_file',
                var_name_fields=['field_name'],
                static_value_fields=['static_value']
            ) }}
        </div>
        
        <div data-slot="true" data-target="mixing_height">
            {{ dimensionally_varying_subform(
                is_varying_field='time_varying',
                use_custom_field='use_custom_file',
                custom_file_field='custom_file',
                var_name_fields=['field_name'],
                static_value_fields=['static_value']
            ) }}
        </div>
        
        <div data-slot="true" data-target="daytime_indicator">
            {{ dimensionally_varying_subform(
                is_varying_field='time_varying',
                use_custom_field='use_custom_file',
                custom_file_field='custom_file',
                var_name_fields=['field_name'],
                static_value_fields=['static_value']
            ) }}
        </div>
        
        <div data-slot="true" data-target="precipitation">
            {{ dimensionally_varying_subform(
                is_varying_field='time_varying',
                use_custom_field='use_custom_file',
                custom_file_field='custom_file',
                var_name_fields=['field_name_rate', 'field_name_cumulative'],
                static_value_fields=['static_value_rate', 'static_value_cumulative'],
                other_fields=['average_annual']
            ) }}
        </div>

    </section>

    <section id="spatially-varying-values" class="container px-0">
        <div class="row">
            <div class="col-sm">
                <h5 class="text-center">Spatially-Varying Values</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div data-slot="true" data-target="default_spatially_varying_file"></div>
            </div>
        </div>
        
        <table data-slot="true" data-target="spatially_varying_table" class="hover" id="spatially_varying_table">
        </table>
    </section>

    <section id="interception-fractions" class="container px-0">
        <div data-slot="true" data-target="interception_fractions">
            <div class="row py-2">
                <div class="col-sm">
                    <h5 class="text-center" data-slot="true" data-target="title">
                    </h5>
                </div>
            </div>
            <div class="row mb-1 subform">
                <div class="col-sm">
                    <div data-slot="true" data-target="calculated_coniferous"></div>
                    <div data-slot="true" data-target="static_coniferous"></div>

                    <div data-slot="true" data-target="calculated_deciduous"></div>
                    <div data-slot="true" data-target="static_deciduous"></div>
                </div>
                <div class="col-sm">
                    <div data-slot="true" data-target="calculated_grass_herbs"></div>
                    <div data-slot="true" data-target="static_grass_herbs"></div>

                    <div data-slot="true" data-target="calculated_agriculture"></div>
                    <div data-slot="true" data-target="static_agriculture"></div>
                </div>
            </div>
        </div>
    </section>
</form>
<script>
    onDomLoad(function(e) {
        var form = document.getElementById('met-settings-gui');
        form.addEventListener('form:loaded', function() {
            enableFieldUpdates();
        });

        function enableFieldUpdates() {
            var gui = $('#met-settings-gui');
            var fileFields = gui.find('[type="file"]');
            var selects = gui.find('select');
            var useCustom = gui.find('[type="checkbox"][id$="use_custom_file"]');

            selects.attr('disabled', 'disabled');

            function updateFields(section) {
                var globalFileFiled = section.find('[type="file"][name^="default_"]');
                section.find('select').each(function() {
                    var me = $(this);

                    var subform = me.closest('.subform');
                    var customized = subform.find(
                        '[type="checkbox"][id$="use_custom_file"]');

                    var data = globalFileFiled.attr('data-filedata');
                    if (customized.prop('checked')) {
                        data = subform.find('[type="file"]').attr('data-filedata');
                    }
                    data = data || 'null';
                    data = JSON.parse(data);

                    me.html('');
                    if (data) {
                        var fields = data.fields;
                        TRIM.forms.updateSelect(this, fields);
                        me.removeAttr('disabled');
                    }
                    else {
                        me.attr('disabled', 'disabled');
                    }
                });
            }

            useCustom.change(function(e) {
                updateFields($(this).closest('section'));
            });

            fileFields.change(function(e) {
                var me = $(this);
                var loadingRequest = 'load_' + this.id;
                LoadingScreen.show(loadingRequest);

                me.removeAttr('data-filedata');
                TRIM.api.parseFiles(this).on('load', function() {
                    try {
                        var data = JSON.parse(this.responseText);
                        if (data.files[me.attr('name')]) {
                            var myData = data.files[me.attr('name')];
                            me.attr(
                                'data-filedata',
                                JSON.stringify(myData)
                            );
                        }
                        updateFields(me.closest('section'));
                    }
                    finally {
                        LoadingScreen.hide(loadingRequest);
                    }
                });
            });

            var staticPrecip = $('#precipitation_static_value_rate');
            var staticCum = $('#precipitation_static_value_cumulative');
            var precipVaries = $('#precipitation_time_varying');
            var annualPrecip = $('#precipitation_average_annual');

            var startDate = $('#start_date');
            var endDate = $('#end_date');
            staticPrecip.add(precipVaries).change(function() {
                staticCum.val('');
                annualPrecip.val('');

                var start = startDate.val();
                var end = endDate.val();
                if (!start || !end) {
                    return;
                }

                var diff = calculateDateDistance(start, end, ['days']);
                var days = parseInt(diff[0].split(' ')[0]);

                var staticVal = days * staticPrecip.val()
                staticCum.val(staticVal);
                if (!precipVaries.prop('checked')) {
                    var annualVal = days / 365.2425 * staticPrecip.val()
                    annualPrecip.val(annualVal);
                }
            });
            staticPrecip.change();

            var daytimeVaries = $('#daytime_indicator_time_varying');
            var daytimeIndicator = $('#daytime_indicator_static_value');
            daytimeVaries.change(function() {
                daytimeIndicator.removeAttr('disabled');
            });
        }


        ///////////////// Spatially Varying table
        document.body.addEventListener('parcels:loaded', function() {
            let loadedData = $('#root').data('loadedParcels')
            let spatially_varying_table_data = []
            if (loadedData.scenario.length > 0) {
                loadedData['scenario'].forEach(function (e, i) {
                    spatially_varying_table_data.push(
                        {
                            'parcelid': e.id,
                            'Surface Parcel': e.name,
                            'GroundwaterSeepageFractions': TRIM.forms.fetchDefault('GroundwaterSeepageFractions'),
                            'RunoffFractions': TRIM.forms.fetchDefault('RunoffFractions')
                        }
                    )
                })
            }
            TableRedraw(spatially_varying_table_data)
        });

        let apTable = null;
        function TableRedraw(table_data) {
            let tblId = "#spatially_varying_table";
            apTable =  $(tblId).removeAttr('width').dataTable({
                data : table_data,
                paging: false,
                bFilter: false,
                info: false,
                bAutoWidth: false,
                columns: [
                    {
                        'data': "Surface Parcel",
                    },
                    {
                        'data': "GroundwaterSeepageFractions",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let this_cell_prop = 'editableCell badge badge-light';
                            let parcel_info = create_parcel_object('GroundwaterSeepageFractions', row, data);
                            return create_cell_html(parcel_info, data, this_cell_prop, data);
                        }
                    },
                    {
                        'data': "RunoffFractions",
                        'bSortable': false,
                        'render': function (data, type, row) {
                            let this_cell_prop = 'editableCell badge badge-light';
                            let parcel_info = create_parcel_object('RunoffFractions', row, data);
                            return create_cell_html(parcel_info, data, this_cell_prop, data);
                        }
                    }
                ],
                initComplete: function (settings, json) {
                    $(tblId).wrap("<div style='overflow:auto; width: 100%; position:relative;'></div>");
                    $('[data-toggle="tooltip"]').tooltip()
                    $('[data-toggle="popover"]').popover()
                }
            });

            let sort_order = "asc"
            $('.sortClass').click(function(e){
                e.preventDefault();
                let Table = $(tblId).dataTable()
                let cellIndex = $(this).closest("th").index()
                Table.fnSort([[cellIndex,sort_order]]);//use asc/desc as you want
                sort_order= sort_order == "desc" ? "asc" : "desc"
            });

            $('label.editableCell').click(function () {
                $(this).siblings("input").show()
                $(this).siblings("select").show()
                $(this).prev("input").focus()
                $(this).prev("select").focus()
                $(this).hide();
            });

            function create_cell_html(parcel_info, data, cell_prop, cell_data, err_html=""){
                return "<input "+err_html+" class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info +"' type='text' value='" +  data + "' style='display:none'>" +
                        "<label "+err_html+" class='" + cell_prop + "'>" + cell_data + "</label>";
            };

            function create_parcel_object(id, row, data){
                let parcel_info = [{
                                    'type': 'data',
                                    'name': 'id',
                                    'value': row.parcelid,
                                },{
                                    'type': 'data',
                                    'name': 'field',
                                    'value': id
                                },{
                                    'type': 'input',
                                    'name': id,
                                    'value': data
                                }]
                return JSON.stringify(parcel_info)
            };

            // save modified cell
            $(`input.editableCell, select.editableCell`).blur(function () {
                let focusTblId = $(this).closest(`table`).attr('id');
                if (`#${focusTblId}` !== tblId) {
                    return;
                }

                let is_valid = ErrorValidation.isValidFraction(this);
                if (!is_valid) {
                    return;
                }

                // FIXME does nothing for now!
                let data = $(this).val()
                let $label = $(this).next("label")
                $label.siblings().hide()
                $label.show().text(data)
            });
        };
    });
</script>
