{% from 'macros/scenarios/static_value_macro.html' import table_static_value %}

{% block content %}
<form id="abiotic-props-gui"
    data-async-form="true"
    data-form-src="scenario_abiotic_props_form"
>
    <section class="container px-0">
        <div class="row">
            <div class="col-md">
                <div class="pill pill-alert col-sm">
                    <small>
                        <strong>
                            <u>Click on the table cells to edit properties</u>.
                        </strong>
                        <br><span style='color: firebrick;'>*</span> All editable cells are required.
                    </small>
                </div>
            </div>
            <div class="col-md text-right">
                <button id="abiotic-usda-soil-btn" class="btn btn-warning">Get data from USDA Soil DataMart</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md m-2 text-center">
                <h4>What Happens to Precipitation on the Surface</h4>
            </div>
        </div>
        {{ table_static_value(table_id='SurfacePrecipitationAbioticTable', columns=[]) }}
        <div class ="row">
            <div class="col-md">
                <table data-slot="true" data-target="SurfacePrecipitationAbioticTable" class="hover wrap-text" id="SurfacePrecipitationAbioticTable">
                </table>
            </div>
        </div>
        <div class = "row">
            <div class="col-md mt-4 text-center">
                <h4>Air Properties</h4>
            </div>
        </div>
        {{ table_static_value(table_id='AirAbioticTable', columns=[]) }}
        <div class ="row">
            <div class="col-md">
                <table data-slot="true" data-target="AirAbioticTable" class="hover wrap-text" id="AirAbioticTable"></table>
            </div>
        </div>
        <div class = "row">
            <div class="col-md mt-4 text-center">
                <h4>Surface Soil Properties</h4>
            </div>
        </div>
        {{ table_static_value(table_id='SurfaceSoilAbioticTable', columns=[]) }}
        <div class ="row">
            <div class="col-md">
                <table data-slot="true" data-target="SurfaceSoilAbioticTable" class="hover wrap-text" id="SurfaceSoilAbioticTable"></table>
            </div>
        </div>
        <div class = "row">
            <div class="col-md mt-4 text-center">
                <h4>Root Soil Properties</h4>
            </div>
        </div>
        {{ table_static_value(table_id='RootSoilAbioticTable', columns=[]) }}
        <div class ="row">
            <div class="col-md">
                <table data-slot="true" data-target="RootSoilAbioticTable" class="hover wrap-text" id="RootSoilAbioticTable"></table>
            </div>
        </div>
        <div class = "row">
            <div class="col-md mt-4 text-center">
                <h4>Vadose Zone Properties</h4>
            </div>
        </div>
        {{ table_static_value(table_id='VadoseSoilAbioticTable', columns=[]) }}
        <div class ="row">
            <div class="col-md">
                <table data-slot="true" data-target="VadoseSoilAbioticTable" class="hover wrap-text" id="VadoseSoilAbioticTable"></table>
            </div>
        </div>
        <div class = "row">
            <div class="col-md mt-4 text-center">
                <h4>Groundwater Zone Properties</h4>
            </div>
        </div>
        {{ table_static_value(table_id='GWSoilAbioticTable', columns=[]) }}
        <div class ="row">
            <div class="col-md">
                <table data-slot="true" data-target="GWSoilAbioticTable" class="hover wrap-text" id="GWSoilAbioticTable"></table>
            </div>
        </div>
    </section>
</form>
<link rel="stylesheet" href="{{url_for('static', filename='css/form_styles.css')}}"/>
<script src="{{url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/jquery.dataTables.min.js') }}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/dataTables.bootstrap4.min.js') }}">
</script>
<script>
    onDomLoad(function() {
        var form = document.getElementById('abiotic-props-gui');

        form.addEventListener('form:visible', function() {
            console.log('abiotic form visible')
            LoadingScreen.show('abiotic_info_loading');
            TRIM.refreshParcels();
            document.body.addEventListener('parcels:ready', updateAbioticData());
        });

        let surfPrecip_apTable = null;
        let air_apTable = null;
        let soil_apTable = null;
        let root_apTable = null;
        let vadose_apTable = null;
        let gw_apTable = null;

        const MEDIA_COMPARTMENT_NAME_MAP = {
            Air: 'Air',
            Surface_Soil: 'Soil_Surface',
            Root_Zone: 'Soil_Root_Zone',
            Vadose_Zone: 'Soil_Vadose_Zone',
            Groundwater: 'Groundwater'
        }

        const MERCURY_TRANSFORM_RATES = {};

        function TableRedraw(table_data) {
            let surfPrecip_tblId = "#SurfacePrecipitationAbioticTable";
            let air_tblId = "#AirAbioticTable";
            let soil_tblId = "#SurfaceSoilAbioticTable";
            let root_tblId = "#RootSoilAbioticTable";
            let vadose_tblId = "#VadoseSoilAbioticTable";
            let gw_tblId = "#GWSoilAbioticTable";

            var surfPrecip_cols = [
                {
                    'bSortable': false,
                    'data': "Surface Parcel",
                    'className': 'font-weight-bold rightBorder freeze-column'
                },
                {
                    'data': "precipitation.EvapotranspirationFractions",
                    'bSortable': false,
                    'render': function (data, type, row) {
                        let isValidPcl = !(row.parcelType.includes("Water") || row.parcelType.includes("Air Only"));
                        let this_cell_data = isValidPcl ? data : "N/A"
                        let this_cell_prop = isValidPcl ? 'editableCell badge badge-light' : 'text-muted'
                        let parcel_info = create_parcel_object('EvapotranspirationFractions', row, data);
                        let err_html = "onblur='ErrorValidation.isValidFraction(this);ErrorValidation.rowTotalIsValid(this);'";
                        return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html);
                    }
                },
                {
                    'data': "precipitation.GroundwaterSeepageFractions",
                    'bSortable': false,
                    'render': function (data, type, row) {
                        let isValidPcl = !(row.parcelType.includes("Water") || row.parcelType.includes("Air Only"));
                        let this_cell_data = isValidPcl ? data : "N/A"
                        let this_cell_prop = isValidPcl ? 'editableCell badge badge-light' : 'text-muted'
                        let parcel_info = create_parcel_object('GroundwaterSeepageFractions', row, data);
                        let err_html = "onblur='ErrorValidation.isValidFraction(this);ErrorValidation.rowTotalIsValid(this);'";
                        return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html);
                    }
                },
                {
                    'data': "precipitation.RunoffFractions",
                    'bSortable': false,
                    'render': function (data, type, row) {
                        let isValidPcl = !(row.parcelType.includes("Water") || row.parcelType.includes("Air Only"));
                        let this_cell_data = isValidPcl ? data : "N/A"
                        let this_cell_prop = isValidPcl ? 'editableCell badge badge-light' : 'text-muted'
                        let parcel_info = create_parcel_object('RunoffFractions', row, data);
                        let err_html = "onblur='ErrorValidation.isValidFraction(this);ErrorValidation.rowTotalIsValid(this);'";
                        return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html);
                    }
                }
            ];

            var surfPrecip_apTable = $(surfPrecip_tblId).removeAttr('width').dataTable({
                data: table_data,
                paging: false,
                bFilter: false,
                info: false,
                bAutoWidth: false,
                scrollX: true,
                scrollY: 500,
                bDestroy: true,
                fnCreatedRow: function (row, data, index) {
                    $(row).find("td.rightBorder").addClass("freeze-column")
                },
                columns: setDynamicColumnWidths(surfPrecip_tblId, surfPrecip_cols, table_data),
                initComplete: function (settings, json) {
                    $(".dataTables_scrollBody").css({"max-height": "500px", "height": "100%"});
                    $(".dataTables_scrollBody").addClass('wrap-text-scrollbody');
                    $(".dataTables_scrollHead").addClass('wrap-text-scrollhead');
                    $('[data-toggle="tooltip"]').tooltip()
                    $('[data-toggle="popover"]').popover()
                    $(surfPrecip_tblId).find("tr").each(function (i,e) {
                        $(e).attr({
                            "data-rsval": 1,
                            "data-entity": "fractions for given precipitation"
                        })
                    })
                    $(surfPrecip_tblId).DataTable().columns.adjust();
                    appendHeaderOptions(this, skip_columns=["Parcel Name"]);
                }
            });

            function addMercuryCols(tblId, tblCols, renderer, mediaType) {
                for (const chemName in MERCURY_TRANSFORM_RATES) {
                    for (const rateName of MERCURY_TRANSFORM_RATES[chemName]) {
                        tblCols.push({
                            'data': mediaType + '.mercury_transformation_rates.' + chemName + '.' + rateName + '.value',
                            'bSortable': false,
                            'render': renderer(
                                rateName + '.' + mediaType,
                                "ErrorValidation.isValidNumber(this)",
                                MEDIA_COMPARTMENT_NAME_MAP[mediaType]
                            )
                        });
                    }
                }
                if ($.isEmptyObject(MERCURY_TRANSFORM_RATES)) {
                    for (let i = 0; i < 4; i++) { // add 4 empty & hidden cols
                        tblCols.push({
                            'data': 'parcelid',
                            'visible': false,
                            'render': () => ''
                        });
                    }
                }
            }

            let render_function_air = function(param_name, err_validation_type){
                let ret_func = function (data, type, row) {
                            let parcel_info = create_parcel_object(param_name, row, data);
                            let this_cell_data = row.hasAir == "Yes" ? data : "N/A"
                            let this_cell_prop = row.hasAir == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                            let this_err_html = 'onblur="' + err_validation_type + '"';
                            return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                        }
                return ret_func
            }

            const airTblCols = [
                {
                    'data': "Surface Parcel",
                    'className': 'font-weight-bold rightBorder freeze-column'
                },
                {
                    'data': "Air.DustParticleConcentration",
                    'bSortable': false,
                    'render': render_function_air('dustLoad', "ErrorValidation.isPositiveValue(this)")
                },
                {
                    'data': "Air.DustParticleDensity",
                    'bSortable': false,
                    'render':  render_function_air('dustDensity',"ErrorValidation.isPositiveValue(this)")
                },
                {
                    'data': "Air.AirDensity",
                    'bSortable': false,
                    'render':  render_function_air('airDensity', "ErrorValidation.isPositiveValue(this)")
                },
                {
                    'data': "Air.DustParticleOrganicMatter",
                    'bSortable': false,
                    'render':  render_function_air('fractionOrganicMatterOnParticulates', "ErrorValidation.isValidFraction(this)")
                }
            ];

            addMercuryCols(air_tblId, airTblCols, render_function_air, 'Air');

            air_apTable =  $(air_tblId).removeAttr('width').dataTable({
                destroy: true,
                data: table_data,
                paging: false,
                bFilter: false,
                info: false,
                bAutoWidth: false,
                scrollX: true,
                scrollY: 500,
                fnCreatedRow: function (row, data, index) {
                    $(row).find("td.rightBorder").addClass("freeze-column")
                },
                columns: setDynamicColumnWidths(air_tblId, airTblCols, table_data),
                initComplete: function (settings, json) {
                    // $(air_tblId).wrap("<div style='overflow:auto; width: 100%; position:relative;'></div>");
                    $(".dataTables_scrollBody").css({"max-height": "500px", "height": "100%"});
                    $(".dataTables_scrollBody").addClass('wrap-text-scrollbody');
                    $(".dataTables_scrollHead").addClass('wrap-text-scrollhead');
                    appendHeaderOptions(this, skip_columns=["Parcel Name"]);
                    $('[data-toggle="tooltip"]').tooltip()
                    $('[data-toggle="popover"]').popover()
                }
            });

            let render_function_soil = function(param_name, err_validation_type, comp_name){
                let ret_func = function (data, type, row) {
                    let parcel_info = create_parcel_object(param_name, row, data, comp_name);
                    let this_cell_data = row.hasLand == "Yes" ? data : "N/A"
                    let this_cell_prop = row.hasLand == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                    let this_err_html = 'onblur="' + err_validation_type + '"';
                    return create_cell_html(parcel_info, data, this_cell_prop, this_cell_data, err_html=this_err_html);
                }
                return ret_func
            }

            const soilTblCols = [
                {
                    'data': "Surface Parcel",
                    'className': 'font-weight-bold rightBorder freeze-column'
                },
                {
                    data: "Surface_Soil.Tillage",
                    'render': function (data, type, row) {
                        let parcel_info = create_parcel_object('tillage', row, data);
                        let this_cell_data = row.hasLand == "Yes" ? data : "N/A"
                        let this_cell_prop = row.hasLand == "Yes" ? 'editableCell badge badge-light' : 'text-muted'
                        return "<select class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info +"' name='select_tillage' style='display:none'>" +
                                    "<option value='Yes'>Yes</option>" +
                                    "<option value='No'>No</option>" +
                                "</select>" +
                               "<label class='" + this_cell_prop +" fishfoodweb'>" + this_cell_data + "</label>"
                    }
                },
                {
                    'data': "Surface_Soil.SurfaceSoilThick",
                    'bSortable': false,
                    'render': render_function_soil('surfaceSoilThickness', "ErrorValidation.isPositiveValue(this)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.VolumeFraction_Vapor',
                    'bSortable': false,
                    'render':  render_function_soil('VolumeFraction_Vapor',"ErrorValidation.isValidFraction(this)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.AverageVerticalVelocity',
                    'bSortable': false,
                    'render':  render_function_soil('AverageVerticalVelocity',"ErrorValidation.isWithinRange(this, 'td', Number.MIN_VALUE)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.AirSoilBoundaryThickness',
                    'bSortable': false,
                    'render':  render_function_soil('AirSoilBoundaryThickness',"ErrorValidation.isPositiveValue(this)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.rho',
                    'bSortable': false,
                    'render':  render_function_soil('rho',"ErrorValidation.isPositiveValue(this)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.FractionofAreaAvailableforErosion',
                    'bSortable': false,
                    'render':  render_function_soil('FractionofAreaAvailableforErosion',"ErrorValidation.isValidFraction(this)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.FractionofAreaAvailableforRunoff',
                    'bSortable': false,
                    'render':  render_function_soil('FractionofAreaAvailableforRunoff',"ErrorValidation.isValidFraction(this)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.FractionofAreaAvailableforVerticalDiffusion',
                    'bSortable': false,
                    'render':  render_function_soil('FractionofAreaAvailableforVerticalDiffusion',"ErrorValidation.isValidFraction(this)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.FractionSand',
                    'bSortable': false,
                    'render':  render_function_soil('FractionSand',"ErrorValidation.isValidFraction(this)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.OrganicCarbonContent',
                    'bSortable': false,
                    'render':  render_function_soil('OrganicCarbonContent',"ErrorValidation.isValidFraction(this)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.pH',
                    'bSortable': false,
                    'render':  render_function_soil('pH',"ErrorValidation.isWithinRange(this, 'td', 0, 14)", "Soil_Surface")
                },
                {
                    'data': 'Surface_Soil.TotalRunoffRate',
                    'bSortable': false,
                    'render':  render_function_soil('TotalRunoffRate',"ErrorValidation.isPositiveValue(this)", "Soil_Surface")
                },
                {
                    'data': "Surface_Soil.VolumeFraction_Liquid",
                    'bSortable': false,
                    'render': render_function_soil('VolumeFraction_Liquid',"ErrorValidation.isValidFraction(this)", "Soil_Surface")
                }
            ];

            addMercuryCols(soil_tblId, soilTblCols, render_function_soil, 'Surface_Soil');

            soil_apTable =  $(soil_tblId).removeAttr('width').dataTable({
                destroy: true,
                data: table_data,
                paging: false,
                bFilter: false,
                info: false,
                bAutoWidth: false,
                scrollX: true,
                scrollY: 500,
                fnCreatedRow: function (row, data, index) {
                    $(row).find("td.rightBorder").addClass("freeze-column")
                },
                columns: setDynamicColumnWidths(soil_tblId, soilTblCols, table_data),
                initComplete: function (settings, json) {
                    // $(soil_tblId).wrap("<div style='overflow:auto; width: 100%; position:relative;'></div>");
                    $(".dataTables_scrollBody").css({"max-height": "500px", "height": "100%"});
                    $(".dataTables_scrollBody").addClass('wrap-text-scrollbody');
                    $(".dataTables_scrollHead").addClass('wrap-text-scrollhead');
                    appendHeaderOptions(this, skip_columns=["Parcel Name", "Tillage"]);
                    $('[data-toggle="tooltip"]').tooltip()
                    $('[data-toggle="popover"]').popover()
                }
            });

            const rootTblCols = [
                {
                    'data': "Surface Parcel",
                    'className': 'font-weight-bold rightBorder freeze-column'
                },
                {
                    'data': "Root_Zone.RootSoilThick",
                    'bSortable': false,
                    'render': render_function_soil('rootSoilThickness',"ErrorValidation.isPositiveValue(this)")
                },
                {
                    'data': 'Root_Zone.VolumeFraction_Vapor',
                    'bSortable': false,
                    'render':  render_function_soil('VolumeFraction_Vapor',"ErrorValidation.isValidFraction(this)", "Soil_Root_Zone")
                },
                {
                    'data': 'Root_Zone.AverageVerticalVelocity',
                    'bSortable': false,
                    'render':  render_function_soil('AverageVerticalVelocity',"ErrorValidation.isWithinRange(this, 'td', Number.MIN_VALUE)", "Soil_Root_Zone")
                },
                {
                    'data': 'Root_Zone.rho',
                    'bSortable': false,
                    'render':  render_function_soil('rho',"ErrorValidation.isPositiveValue(this)", "Soil_Root_Zone")
                },
                {
                    'data': 'Root_Zone.FractionSand',
                    'bSortable': false,
                    'render':  render_function_soil('FractionSand',"ErrorValidation.isValidFraction(this)", "Soil_Root_Zone")
                },
                {
                    'data': 'Root_Zone.OrganicCarbonContent',
                    'bSortable': false,
                    'render':  render_function_soil('OrganicCarbonContent',"ErrorValidation.isValidFraction(this)", "Soil_Root_Zone")
                },
                {
                    'data': 'Root_Zone.pH',
                    'bSortable': false,
                    'render':  render_function_soil('pH',"ErrorValidation.isWithinRange(this, 'td', 0, 14)", "Soil_Root_Zone")
                },
                {
                    'data': "Root_Zone.VolumeFraction_Liquid",
                    'bSortable': false,
                    'render': render_function_soil('VolumeFraction_Liquid',"ErrorValidation.isValidFraction(this)", "Soil_Root_Zone")
                }
            ];

            addMercuryCols(root_tblId, rootTblCols, render_function_soil, 'Root_Zone');

            root_apTable =  $(root_tblId).removeAttr('width').dataTable({
                destroy: true,
                data: table_data,
                paging: false,
                bFilter: false,
                info: false,
                bAutoWidth: false,
                scrollX: true,
                scrollY: 500,
                fnCreatedRow: function (row, data, index) {
                    $(row).find("td.rightBorder").addClass("freeze-column")
                },
                columns: setDynamicColumnWidths(root_tblId, rootTblCols, table_data),
                initComplete: function (settings, json) {
                    // $(root_tblId).wrap("<div style='overflow:auto; width: 100%; position:relative;'></div>");
                    $(".dataTables_scrollBody").css({"max-height": "500px", "height": "100%"});
                    $(".dataTables_scrollBody").addClass('wrap-text-scrollbody');
                    $(".dataTables_scrollHead").addClass('wrap-text-scrollhead');
                    appendHeaderOptions(this, skip_columns=["Parcel Name"]);
                    $('[data-toggle="tooltip"]').tooltip()
                    $('[data-toggle="popover"]').popover()
                }
            });

            const vadoseTblCols = [
                {
                    'data': "Surface Parcel",
                    'className': 'font-weight-bold rightBorder freeze-column'
                },
                {
                    'data': "Vadose_Zone.VadoseZoneSoilThick",
                    'bSortable': false,
                    'render': render_function_soil('vadoseSoilThickness', "ErrorValidation.isPositiveValue(this)")
                },
                {
                    'data': 'Vadose_Zone.VolumeFraction_Vapor',
                    'bSortable': false,
                    'render':  render_function_soil('VolumeFraction_Vapor',"ErrorValidation.isValidFraction(this)", "Soil_Vadose_Zone")
                },
                {
                    'data': 'Vadose_Zone.AverageVerticalVelocity',
                    'bSortable': false,
                    'render':  render_function_soil('AverageVerticalVelocity',"ErrorValidation.isWithinRange(this, 'td', Number.MIN_VALUE)", "Soil_Vadose_Zone")
                },
                {
                    'data': 'Vadose_Zone.rho',
                    'bSortable': false,
                    'render':  render_function_soil('rho',"ErrorValidation.isPositiveValue(this)", "Soil_Vadose_Zone")
                },
                {
                    'data': 'Vadose_Zone.FractionSand',
                    'bSortable': false,
                    'render':  render_function_soil('FractionSand',"ErrorValidation.isValidFraction(this)", "Soil_Vadose_Zone")
                },
                {
                    'data': 'Vadose_Zone.OrganicCarbonContent',
                    'bSortable': false,
                    'render':  render_function_soil('OrganicCarbonContent',"ErrorValidation.isValidFraction(this)", "Soil_Vadose_Zone")
                },
                {
                    'data': 'Vadose_Zone.pH',
                    'bSortable': false,
                    'render':  render_function_soil('pH',"ErrorValidation.isWithinRange(this, 'td', 0, 14)", "Soil_Vadose_Zone")
                },
                {
                    'data': "Vadose_Zone.VolumeFraction_Liquid",
                    'bSortable': false,
                    'render': render_function_soil('VolumeFraction_Liquid',"ErrorValidation.isValidFraction(this)", "Soil_Vadose_Zone")
                }
            ];

            addMercuryCols(vadose_tblId, vadoseTblCols, render_function_soil, 'Vadose_Zone');

            vadose_apTable =  $(vadose_tblId).removeAttr('width').dataTable({
                destroy: true,
                data: table_data,
                paging: false,
                bFilter: false,
                info: false,
                bAutoWidth: false,
                scrollX: true,
                scrollY: 500,
                fnCreatedRow: function (row, data, index) {
                    $(row).find("td.rightBorder").addClass("freeze-column")
                },
                columns: setDynamicColumnWidths(vadose_tblId, vadoseTblCols, table_data),
                initComplete: function (settings, json) {
                    // $(vadose_tblId).wrap("<div style='overflow:auto; width: 100%; position:relative;'></div>");
                    $(".dataTables_scrollBody").css({"max-height": "500px", "height": "100%"});
                    $(".dataTables_scrollBody").addClass('wrap-text-scrollbody');
                    $(".dataTables_scrollHead").addClass('wrap-text-scrollhead');
                    appendHeaderOptions(this, skip_columns=["Parcel Name"]);
                    $('[data-toggle="tooltip"]').tooltip()
                    $('[data-toggle="popover"]').popover()
                }
            });

            const gwTblCols = [
                {
                    'data': "Surface Parcel",
                    'className': 'font-weight-bold rightBorder freeze-column'
                },
                {
                    'data': "Groundwater.GroundwaterZoneSoilThick",
                    'bSortable': false,
                    'render': render_function_soil('groundwaterZoneSoilThick', "ErrorValidation.isPositiveValue(this)")
                },
                {
                    'data': 'Groundwater.rho',
                    'bSortable': false,
                    'render':  render_function_soil('rho',"ErrorValidation.isPositiveValue(this)", "Groundwater")
                },
                {
                    'data': 'Groundwater.FractionSand',
                    'bSortable': false,
                    'render':  render_function_soil('FractionSand',"ErrorValidation.isValidFraction(this)", "Groundwater")
                },
                {
                    'data': 'Groundwater.OrganicCarbonContent',
                    'bSortable': false,
                    'render':  render_function_soil('OrganicCarbonContent',"ErrorValidation.isValidFraction(this)", "Groundwater")
                },
                {
                    'data': 'Groundwater.pH',
                    'bSortable': false,
                    'render':  render_function_soil('pH',"ErrorValidation.isWithinRange(this, 'td', 0, 14)", "Groundwater")
                },
                {
                    'data': 'Groundwater.Porosity',
                    'bSortable': false,
                    'render':  render_function_soil('Porosity',"ErrorValidation.isValidFraction(this)", "Groundwater")
                }
            ];

            addMercuryCols(gw_tblId, gwTblCols, render_function_soil, 'Groundwater');

            gw_apTable =  $(gw_tblId).removeAttr('width').dataTable({
                destroy: true,
                data: table_data,
                paging: false,
                bFilter: false,
                info: false,
                scrollX: true,
                scrollY: 500,
                bAutoWidth: false,
                fnCreatedRow: function (row, data, index) {
                    $(row).find("td.rightBorder").addClass("freeze-column")
                },
                columns: setDynamicColumnWidths(gw_tblId, gwTblCols, table_data),
                initComplete: function (settings, json) {
                    // $(gw_tblId).wrap("<div style='overflow:auto; width: 100%; position:relative;'></div>");
                    $(".dataTables_scrollBody").css({"max-height": "500px", "height": "100%"});
                    $(".dataTables_scrollBody").addClass('wrap-text-scrollbody');
                    $(".dataTables_scrollHead").addClass('wrap-text-scrollhead');
                    appendHeaderOptions(this, skip_columns=["Parcel Name"]);
                    $('[data-toggle="tooltip"]').tooltip()
                    $('[data-toggle="popover"]').popover()
                }
            });

            let sort_order = "asc"
            $('.sortClass').click(function(e){
                e.preventDefault();
                let Table = $(air_tblId, air_tblId, root_tblId, vadose_tblId, gw_tblId).dataTable()
                let cellIndex = $(this).closest("th").index()
                Table.fnSort([[cellIndex,sort_order]]);//use asc/desc as you want
                sort_order= sort_order == "desc" ? "asc" : "desc"
            });

            $('label.editableCell').click(function () {
                $(this).siblings("input").show()
                $(this).siblings("select").show()
                $(this).prev("input").focus()
                $(this).prev("select").focus()
                $(this).hide();
            });

            // save modified cell
            $(`input.editableCell, select.editableCell`).blur(function () {
                let focusTblId = $(this).closest(`table`).attr('id');
                if (`#${focusTblId}` !== surfPrecip_tblId && `#${focusTblId}` !== air_tblId && `#${focusTblId}` !== soil_tblId && `#${focusTblId}` !== root_tblId
                && `#${focusTblId}` !== vadose_tblId && `#${focusTblId}` !== gw_tblId) {
                    return;
                }

                let data = $(this).val();
                let $label = $(this).next("label");
                $label.siblings("input").hide();
                $label.show().text(data);

                let is_valid = elementIsValid($(this).parent());

                if (`#${focusTblId}` === surfPrecip_tblId) {
                    if (is_valid) {
                        submit_spatially_varying_row(focusTblId, this, data);
                    }
                    else {
                        let parcel_info = $(this).data('parcelinfo')
                        parcel_info[parcel_info.findIndex(e => e.type == 'input')].value = data
                    }
                } else if (is_valid) {
                    submit_abiotic_cell(focusTblId, this, data);
                }
            })
        }

        function create_parcel_object(id, row, data, comp_name=undefined){
            let parcel_info = [{
                                'type': 'data',
                                'name': 'id',
                                'value': row.parcelid,
                            },{
                                'type': 'data',
                                'name': 'field',
                                'value': id
                            },{
                                'type': 'input',
                                'name': id,
                                'value': data
                            }]
            if (comp_name) {
                let cn_obj = {
                    'type': 'data',
                    'name': 'comp_name',
                    'value': comp_name
                }
                parcel_info.push(cn_obj)
            }
            return JSON.stringify(parcel_info)
        }

        function create_cell_html(parcel_info, data, cell_prop, cell_data, err_html=""){
            return "<input "+err_html+" class='editableCell form-control form-control-sm' data-parcelinfo='" + parcel_info +"' type='text' value='" +  data + "' style='display:none'>" +
                    "<label "+err_html+" class='" + cell_prop + "'>" + cell_data + "</label>"
        }

        function submit_abiotic_cell(focusTblId, cell, data) {
            let parcel_info = $(cell).data('parcelinfo')
            if (parcel_info) {
                let ls_info = "Abiotic_Prop_update"
                LoadingScreen.show(ls_info)
                let old_data = parcel_info[parcel_info.findIndex(e => e.type == 'input')].value
                parcel_info[parcel_info.findIndex(e => e.type == 'input')].value = data
                let param_store_key = "soil_params"
                TRIM.api.updateParcel('{{ scenario.id }}', parcel_info).on('load', (rsp)=>{
                    update_data_store_callback(rsp, cell, parcel_info, param_store_key, data, old_data)
                    if (parcel_info[2].name == 'surfaceSoilThickness') {
                        getParcelByKey('id', parcel_info[0].value).surfaceSoilThickness = parseFloat(data);
                    }
                    updateMercuryTransformRate(parcel_info)
                    LoadingScreen.hide(ls_info)
                })
                table_data = get_Data_from_table(`#${focusTblId}`)
            }
        }

        function isMercuryTransformation(field) {
            const hgRates = [
                'MethylationRate',
                'OxidationRate',
                'ReductionRate',
                'DemethylationRate'
            ];
            const rateField = field.split('.')[0];
            return hgRates.indexOf(rateField) > -1;
        }

        function updateMercuryTransformRate(parcel_info) {
            const field = parcel_info[2].name;
            if (!isMercuryTransformation(field)) {
                return;
            }
            const pcl = getParcelByKey('id', parcel_info[0].value);
            const media = field.split('.')[1];
            const rate = field.split('.')[0];
            const val = parcel_info[2].value;
            const mtrs = (pcl.mercury_transformation_rates[media] || {});
            for (const chem in mtrs) {
                for (const targetRate in mtrs[chem]) {
                    if (targetRate == rate) {
                        mtrs[chem][rate].value = Number(val);
                        break;
                    }
                }
            }
        }

        function submit_spatially_varying_row(focusTblId, cell, data) {
            $(cell).parents("tr").find("input.editableCell").each((i,f)=>{
                let parcel_info = $(f).data('parcelinfo');
                if (parcel_info) {
                    let ls_info = 'submit_sv_val'
                    LoadingScreen.show(ls_info);
                    let old_data = parcel_info[parcel_info.findIndex(e => e.type == 'input')].value
                    if (f == cell) {
                        parcel_info[parcel_info.findIndex(e => e.type == 'input')].value = data;
                    }
                    TRIM.api.updateParcel('{{ scenario.id }}', parcel_info).on('load', (rsp)=>{
                        if (rsp.target.status === 200) {
                            let field = parcel_info[2];
                            let pcl = getParcelByKey('id', parcel_info[0].value);
                            if (field.name == "EvapotranspirationFractions") {
                                pcl.evapotrans_frac = Number(field.value);
                            }
                            else if (field.name == "GroundwaterSeepageFractions") {
                                pcl.seepage_frac = Number(field.value);
                            }
                            else if (field.name == "RunoffFractions") {
                                pcl.runoff_fraction = Number(field.value);
                                pcl.soil_params.Soil_Surface.TotalRunoffRate = JSON.parse(rsp.target.responseJSON).TotalRunoffRate;
                                updateAbioticData();
                            }
                        }
                        LoadingScreen.hide(ls_info);
                    })
                    table_data = get_Data_from_table(`#${focusTblId}`);
                }
            })
        }

        $("#abiotic-usda-soil-btn").on('click', (e) => {
            e.preventDefault();
            LoadingScreen.show("update_soil_data")
            scenario_info = [{
                'type': 'data',
                'name': 'id',
                'value': TRIM.store.currentScenario.id
            },{
                'type': 'data',
                'name': 'field',
                'value': 'soil_api'
            },{
                'type': 'input',
                'name': 'soil_api',
                'value': true
            }]
            TRIM.api.updateScenario(scenario_info).on('load', function() {
                LoadingScreen.hide('update_soil_data');
                $('#save-btn').click();
            });
        });

        function get_Data_from_table(thisTableID){
            var myRows = [];
            var headersText = [];
            var head_section = thisTableID + ' thead th'
            var $headers = $(head_section);

            // Loop through grabbing everything
            thisRows = thisTableID + ' tbody tr'
            var $rows = $(thisRows).each(function(index) {
                $cells = $(this).find("td");
                myRows[index] = {};
                $cells.each(function(cellIndex) {
                    // Set the header text
                    if(headersText[cellIndex] === undefined) {
                        headersText[cellIndex] = $($headers[cellIndex]).text();
                    }
                    // Update the row object with the header/cell combo
                    myRows[index][headersText[cellIndex]] = $(this).text();
                });
            });
            return myRows
        }

        function updateAbioticData() {
            if (!TRIM.store.currentScenario.parcels) {
                // Parcels haven't loaded yet; wait a bit and try again
                setTimeout(function() { updateAbioticData(); }, 1000);
                return;
            }
            if ($(form).filter(':not(.form-loaded)').length) {
                // Form hasn't loaded yet; wait a bit and try again
                setTimeout(function() { updateAbioticData(); }, 1000);
                return;
            }

            function getPropOrDefault(pcl, propName, defaultName) {
                const v = pcl[propName];
                if (v === null || v === "") {
                    return TRIM.forms.fetchDefault(defaultName)
                }
                return v;
            }

            function getPrecipitationProps(pcl) {
                return {
                    'EvapotranspirationFractions': getPropOrDefault(pcl, 'evapotrans_frac', 'EvapotranspirationFractions'),
                    'GroundwaterSeepageFractions': getPropOrDefault(pcl, 'seepage_frac', 'GroundwaterSeepageFractions'),
                    'RunoffFractions': getPropOrDefault(pcl, 'runoff_fraction', 'RunoffFractions')
                }
            }

            const COMMON_SOIL_GW_PROPS = [
                'rho',
                'FractionSand',
                'OrganicCarbonContent',
                'pH'
            ];

            const COMMON_SOIL_PROPS = [
                'VolumeFraction_Vapor',
                'AverageVerticalVelocity',
                "VolumeFraction_Liquid"
            ];

            function getMediaSpecificProps(targetMedia, pcl) {
                const props = {};
                if (targetMedia == 'Air') {
                    props['DustParticleConcentration'] = getPropOrDefault(pcl, 'dustLoad', 'DustParticleConcentration');
                    props['DustParticleDensity'] = getPropOrDefault(pcl, 'dustDensity', 'DustParticleDensity');
                    props['AirDensity'] = getPropOrDefault(pcl, 'airDensity', 'AirDensity');
                    props['DustParticleOrganicMatter'] = getPropOrDefault(pcl, 'fractionOrganicMatterOnParticulates', 'DustParticleOrganicMatter');
                }
                else {
                    const targetComp = MEDIA_COMPARTMENT_NAME_MAP[targetMedia]
                    const soil_params = (pcl.soil_params == undefined ? {} : pcl.soil_params[targetComp]) || {};

                    // Common soil/gw props
                    for (const propName of COMMON_SOIL_GW_PROPS) {
                        props[propName] = soil_params[propName];
                    }

                    if (targetMedia == 'Groundwater') {
                        props['GroundwaterZoneSoilThick'] = getPropOrDefault(pcl, 'groundwaterZoneThickness', 'GroundwaterZoneSoilThick');
                        props['Porosity'] = soil_params['Porosity']
                    }
                    else {
                        // Common soil props
                        for (const propName of COMMON_SOIL_PROPS) {
                            props[propName] = soil_params[propName];
                        }

                        if (targetMedia == 'Surface_Soil') {
                            props['Tillage'] = getPropOrDefault(pcl, 'soilTillage', 'Tillage');
                            props['SurfaceSoilThick'] = pcl.surface_soil_thickness;
                            props['AirSoilBoundaryThickness'] = soil_params['AirSoilBoundaryThickness']
                            props['FractionofAreaAvailableforErosion'] = soil_params['FractionofAreaAvailableforErosion']
                            props['FractionofAreaAvailableforRunoff'] = soil_params['FractionofAreaAvailableforRunoff']
                            props['FractionofAreaAvailableforVerticalDiffusion'] = soil_params['FractionofAreaAvailableforVerticalDiffusion']
                            props['TotalRunoffRate'] = soil_params['TotalRunoffRate']
                        }
                        else if (targetMedia == 'Root_Zone') {
                            // default root soil thickness depends on (0.8 - surface soil thickness)
                            let root_soil_default = Math.abs(0.8 - pcl.surface_soil_thickness);
                            props['RootSoilThick'] = (pcl.rootSoilThickness !== null ? pcl.rootSoilThickness : root_soil_default);
                        }
                        else if (targetMedia == 'Vadose_Zone') {
                            props['VadoseZoneSoilThick'] = getPropOrDefault(pcl, 'vadoseSoilThickness', 'VadoseZoneSoilThick');
                        }
                    }
                }
                const mtrs = {};
                const baseRates = (pcl.mercury_transformation_rates || {})[targetMedia];
                for (const chemName in baseRates) {
                    const safeChemName = chemName.replace(/ /g, '_');
                    mtrs[safeChemName] = {};
                    MERCURY_TRANSFORM_RATES[safeChemName] = [];
                    for (const rateName in baseRates[chemName]) {
                        mtrs[safeChemName][rateName] = baseRates[chemName][rateName];
                        MERCURY_TRANSFORM_RATES[safeChemName].push(rateName);
                    }
                }
                props['mercury_transformation_rates'] = mtrs
                return props;
            }

            let parcels = TRIM.store.currentScenario.parcels;
            let abiotic_data = [];
            for (const pcl of parcels) {
                const props = {
                    'parcelid': pcl.id,
                    'Surface Parcel': pcl.name,
                    'hasAir': pcl.hasAir,
                    'hasLand': pcl.hasLand,
                    'parcelType': pcl.parcelType,
                    'precipitation': getPrecipitationProps(pcl)
                };

                // default surface soil thickness depends on tilled/untilled
                let till_val = "untilled";
                if (pcl.soilTillage == "Yes" || pcl.soilTillage == true) {
                    till_val = "tilled";
                }
                pcl.surface_soil_thickness = (pcl?.surfaceSoilThickness ? pcl.surfaceSoilThickness : TRIM.forms.fetchDefault('SurfaceSoilThick')[till_val]);

                for (const target_media in MEDIA_COMPARTMENT_NAME_MAP) {
                    props[target_media] = getMediaSpecificProps(target_media, pcl);
                }
                abiotic_data.push(props)
            }
            console.log('abiotic data:')
            console.log(abiotic_data)
            TableRedraw(abiotic_data)
            console.log('populated abiotic form!')
            LoadingScreen.hide('abiotic_info_loading');
        }
    })

</script>
{% endblock content %}
