{% from 'macros/scenarios/custom_form_macros.html' import dimensionally_varying_subform %}

<form id="seasonal-gui"
    data-async-form="true"
    data-form-src="scenario_seasonal_dynamics_form"
>
    <section class="container px-0">
        <div class="row">
            <div class="col-sm">
                <h3 class="text-center">Litterfall</h3>
            </div>
        </div>
        <div class="sd_subsection">
            <div class="row">
                <div class="col-sm">
                    <div data-slot="true" data-target="default_seasonal_litterfall_file"></div>
                    <div class="form-text mb-2">
                        <small class="text-muted">
                            <a href="{{ url_for(
                                'static',
                                filename='templates/seasonal_dynamics_time_varying_litterfall_input.csv'
                            ) }}"
                            title="Click here to download Litterfall template">
                            Click here</a> 
                            to download the template for creating a time-varying inputs file.
                        </small>
                    </div>
                </div>
            </div>

            <div data-slot="true" data-target="coniferous_forest_litterfall">
                {{ dimensionally_varying_subform(
                    is_varying_field='time_varying',
                    use_custom_field='use_custom_file',
                    custom_file_field='custom_file',
                    var_name_fields=[
                        'field_name'
                    ],
                    static_value_fields=[
                        'static_value'
                    ]
                ) }}
            </div>

            <div data-slot="true" data-target="deciduous_forest_litterfall">
                {{ dimensionally_varying_subform(
                    is_varying_field='time_varying',
                    use_custom_field='use_custom_file',
                    custom_file_field='custom_file',
                    var_name_fields=[
                        'field_name'
                    ],
                    static_value_fields=[
                        'static_value'
                    ]
                ) }}
            </div>

            <div data-slot="true" data-target="grasses_herbs_litterfall">
                {{ dimensionally_varying_subform(
                    is_varying_field='time_varying',
                    use_custom_field='use_custom_file',
                    custom_file_field='custom_file',
                    var_name_fields=[
                        'field_name'
                    ],
                    static_value_fields=[
                        'static_value'
                    ]
                ) }}
            </div>

            <div data-slot="true" data-target="agriculture_litterfall">
                {{ dimensionally_varying_subform(
                    is_varying_field='time_varying',
                    use_custom_field='use_custom_file',
                    custom_file_field='custom_file',
                    var_name_fields=[
                        'field_name'
                    ],
                    static_value_fields=[
                        'static_value'
                    ]
                ) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <h3 class="text-center">Allow Exchange</h3>
            </div>
        </div>
        <div class="sd_subsection">
            <div class="row">
                <div class="col-sm">
                    <div data-slot="true" data-target="default_seasonal_allowexchange_file"></div>
                    <div class="form-text mb-2">
                        <small class="text-muted">
                            <a href="{{ url_for(
                                'static',
                                filename='templates/seasonal_dynamics_time_varying_allowexchange_input.csv'
                            ) }}" title="Click here to download Allow Exchange template">Click here</a> 
                            to download the template for creating a time-varying inputs file.
                        </small>
                    </div>
                </div>
            </div>

            <div data-slot="true" data-target="coniferous_forest_allowexchange">
                {{ dimensionally_varying_subform(
                    is_varying_field='time_varying',
                    use_custom_field='use_custom_file',
                    custom_file_field='custom_file',
                    var_name_fields=[
                        'field_name'
                    ],
                    static_value_fields=[
                        'static_value'
                    ]
                ) }}
            </div>

            <div data-slot="true" data-target="deciduous_forest_allowexchange">
                {{ dimensionally_varying_subform(
                    is_varying_field='time_varying',
                    use_custom_field='use_custom_file',
                    custom_file_field='custom_file',
                    var_name_fields=[
                        'field_name'
                    ],
                    static_value_fields=[
                        'static_value'
                    ]
                ) }}
            </div>

            <div data-slot="true" data-target="grasses_herbs_allowexchange">
                {{ dimensionally_varying_subform(
                    is_varying_field='time_varying',
                    use_custom_field='use_custom_file',
                    custom_file_field='custom_file',
                    var_name_fields=[
                        'field_name'
                    ],
                    static_value_fields=[
                        'static_value'
                    ]
                ) }}
            </div>

            <div data-slot="true" data-target="agriculture_allowexchange">
                {{ dimensionally_varying_subform(
                    is_varying_field='time_varying',
                    use_custom_field='use_custom_file',
                    custom_file_field='custom_file',
                    var_name_fields=[
                        'field_name'
                    ],
                    static_value_fields=[
                        'static_value'
                    ]
                ) }}
            </div>
        </div>
    </section>
</form>
<script>
    onDomLoad(function(e) {
        var form = document.getElementById('seasonal-gui');

        form.addEventListener('form:visible', function() {
            console.log('seasonal form visible')
            LoadingScreen.show('seasonal_info_loading');
            document.body.removeEventListener('parcels:ready', updateSeasonalData);
            document.body.addEventListener('parcels:ready', updateSeasonalData);
            TRIM.refreshParcels();
        });

        function updateSeasonalData() {
            if (!TRIM.store.currentScenario || !TRIM.store.currentScenario.parcels) {
                // Parcels haven't loaded yet; wait a bit and try again
                setTimeout(function() { updateSeasonalData(); }, 1000);
                return;
            }
            if ($(form).filter(':not(.form-loaded)').length) {
                // Form hasn't loaded yet; wait a bit and try again
                setTimeout(function() { updateSeasonalData(); }, 1000);
                return;
            }

            if (TRIM.store.currentScenario.seasonal_dynamics) {
                TRIM.forms.populate(form, TRIM.store.currentScenario.seasonal_dynamics);
                renderSeasonalForm();
            }
            else {
                TRIM.api.getSeasonalDynamics(TRIM.store.currentScenario).on('load', function () {
                    var sd = this.responseJSON.seasonal_dynamics;
                    TRIM.store.currentScenario.seasonal_dynamics = sd;
                    updateSeasonalData();
                });
                return;
            }

        }

        function renderSeasonalForm() {
            $(".sd_subsection").hide();
            $("div.sd_subsection").each((i, subsection) => enableFieldUpdates(subsection))
            let seasonal_dyn_obj = TRIM.store.currentScenario.seasonal_dynamics
            let leaves = ["coniferous", "deciduous", "grass", "agriculture"]
            leaves.forEach((e, i) => {
                let search_cbx_str = `input[type="checkbox"][id^="${e}"]`
                let search_txt_lf_str = `input[type="number"][id^="${e}"][id*="litterfall"]`
                let search_txt_ae_str = `input[type="number"][id^="${e}"][id*="allowexchange"]`
                let this_chkbx = $('#seasonal-gui').find(search_cbx_str)
                let this_text_lf = $('#seasonal-gui').find(search_txt_lf_str)
                let this_text_ae = $('#seasonal-gui').find(search_txt_ae_str)
                let val_lf = seasonal_dyn_obj[`litterfall_${e}`]
                let val_ae = seasonal_dyn_obj[`allow_exchange_${e}`]
                if (val_lf == -1 || val_ae == -1) {
                    this_chkbx.closest('div[data-slot=true]').css('display', 'none')
                }
                else {
                    $(".sd_subsection").show();
                }
                $(this_text_lf).val(val_lf)
                $(this_text_ae).val(val_ae)
                // Add Listeners for time varying input.
                // this_chkbx.change(function () {
                //
                // })
                $(this_text_lf).add(this_text_ae).blur(function () {
                    submit_seasonal_dyn_value(this)
                })
            })
            $('#coniferous_forest_litterfall_time_varying').parent().hide();
            $('#coniferous_forest_allowexchange_time_varying').parent().hide();
            console.log('populated seasonal form!')
            LoadingScreen.hide('seasonal_info_loading');
        }

        function get_form_data(elem) {
            if ($(elem).attr('name').indexOf("_field_name") === -1) {
                ErrorValidation.isPositiveValue(elem, "div");
            }
            let subsection_header = $(elem).closest("div.sd_subsection").find('h3').text()
            let sd_type = subsection_header == "Litterfall" ? "litterfall" : "allowexchange"
            let type_text = subsection_header == "Litterfall" ? subsection_header : "Allow exchange"

            // all litterfall rates must be <= 1
            if ($(elem).attr("id").includes(sd_type) && elementIsValid($(elem).parent())) {
                if (!$(elem).is("select")) {
                    ErrToolTip(elem, parseFloat($(elem).val()) <= 1.0, `${type_text} rates must be <= 1.`, "div");
                } else {
                    let bad_data = $(elem).data("seasonal").filter((e,i)=>parseFloat(e.LitterfallRate) > 1)
                    ErrToolTip(elem, bad_data.length == 0, `${type_text} rates must be <= 1.`, "div");
                }
            }

            // all allow exchange rates must be either 0 or 1
            if ($(elem).attr("id").includes("allowexchange") && elementIsValid($(elem).parent())) {
                if ($(elem).attr('name').indexOf("_field_name") === -1) {
                    let val = parseFloat($(elem).val());
                    ErrToolTip(elem, (val == 0 || val == 1), `${type_text} rates must be either 0 or 1.`, "div");
                }
            }

            let param_name = $(elem).attr("name")
            let param_info = [
                {
                    'type': 'data',
                    'name': 'id',
                    'value': TRIM.store.currentScenario.id
                }, {
                    'type': 'data',
                    'name': 'field',
                    'value': 'seasonal_' + param_name
                }, {
                    'type': 'input',
                    'name': 'seasonal_' + param_name,
                    'value': ''
                }
            ]

            let param_data = ""
            if ($(elem).attr('type') == "number") {
                param_data = $(elem).val()
            } else if ($(elem).attr("name").includes("_field_name")) {
                param_data = $(elem).attr("data-seasonal")
                param_info[param_info.findIndex(e => e.name == 'field')].value += "_TS"
                param_info[param_info.findIndex(e => e.type == 'input')].name += "_TS"
            }

            param_info[param_info.findIndex(e => e.type == 'input')].value =param_data
            console.log(param_info)
            return param_info
        }

        function submit_seasonal_dyn_value(elem) {
            let param_info = get_form_data(elem)
            if (elementIsValid($(elem).parent())){
                LoadingScreen.show('loading_results');
                let resp = TRIM.api.updateScenario(param_info).on('load',function(){
                    let val_resp = this.responseJSON
                    LoadingScreen.hide('loading_results');
                    if (val_resp?.success === false) {
                        return;
                    }
                    else if (val_resp) {
                        let val = val_resp[Object.keys(val_resp)[0]]
                        let lb_static_val = $(elem).closest('div.form-group').find("label.wt_avg_val")
                        if (lb_static_val.length > 0) {
                            lb_static_val.text(`Time-weighted average from file: ${val}`)
                        } else {
                            let lb_static_val = `<label class=wt_avg_val>Time-weighted average from file: ${val}</label>`
                            $(elem).closest('div.form-group').append(lb_static_val)
                        }
                    }
                    delete TRIM.store.currentScenario.seasonal_dynamics;
                })
            } else {
                return
            }
        }

        function enableFieldUpdates(this_subsection) {
            // var gui = $('#seasonal-gui');
            let gui = $(this_subsection).closest("div.sd_subsection")

            var fileFields = gui.find('[type="file"]');
            var selects = gui.find('select');
            var static_allow_exchange_selects = $('[id$=static_value_allow_exchange]')
            var useCustom = gui.find('[type="checkbox"][id$="use_custom_file"]');

            selects.attr('disabled', 'disabled');
            static_allow_exchange_selects.removeAttr('disabled');

            function updateFields() {
                var globalFileFiled = fileFields.filter('[name^="default_"]');
                selects.each(function() {
                    var me = $(this);

                    var subform = me.closest('.subform');
                    var customized = subform.find(
                        '[type="checkbox"][id$="use_custom_file"]');

                    var data = globalFileFiled.attr('data-filedata');
                    if (customized.prop('checked')) {
                        data = subform.find('[type="file"]').attr('data-filedata');
                    }
                    data = data || 'null';
                    data = JSON.parse(data);

                    me.html('');
                    if (data) {
                        var fields = data.fields;
                        TRIM.forms.updateSelect(this, fields, false);
                        me.removeAttr('disabled');
                    }
                    else {
                        me.attr('disabled', 'disabled');
                    }
                });
            }

            useCustom.change(function(e) {
                updateFields();
            });

            fileFields.change(function(e) {
                var me = $(this);
                var loadingRequest = 'load_' + this.id;
                LoadingScreen.show(loadingRequest);

                me.removeAttr('data-filedata');
                TRIM.api.parseFiles(this).on('load', function() {
                    try {
                        var data = JSON.parse(this.responseText);
                        if (data.files[me.attr('name')]) {
                            var myData = data.files[me.attr('name')];
                            me.attr(
                                'data-filedata',
                                JSON.stringify(myData)
                            );
                        }
                        // Make sure the file has the column with name "Date"
                        var filedata = data.files[me.attr('name')]['file_data'];
                        if (ErrorValidation.tsFileHasDateColumn(me.closest("div").siblings("label"),  filedata)) {
                            updateFields(me);
                        }
                    }
                    catch (err) {
                        alert(err);
                    }
                    finally {
                        LoadingScreen.hide(loadingRequest);
                    }
                });
            });

            gui.find('select').on('change',function (){
                let sel = $(this);
                let section = sel.closest('div.sd_subsection');
                var globalFileFiled = section.find('[type="file"][name^="default_"]');
                let data = globalFileFiled.attr('data-filedata');
                let subform = sel.closest('.subform');

                function convertDate(inputFormat) {
                    function pad(s) { return (s < 10) ? '0' + s : s; }
                    var d = new Date(inputFormat)
                    return [pad(d.getMonth()+1), pad(d.getDate()), d.getFullYear()].join('/')
                }

                let sim_start = Date.parse(TRIM.store.currentScenario["simulation_start_date"])
                let sim_end = Date.parse(TRIM.store.currentScenario["simulation_end_date"])
                if (subform.find('[type="checkbox"][id$="use_custom_file"]').prop('checked')) {
                    data = subform.find('[type="file"]').attr('data-filedata');
                }
                data = data || 'null';
                data = JSON.parse(data);
                let selected_val = $(sel).val();
                let def_data_name = $(sel).attr("data-default")
                // Restrict file data date range to the simulation period
                let new_data = data.file_data.filter(e=>Date.parse(e['Date'])>=sim_start & Date.parse(e['Date'])<=sim_end)
                // make sure we have data in the time window of simulation
                ErrorValidation.isInSimulationTimeSpan(sel, new_data)
                // if (elementIsValid($(sel).parent())) {
                    // Get only the column for this select
                    let this_sel_data = new_data.map((e, i) => {
                        let this_row = {
                            'Date': e['Date'],
                            'Hour': e['Hour'],
                            'TimeZone': e['TimeZone']
                        }
                        this_row[def_data_name] = e[selected_val]
                        return this_row
                    });
                    sel.attr('data-seasonal', JSON.stringify(this_sel_data))

                    submit_seasonal_dyn_value(sel)
                //}
            })
        }
    });
</script>

