
<form id="lake-props-gui"
    data-async-form="true"
    data-form-src="scenario_lake_props_form"
>
    <section class="container px-0">
        <div class="row">
            <div class="col-md">
                <div class="pill pill-alert col-sm">
                    <small>
                        <strong>
                            <u>Click on the table cells to edit properties</u>. 
                        </strong>
                        <br><span style='color: firebrick;'>*</span> All editable cells are required.
                    </small>
                </div>
            </div>
            <div class="col-md text-right">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="toggleData"
                        data-isactive="true" checked="checked"
                    />
                    <label class="custom-control-label" for="toggleData">
                        Show/Hide Non-Interactive Data
                    </label>
                    <sup>
                        <a href="javascript:void(0);" aria-label="Show/Hide Non-Interactive Data" title="" data-toggle="popover" data-html="true" data-placement="left" data-content="Select to show or hide properties which cannot be edited directly. These are property values which the model calculates from other property values. You have the option to see the calculated values, but you cannot change them except by changing the other property values they depend on. The help text on the non-interactive properties specifies the dependent properties, and when you click on one of the non-interactive properties then any dependent properties on this page will be highlighted in blue." data-original-title="Non-Interactive Data"><i class="fa fa-question"></i></a>
                    </sup>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="col-md mt-4 text-center">
                <h4>Water Column Properties</h4>
            </div>
        </div>
        <div class ="row">
            <div class="col-md">
                <table data-slot="true" data-target="WaterColumnTable" data-pivot="true" class="hover wrap-text" id="WaterColumnTable">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Default Value</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class = "row">
            <div class="col-md mt-4 text-center">
                <h4>Sediment Bed Properties</h4>
            </div>
        </div>
        <div class ="row">
            <div class="col-md">
                <table data-slot="true" data-target="SedimentTable" data-pivot="true" class="hover wrap-text" id="SedimentTable">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Default Value</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>
</form>
<div class="modal fade" id="inflow-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Lake Inflow</h5>
            </div>
            <div class="modal-body "></div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-dark" id="inflow-modal-close" data-dismiss="modal">Cancel</button>
                <button type="button"  id="inflow-modal-save" class="btn btn-sm btn-outline-secondary text-dark">
                    <i class="fas fa-save mr-1"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{{url_for('static', filename='css/form_styles.css')}}"/>
<script src="{{url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/jquery.dataTables.min.js') }}">
</script>
<script src="{{ url_for('static', filename='js/lib/dataTables/dataTables.bootstrap4.min.js') }}">
</script>
<script>
    onDomLoad(function() {
        const lkTblId = '#WaterColumnTable';
        const sedTblId = '#SedimentTable';

        let lkTable = $(lkTblId).removeAttr('width').DataTable({
            paging: false, bFilter: false, info: false,
            language: { emptyTable: 'No data available in table' }
        })
        let sdTable = $(sedTblId).removeAttr('width').DataTable({
            paging: false, bFilter: false, info: false,
            language: { emptyTable: 'No data available in table' }
        })

        let waterParcels = undefined;
        let default_water_data = undefined;
        let default_sed_data = undefined;
        function getTableFields(table_id) {
            waterbodies_form = TRIM.forms.get("scenario_lake_props_form");
            for (let table of waterbodies_form.fields) {
                if (table.id === table_id) {
                    let fields = table.form_definition.fields;
                    // return fields;

                    // rewrite to work with original format
                    let _data = {};
                    for (let field_grp of fields) {
                        _data[field_grp.label] = field_grp
                    }
                    return _data;
                }
            }
        }

        $('#toggleData').on('change', function(event) {
            event.preventDefault()
            if ($(this).attr("data-isactive") == "true") {
                $(this).attr("data-isactive","false")
                $('.nonEditableCell').each(function(c){
                    $(this).closest("tr").css("display","none")
                })
            } else {
                $(this).attr("data-isactive","true")
                $('.nonEditableCell').each(function(c){
                    $(this).closest("tr").css("display","")
                })
            }
        })

        function TableRedraw(table_data, table_type) {
            let tblHandle = table_type == "lake" ? lkTable : sdTable
            let tblId = table_type == "lake" ? lkTblId : sedTblId
            
            let scrollBody = $(tblId + '_wrapper').find('.dataTables_scrollBody');
            let scrollTop = scrollBody.length > 0 ? scrollBody.scrollTop() : 0;
            
            tblHandle.clear().draw();
            tblHandle.destroy()
            $(tblId).find('tbody').remove();
            $(tblId).find('thead tr th:not(:first-child)').remove();

            tblHandle = $(tblId).removeAttr('width').DataTable({
                data : table_data,
                aaSorting: [],
                paging: false,
                bFilter: false,
                info: false,
                language: { emptyTable: 'No data available in table' },
                bAutoWidth: false,
                scrollX: true,
                scrollY: 500,
                columnDefs: [
                    { width: '100%', targets: 0 },
                ],
                fnCreatedRow: function (row, data, index) {
                    $(row).find("td.rightBorder-pivoted").addClass("freeze-column")
                    $(row).find('td').each(function() {
                        wrapIcon($(this));
                    });
                },
                columns: setDynamicColumnWidths(tblId, get_pivoted_columns(tblId), table_data),
                initComplete: function (settings, json) {
                    // $(tblId).wrap("<div style='overflow:auto; width: 100%; position:relative;'></div>");
                    this.api().columns().header().to$().attr('scope', 'col');
                    $(".dataTables_scrollBody").css({"max-height": "500px", "height": "100%"});
                    $(".dataTables_scrollBody").addClass('wrap-text-scrollbody');
                    $(".dataTables_scrollHead").addClass('wrap-text-scrollhead');
                    $('[data-toggle="tooltip"]').tooltip()
                    $('[data-toggle="popover"]').popover()

                    if (scrollTop > 0) {
                        //using setTimeout to ensure DOM is fully rendered
                        setTimeout(function() {
                            let newScrollBody = $(tblId + '_wrapper').find('.dataTables_scrollBody');
                            if (newScrollBody.length > 0) {
                                newScrollBody.scrollTop(scrollTop);
                            }
                        }, 0);
                    }
                }
            });

            if (table_type == "lake") {
                lkTable = tblHandle
            }
            else if (table_type == "sed") {
                sdTable = tblHandle
            }

            tblHandle.on( 'draw', function () {
                tblHandle.columns.adjust();
            } );

            // find and highlight selected row and any associated rows used in calculations
            // NOTE: expects all calcs to include "= ("
            $(lkTblId + ', ' + sedTblId).on('click', 'tbody tr', function() {
                let color_white = "rgb(255, 255, 255)";
                let color_hover = "rgb(246, 246, 246)";
                let color_blue = "rgb(13, 202, 240, .4)";
                let color_green = "rgba(51, 170, 51, .4)";

                let selected_table = $(this).closest("table").attr("id");
                selected_table = $(`#${selected_table}`).DataTable();
                let row_text = selected_table.row(this).data().helpText;

                let lake_table = $(lkTblId).DataTable();
                let lake_columns = lake_table.column(0).data();
                lake_columns.each((name, idx)=>{
                    let iter_row = $(lake_table.row(idx).node());                
                    if (iter_row.css("background-color") !== color_white) {
                        iter_row.css("background-color", color_white);
                    }
                    if (row_text.includes("= (") && row_text.includes(name)){
                        iter_row.css("background-color", color_blue);
                    }
                })  

                let sed_table = $(sedTblId).DataTable();
                let sed_columns = sed_table.column(0).data();
                sed_columns.each((name, idx)=>{
                    let iter_row = $(sed_table.row(idx).node());
                    if (iter_row.css("background-color") !== color_white) {
                        iter_row.css("background-color", color_white);
                    }
                    if (row_text.includes("= (") && row_text.includes(name)){
                        iter_row.css("background-color", color_blue);
                    }
                })

                $(this).css("background-color", color_green);
            })

            $('label.editableCell').click(function () {
                $(this).siblings("input").show()
                $(this).siblings("select").show()
                $(this).prev("input").focus()
                $(this).prev("select").focus()
                $(this).hide();
            });

            if (tblId == lkTblId) {
                $('button.auto_calc').click(function (e) {                
                    e.preventDefault()
                    let pcl = getParcelByKey('name', $(e.currentTarget).data('parcel'));
                    pcl.surface_water.fr_autocalc_changed = true;

                    let res = 1; // placeholder, recalculated on the backend
                    $(this).removeClass("btn-outline-dark").addClass("btn-success");
                    $(this).parent().siblings("label").text(res)
                    $(this).parent().siblings("input").attr("value",res).trigger("blur");
                });

                // Calculate External Water Inflow from Other Water Bodies
                $('.inflow-modal-btn').on('click', (e) => {
                    let thisPcl = getParcelByKey('name', $(e.currentTarget).data('parcel'));

                    let body = $('#inflow-modal').find('.modal-body');
                    body.empty();
                    body.append(
                        $(`<button class="btn btn-sm btn-outline-primary float-right" id="f-reset"
                            data-toggle="tooltip" data-trigger="hover" title="Set all to 0">
                            <i class="fas fa-redo"></i>
                        </button>`)
                    );

                    $('#inflow-modal').find('.modal-title').text(`Lake Inflow into ${thisPcl.name}`);
                    $('#inflow-modal').find('.modal-title').data('parcel', thisPcl.name);

                    // init fraction select
                    for (let otherPcl of waterParcels) {
                        if (otherPcl.name == thisPcl.name) {
                            continue;
                        }
                        
                        // If thisPcl already flows into otherPcl, otherPcl can't flow into thisPcl
                        let isUsed = otherPcl.surface_water.inflow.find(_p => _p.name == thisPcl.name)?.fraction || false;
                        let fraction = thisPcl.surface_water.inflow.find(_p => _p.name == otherPcl.name)?.fraction ?? 0;
                        $(`<div class="mb-3">
                                <label class="form-label" for="f-${otherPcl.name}">Fraction of discharge from ${otherPcl.name}</label>   
                                <input class="form-control w-75 inflow-fraction" type="number"
                                    ${(isUsed) ? 'disabled':''} id="f-${otherPcl.name}" value="${fraction}"
                                    oninput="ErrorValidation.isValidFraction(this);" title="" />
                            </div> 
                        `).appendTo(body);
                    }

                    $("#inflow-modal").modal("show");
                    $('[data-toggle="tooltip"]').tooltip();
                    $(body).on('click', '#f-reset', (e) => {
                        $('.inflow-fraction').each((i, el) => {$(el).val(0)});
                    });
                });

                $("#inflow-modal-save").click(function(e){
                    e.preventDefault();
                    $(this).removeAttr("data-dismiss");

                    let new_inflow = [];
                    let is_valid = $(".inflow-fraction").toArray().every((el) => {
                        new_inflow.push({'name': $(el).attr('id').slice(2), 'fraction': +$(el).val()});
                        return elementIsValid($(el).parent());
                    });
                    
                    if (!is_valid) {
                        return;
                    }

                    let total_inflow = calculate_external_water_inflow(new_inflow);
                    let pcl = $('#inflow-modal').find('.modal-title').data('parcel');
                    pcl = getParcelByKey('name', pcl);
                    let parcel_info = [
                        {type: 'data', name: 'id', value: pcl.id},
                        {type: 'data', name: 'field', value: 'externalWaterInflow'},
                        {type: 'input', name: 'externalWaterInflow', value: total_inflow},
                        {type: 'input', name: 'allInflow', value: JSON.stringify(new_inflow)},
                        {type: 'input', name: 'parcelType', value: pcl.parcelType},
                        {type: 'input', name: 'runoff_matrix', value: JSON.stringify(TRIM.store.currentScenario.runoff_matrix)},
                        {type: 'input', name: 'watershed_areas', value: JSON.stringify(TRIM.store.currentScenario.watershed_areas)}
                    ];

                    $(this).attr("data-dismiss","modal");  
                    LoadingScreen.show('external_water_inflow');
                    TRIM.api.updateParcel(TRIM.store.currentScenario.id, parcel_info).on('load', (rsp)=>{
                        LoadingScreen.hide('external_water_inflow');
                        try {
                            pcl.surface_water= rsp.target.responseJSON;
                            updateLakeProps();
                        } catch (err) {
                            console.error(err);
                        }
                    });                                      
                });
            }

            $('input.editableCell,select.editableCell').blur(function() {
                let focusTblId = $(this).closest(`table`).attr('id');
                let elm = this;
                let this_table = $(elm).closest("table").attr("id")
                if (`#${focusTblId}` !== tblId) {
                    return;
                }
                if (!ErrorValidation.isPositiveValue(this)) {
                    return;
                }
                if (elementIsValid(($(elm).parent()))) {
                    let minAttr = elm.getAttribute('min');
                    let maxAttr = elm.getAttribute('max');
                    let min = minAttr !== null ? parseFloat(minAttr) : undefined;
                    let max = maxAttr !== null ? parseFloat(maxAttr) : undefined;
                    if (min || max)
                        if (!ErrorValidation.isWithinRange(elm, $(elm).parent(), min, max)) {
                            return;
                        }
                }
                let parcel_name = $($(this).closest("table").find("thead > tr > th")[$(this).closest("td").prevAll().length]).text();
                let pcl = getParcelByKey('name', parcel_name);
                let area = Number(pcl.area);

                let data = $(this).val();
                let $label = $(this).next("label");
                $label.siblings().hide()
                let this_cell_data = !isNaN(Number(data)) && String(data).length > 6 ? Number.parseFloat(data).toExponential(4) : data;
                $label.show().text(this_cell_data);
    
                let parcel_info = $(this).data('parcelinfo');
                if (parcel_info) {
                    parcel_info[parcel_info.findIndex(e => e.type == 'input')].value = data
                    let field_name = parcel_info[parcel_info.findIndex(e => e.name == 'field')].value

                    if (field_name == 'flush_rate') {
                        parcel_info = parcel_info.concat([
                            {
                                'type': 'input',
                                'name': 'autocalc',
                                'value': (pcl.surface_water?.fr_autocalc_changed === true)
                            }
                        ]);
                    }

                    LoadingScreen.show("Water_body_prop_update")
                    parcel_info = parcel_info.concat([
                        {type: 'input', name: 'parcelType', value: pcl.parcelType},
                        {type: 'input', name: 'runoff_matrix', value: JSON.stringify(TRIM.store.currentScenario.runoff_matrix)},
                        {type: 'input', name: 'watershed_areas', value: JSON.stringify(TRIM.store.currentScenario.watershed_areas)}
                    ]);
                    TRIM.api.updateParcel(TRIM.store.currentScenario.id, parcel_info).on('load', (rsp)=>{
                        if (rsp.target.status === 200) {
                            if ('wc_props' in rsp.target.responseJSON) {
                                pcl.surface_water= rsp.target.responseJSON;
                            }
                            else {
                                updateMercuryTransformRate(parcel_info);
                            }
                            updateLakeProps();
                        }
                        LoadingScreen.hide("Water_body_prop_update");
                    });
                }
            })
        }

        function isMercuryTransformation(field) {
            const hgRates = [
                'MethylationRate',
                'OxidationRate',
                'ReductionRate',
                'DemethylationRate'
            ];
            const rateField = field.split('.')[0];
            return hgRates.indexOf(rateField) > -1;
        }

        function updateMercuryTransformRate(parcel_info) {
            const field = parcel_info[2].name;
            if (!isMercuryTransformation(field)) {
                return;
            }
            const pcl = getParcelByKey('id', parcel_info[0].value);
            const media = field.split('.')[1];
            const rate = field.split('.')[0];
            const val = parcel_info[2].value;
            const mtrs = (pcl.mercury_transformation_rates[media] || {});
            for (const chem in mtrs) {
                for (const targetRate in mtrs[chem]) {
                    if (targetRate == rate) {
                        mtrs[chem][rate].value = Number(val);
                        break;
                    }
                }
            }
        }

        var form = document.getElementById('lake-props-gui');

        form.addEventListener('form:visible', function() {
            console.log('lake props form visible')
            LoadingScreen.show('lake_props_loading');
            document.body.removeEventListener('parcels:ready', updateLakeProps);
            document.body.addEventListener('parcels:ready', updateLakeProps);
            TRIM.refreshParcels();
            
            LoadingScreen.show('matrix_loading');
            TRIM.api.getRunoffMatrix(TRIM.store.currentScenario).on('load', function () {
                TRIM.store.currentScenario.runoff_matrix = this.responseJSON.runoff_matrix;
                TRIM.store.currentScenario.watershed_areas = this.responseJSON.watershed_areas;
                LoadingScreen.hide('matrix_loading');
            });
        });

        function get_pivoted_columns(tblId) {
            let table_header = tblId + '>thead>tr'
            let cols = [
                {
                    'data': "Property",
                    'bSortable': false,
                    'className': 'font-weight-bold rightBorder-pivoted freeze-column',
                    'render': function (data, type, row){
                        let help_text = row.helpText;
                        let tooltip = row.unit || row.tooltip;
                        return  `<label data-toggle='tooltip' data-placement='top' data-html='true' title='${tooltip}'>${data}</label>
                        <sup>
                            <a href='javascript:void(0);'
                                title='${data}'
                                aria-label='${data}'
                                data-trigger='focus'
                                data-toggle='popover'
                                data-html='true'
                                data-placement='right'
                                data-content='${help_text}'>
                                    <i class='fa fa-question'></i>
                            </a>
                        </sup>`;
                    }
                }
            ];
            
            function make_autocalc_btn(pcl) {
                let props = (pcl.surface_water.fr_autocalc === true) ? 'btn-success' : 'btn-outline-dark';
                return `<p>
                    <button class='btn btn-sm auto_calc ${props}' data-parcel='${pcl.name}'>
                        <small>Auto-calculate</small>
                    </button></p>`;
            };

            waterParcels.forEach(function (e, i) {
                if ($(table_header).find("th").length < (waterParcels.length + 1)) {
                    $(table_header).append("<th>" + e.name + "</th>")
                }
                cols.push({
                    'data': e.name,
                    'bSortable': false,
                    'render': function (data, type, row) {
                        let parcel_info = [{
                            'type': 'data',
                            'name': 'id',
                            'value': e.id,
                        },{
                            'type': 'data',
                            'name': 'field',
                            'value': String(row.shortProperty)
                        },{
                            'type': 'input',
                            'name': String(row.shortProperty),
                            'value': data
                        }]
                        parcel_info = JSON.stringify(parcel_info)                        
                        let this_cell_data = !isNaN(Number(data)) && String(data).length > 6 ? Number.parseFloat(data).toExponential(4) : data;
                        let this_cell_prop = row.isEditable ? 'editableCell badge badge-light' : 'nonEditableCell text-muted';
                        let min = row.min !== undefined ? " min='" + row.min + "' " : "";
                        let max = row.max !== undefined ? " max='" + row.max + "' " : "";

                        let inflow_button = "";
                        let autocalc_button = "";

                        if (row.shortProperty == 'externalWaterInflow') {
                            inflow_button = `<a class="inflow-modal-btn badge badge-secondary-accent ml-2" data-parcel='${e.name}'><i class="fa fa-list"></i></a>`;
                        }
                        else if (row.shortProperty == 'flush_rate') {
                            autocalc_button = make_autocalc_btn(e);
                        }

                        return `<input class='editableCell form-control form-control-sm' type='text' style='display:none'
                                    data-parcelinfo='${parcel_info}' value='${data}' ${min} ${max} />
                                <label class='${this_cell_prop}'>${this_cell_data}</label>
                                ${autocalc_button} ${inflow_button}`;
                    }
                })
            })
            return cols
        }

        function calculate_external_water_inflow(inflow_data) {
            // [{'parcel': 'w1', 'fraction': 0.001}, ...]
            let total_inflow = 0;
            for (let inflow of inflow_data) {
                let pcl = getParcelByKey('name', inflow.name);
                let wc_discharge_vol_rate = pcl.surface_water.wc_props.discharge_vol_rate;
                total_inflow += wc_discharge_vol_rate * Number(inflow.fraction);
            }
            return Number.parseFloat(total_inflow).toExponential(5);
        }

        function updateLakeProps() {
            if (!TRIM.store.currentScenario || !TRIM.store.currentScenario.parcels) {
                // Parcels haven't loaded yet; wait a bit and try again
                setTimeout(function() { updateLakeProps(); }, 1000);
                return;
            }

            // avoid stacking events... clean this all up eventually
            $(lkTblId).off();
            $(sedTblId).off();
            $("label.editableCell").off();
            $("input.editableCell,select.editableCell").off();
            $("button.auto_calc").off();
            $("#inflow-modal-save").off();
            $(".inflow-modal-btn").off();
           
            waterParcels = TRIM.store.currentScenario.parcels.filter(
                e => e.parcelType == "Water Only" || e.parcelType == "Water & Air"
            );
            default_water_data = getTableFields('WaterColumnTable');
            default_sed_data = getTableFields('SedimentTable');

            const water_data = []
            const sed_data = []
            const water_properties = Object.keys(default_water_data)
            const sed_properties = Object.keys(default_sed_data)
            
            try {
            if (waterParcels.length === 0) {
                $(lkTblId + ' tbody:gt(0)').remove();
                $(sedTblId + ' tbody:gt(0)').remove();
                return;
            }

            const mercuryTransformations = [
                'MethylationRate', 'OxidationRate', 'ReductionRate', 'DemethylationRate'
            ];
            const hasHg = (waterParcels[0]['mercury_transformation_rates'] != undefined);
            water_properties.forEach(function (p, i) {
                const shortName = default_water_data[p]['id'];
                const isHg = (mercuryTransformations.indexOf(shortName.split('.')[0]) > -1);
                if (isHg && !hasHg) {
                    return;
                }

                const this_water_property = {};
                this_water_property["min"] = default_water_data[p]['min'];
                this_water_property["max"] = default_water_data[p]['max'];
                this_water_property["shortProperty"] = shortName;
                this_water_property["isEditable"] = !default_water_data[p]['readonly'];
                this_water_property["helpText"] = default_water_data[p]['help'] || undefined;
                let defaultVal = default_water_data[p]['default'];
                let defaultUnit = default_water_data[p]['tooltip'];
                waterParcels.forEach(function (e, i) {
                    this_water_property['Property'] = p;
                    if (isHg) {
                        const rateName = shortName.split('.')[0];
                        let src = e['mercury_transformation_rates']['Surface_Water'];
                        for (const chem in src) {
                            for (const rate in src[chem]) {
                                if (rate != rateName) {
                                    continue;
                                }
                                let val = src[chem][rate].value;
                                defaultVal = val != undefined ? val : defaultVal;
                                defaultUnit = src[chem][rate].unit;
                                break;
                            }
                        }
                    }
                    else {
                        let exceptions = ['Precipitation Runoff Watershed Area',
                            'Precipitation Runoff Volumetric Rate to Water Body',
                            'Precipitation Volumetric Rate to Water Body',
                            'Precipitation Seepage Volumetric Rate to Groundwater'
                        ]
                        let d = (p.startsWith("Precipitation ") && exceptions.indexOf(p) == -1 )? e : e['surface_water']['wc_props']
                        defaultVal = d[shortName] != undefined ? d[shortName] : defaultVal;
                    }
                    this_water_property[e.name] = defaultVal;
                    this_water_property["unit"] = (defaultUnit != undefined ? defaultUnit : "unitless").replace('/', ' / ').replace(/\s/g, ' ').replace(/< \/ /g, '</');
                });
                water_data.push(this_water_property)
            })
            TableRedraw(water_data, "lake")
            sed_properties.forEach(function (p, i) {
                const shortName = default_sed_data[p]['id'];
                const isHg = (mercuryTransformations.indexOf(shortName.split('.')[0]) > -1);
                if (isHg && !hasHg) {
                    return;
                }

                const this_sed_property = {}
                this_sed_property["min"] = default_sed_data[p]['min'];
                this_sed_property["max"] = default_sed_data[p]['max'];
                this_sed_property["shortProperty"] = shortName;
                this_sed_property["isEditable"] = !default_sed_data[p]['readonly'];
                this_sed_property["helpText"] = default_sed_data[p]['help'] || undefined;
                let defaultVal = default_sed_data[p]['default'];
                let defaultUnit = default_sed_data[p]['tooltip'];
                waterParcels.forEach(function (e, i) {
                    this_sed_property['Property'] = p
                    if (isHg) {
                        const rateName = shortName.split('.')[0];
                        let src = e['mercury_transformation_rates']['Sediment'];
                        for (const chem in src) {
                            for (const rate in src[chem]) {
                                if (rate != rateName) {
                                    continue;
                                }
                                let val = src[chem][rate].value;
                                defaultVal = val != undefined ? val : defaultVal;
                                defaultUnit = src[chem][rate].unit;
                                break;
                            }
                        }
                    }
                    else {
                        let d = e['surface_water']['sed_props']
                        defaultVal = d[shortName] != undefined ? d[shortName] : defaultVal;
                    }
                    this_sed_property[e.name] = defaultVal;
                    this_sed_property["unit"] = (defaultUnit != undefined ? defaultUnit : "unitless").replace('/', ' / ').replace(/\s/g, ' ').replace(/< \/ /g, '</');
                })
                sed_data.push(this_sed_property)
            })
            TableRedraw(sed_data, "sed")
        
            console.log('populated lake props form!')
            } catch(e) {
                console.error('updateLakeProps error:', e);
            } finally {
                LoadingScreen.hide('lake_props_loading');
            }
        }
    });
</script>
