fieldset {
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}
legend {
    width: inherit;
    padding: 2px;
}
/* table {
    white-space: nowrap;
} */
td.rightBorder {
    text-align: right;
    border-right: 1px solid black;
    padding: 10px
}
td.rightBorder-pivoted {
    border-right: 1px solid black;
    padding: 10px
}
td.freeze-column, th.freeze-column {
    position: sticky;
    left: 0;
    background-color: white; /* to cover other cells when scrolling */
    z-index: 1; /* to ensure the column stays on top */
}
.parcelMultiselect {
  width: 100%;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.parcelSelectOptions {
  display: none;
  border: 0.5px #7c7c7c solid;
  background-color: #ffffff;
  max-height: 150px;
  overflow-y: scroll;
}

.parcelSelectOptions label {
  display: block;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  background-color: #ffffff00;
  padding: 0 2.25rem 0 .75rem;
}

.parcelSelectOptions label:hover {
  background-color: #1e90ff;
}

table.diet{
    border:solid 1px;
    margin: 20px auto;
}

th.rotated {
    height: 220px;
    white-space: nowrap;
}

th.rotated > div {
    transform: translate(0px, 75px)
    rotate(270deg);
    width: 50px;
}

th.rotated > div > span {
  padding: 10px 0px;
}

/* For dataTables with dynamic cols */

table.wrap-text {
  table-layout: fixed;
  width: 100%;
}

table.wrap-text th {
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
}

table.wrap-text td {
  /* box-sizing: border-box; */
  white-space: normal;
  word-break: normal;
  overflow-wrap: anywhere;
}

.wrap-text-scrollbody {
  overflow-x: auto;
  overflow-y: auto;
  width: 100% !important;
}

.wrap-text-scrollhead {
  width: 100% !important;
}

.wrap-text table {
  width: 100% !important;
  min-width: 100% !important;
}

/*Legend specific*/
.leaflet-legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.leaflet-legend h4 {
  text-align: center;
  font-size: 15px;
  margin: 2px 12px 8px;
  color: #777;
}

.leaflet-legend span {
  position: relative;
  bottom: 3px;
}

.leaflet-legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.leaflet-legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.leaflet-legend.hidden {
	display: none;
}

#deposition-overlay-current-file .errors {
	color: red;
	margin-left: 20px;
}
