
{% include 'components/mirc/exposure_profiles/editor/chemical_parameter.html' %}

{% include 'components/mirc/exposure_profiles/editor/mutagenic_parameter.html' %}

{% include 'components/mirc/exposure_profiles/editor/baf_parameter.html' %}

{% include 'components/mirc/exposure_profiles/editor/plant_chemical_parameter.html' %}

{% include 'components/mirc/exposure_profiles/editor/animal_chemical_parameter.html' %}

{% include 'components/mirc/exposure_profiles/editor/breast_milk_chemical_parameter.html' %}
