
{% include 'components/scenarios/mirc/risk_scenarios/editor/chemical_parameter.html' %}

{% include 'components/scenarios/mirc/risk_scenarios/editor/mutagenic_parameter.html' %}

{% include 'components/scenarios/mirc/risk_scenarios/editor/baf_parameter.html' %}

{% include 'components/scenarios/mirc/risk_scenarios/editor/plant_chemical_parameter.html' %}

{% include 'components/scenarios/mirc/risk_scenarios/editor/animal_chemical_parameter.html' %}

{% include 'components/scenarios/mirc/risk_scenarios/editor/breast_milk_chemical_parameter.html' %}
